chezbetty/__pycache__/*
chezbetty.egg-info/*
chezbetty/scripts/__pycache__/*
*.pyc
*.pyo
development.ini
.Python
bin/
chezbetty.sqlite
chezbetty/.Python
include/
lib/
local
sessions/
bower_components/
*backup*.sql
RELEASE-VERSION
