###
# app configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/environment.html
###

[app:main]
use = egg:chezbetty

pyramid.reload_templates = true
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_debugtoolbar
    pyramid_tm

debugging = 1

# Suppress actually sending e-mails in debug mode by default. If e-mail is enabled and
# a replacement e-mail address specified, all e-mail will only go to the debug address
debugging_send_email = false
debugging_send_email_to = youraccount@testing.com

sqlalchemy.url = sqlite:///%(here)s/chezbetty.sqlite

chezbetty.default_password = chezbetty
chezbetty.host = http://chezbetty.com
chezbetty.email = chezbetty@chezbetty.com
chezbetty.ipaddr = 111.222.333.444

# These parameters are optional
# smtp.host =
# smtp.username =
# smtp.password =

ldap.server = ldap.domain.com
ldap.password = abc123
ldap.username = cn=<name>,ou=Applications,o=services

jinja2.filters =
    model_url = pyramid_jinja2.filters:model_url_filter
    route_url = pyramid_jinja2.filters:route_url_filter
    static_url = pyramid_jinja2.filters:static_url_filter
    format_currency = chezbetty.jinja2_filters:format_currency
    format_debt = chezbetty.jinja2_filters:format_debt
    pretty_date = chezbetty.jinja2_filters:pretty_date
    make_link = chezbetty.jinja2_filters:make_link
    make_user_link = chezbetty.jinja2_filters:make_user_link
    shorten = chezbetty.jinja2_filters:shorten
    add_git_version = chezbetty.jinja2_filters:add_git_version
    format_debt = chezbetty.jinja2_filters:format_debt

auth.secret = aabbcc

bitcoin.coinbase_api_key = aabb
bitcoin.coinbase_api_secret = aabb

# Use the credit card number 4242 4242 4242 4242 with any 3-digit CCV and a
# valid expiry date when testing. Stripe API will return always returns success
# for charges made on test keys.
stripe.publishable_key = aabb
stripe.secret_key = aabb

# Get these from creating a twitter app
twitter.api_key = aabb
twitter.api_secret = aabb
twitter.access_token = aabb
twitter.access_token_secret = aabb

# By default, the toolbar only appears for clients from IP addresses
# '127.0.0.1' and '::1'.
# debugtoolbar.hosts = 127.0.0.1 ::1

###
# wsgi server configuration
###

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/logging.html
###

[loggers]
keys = root, chezbetty, sqlalchemy

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_chezbetty]
level = DEBUG
handlers =
qualname = chezbetty

[logger_sqlalchemy]
level = INFO
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s
