###
# app configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/environment.html
###

[app:main]
use = egg:chezbetty

pyramid.reload_templates = true
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_debugtoolbar
    pyramid_tm

debugging = 1

sqlalchemy.url = sqlite:///%(here)s/chezbetty.sqlite

chezbetty.default_password = chezbetty
chezbetty.host = chezbetty.com
chezbetty.email = chezbetty@chezbetty.com

ldap.server = ldap.domain.com
ldap.password = abc123
ldap.username = cn=<name>,ou=Applications,o=services

jinja2.filters =
    model_url = pyramid_jinja2.filters:model_url_filter
    route_url = pyramid_jinja2.filters:route_url_filter
    static_url = pyramid_jinja2.filters:static_url_filter
    format_currency = chezbetty.jinja2_filters:format_currency
    pretty_date = chezbetty.jinja2_filters:pretty_date
    admin_item = chezbetty.jinja2_filters:admin_item
    admin_user = chezbetty.jinja2_filters:admin_user
    admin_account = chezbetty.jinja2_filters:admin_account

auth.secret = aabbcc

bitcoin.coinbase_api_key = aabb
bitcoin.coinbase_api_secret = aabb

# By default, the toolbar only appears for clients from IP addresses
# '127.0.0.1' and '::1'.
# debugtoolbar.hosts = 127.0.0.1 ::1

###
# wsgi server configuration
###

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/logging.html
###

[loggers]
keys = root, chezbetty, sqlalchemy

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_chezbetty]
level = DEBUG
handlers =
qualname = chezbetty

[logger_sqlalchemy]
level = INFO
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s
