{% extends "base.jinja2" %}
{% block title %}An Unknown Error Occurred{% endblock %}

{% block content %}

<h1>An unknown error occurred</h1>

<h3>Please e-mail chez-betty@umich.edu with a brief description of what you were
doing when this error occurred. Please include the rough time of the error as
well.</h3>

<hr />

<a href="/" class="btn btn-success btn-huge">
	Sorry for the trouble. Touch here to return to the home page.
</a>
{% if request.debug %}
<a class="btn btn-default btn-huge" href="{{ request.GET['excepting_path'] }}">Reload {{ request.GET['excepting_path'] }}</a>
{% if excepting_path in request.GET %}
<a class="btn btn-default btn-huge" href="{{ request.GET['excepting_path'] }}">Reload {{ request.GET['excepting_path'] }}</a>
{% endif %}
{% endif %}

{% endblock %}

