{% extends "base.jinja2" %}
{% block title %}Home{% endblock %}

{% block top %}{% endblock %}

{% block content %}

<style>
body {
  padding-bottom: 100px;
}
</style>

<div class="row">
  <div class="col-md-12">


    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron top">
          <img class="pull-right" src="/static/chezbetty_1000px.jpg" style="margin-top:5px;width:120px;" />

          <h1>{{ _('Welcome to Chez Betty!') }}</h1>
          <p>{{ _('The 24/7 food co-op for all members of the CSE community.') }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">

        <div class="list-group">
          <div class="list-group-item list-group-item-info list-group-item-header">Navigation</div>
          <a href="/items" class="list-group-item">{{ _('Item List') }}</a>
          {% if request.user %} {# logged in? #}
          <a href="{{ request.route_url('user_item_request') }}" class="list-group-item">{{ _('Request an Item') }}</a>
          {% else %}
          <a href="/login?redirect={{ request.route_url('user_item_request') }}" class="list-group-item">{{ _('Request an Item') }}</a>
          {% endif %}
          <a href="/about" class="list-group-item">{{ _('About') }}</a>
          <a href="/shame" class="list-group-item list-group-item-danger">{{ _('Wall of Shame') }}</a>
        </div>

      </div>

      <div class="col-md-5"></div>

      <div class="col-md-4">

        {% if not request.user %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Betty User Login</h3>
          </div>
          <div class="panel-body">
            <form class="form-horizontal" role="form" method="post" action="/login/submit">
              <div class="form-group">
                <label for="uniqname" class="col-sm-3 control-label">Uniqname</label>
                <div class="col-sm-9">
                  <input type="login" class="form-control" id="login-uniqname" name="login" placeholder="Uniqname">
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-default">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        {% else %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">You Are Logged In</h3>
          </div>
          <div class="panel-body">
            <p>
              To make a deposit and see your transactions,
              go to your <a href="/user">user</a> page.
            </p>
         </div>
        </div>
        {% endif %}
        
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">

        {% for debtor in top_debtors %}
        <div id="top-debtor-{{ loop.index }}" data-rotate-div-timeout="5000" class="{% if loop.index == 1 %}rotate-divs{% else %}rotate-divs-hidden{% endif %}">
          <div class="well">
            <h2>Do you know <strong>{{ debtor.name }}</strong> (<a href="mailto:{{ debtor.uniqname }}@umich.edu?subject=Chez Betty Balance">{{ debtor.uniqname }}</a>)?</h2>
            <h3><a target="_blank" href="https://mcommunity.umich.edu/#search:{{ debtor.uniqname }}">They</a> are number {{ loop.index }} on the Wall of Shame, with a balance of
              {{ debtor.balance|format_currency|safe }}.</h3>
            <h3>If you know {{ debtor.name }}, please encourage them to pay Betty back today.</h3>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

  </div>


</div>

{% endblock %}

{% block footer %}
<div class="navbar navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <hr />
    <p>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-en">English</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-de">Deutsch</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-fr">français</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-tw">漢語</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-cn">简体中文</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-fa">فارسی</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-ro">Română</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-es">Español</a>
      <strong>{{ _('Can you help translate Betty? Visit github.com/um-cseg/chez-betty to contribute.') }}</strong>
    </p>
    <hr />
  </div>
</div>
{% endblock %}
