<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" type="image/png" href="{{'chezbetty:static/chezbetty_32px.png'|static_url}}" />
  <link rel="stylesheet" href="{{'chezbetty:static/css/lib/bootstrap/bootstrap.min.css'|static_url}}" />

  <title>{% if request.debug %}[ DEBUG ]{% endif %} Login | Chez Betty</title>

</head>
<body>

<style>
body {
  background-color: #eee;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

button {
  margin-top: 10px;
}
</style>

<div class="container">

  <div class="col-md-12">
    <p><a class="btn btn-default btn-lg btn-block" href="/">Home</a></p>
  </div>


  <div class="col-md-6">

    <form class="form-signin" role="form" method="post" action="/login/submit">
      <input type="hidden" name="came_from" value="{{ came_from }}"/>
      <h2 class="form-signin-heading">Please Sign In</h2>
      <p class="lead">This isn't kerberos, so if you
      don't have a Betty password, you need to use the other form.</p>
      {% for m in login_message %}
      <span class="label label-danger">{{ m }}</span>
      {% endfor %}
      <input name="login" type="login" id="login-uniqname" class="form-control" placeholder="uniqname" required autofocus value="{{ login }}">
      <input name="password" type="password" id="login-password" class="form-control" placeholder="password" required value = "{{ password }}">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

  </div>

  <div class="col-md-5 col-md-offset-1">

    <form class="form-signin" role="form" method="post" action="/login/reset_pw">
      <h2 class="form-signin-heading">Forgot Password?</h2>
      <p class="lead">Or never had one? Use this to get a password for your account.</p>
      {% for m in forgot_error %}
      <span class="label label-danger">{{ m }}</span>
      {% endfor %}
      {% for m in forgot_success %}
      <span class="label label-success">{{ m }}</span>
      {% endfor %}
      <input name="uniqname" type="login" id="forgot-uniqname" class="form-control" placeholder="uniqname" required />
      <input name="umid" type="number" id="forgot-umid" class="form-control" placeholder="umid" required />
      <button class="btn btn-lg btn-warning btn-block" type="submit">Reset My Password</button>
    </form>

  </div>


</div>

  <!-- Google Analytics tracker -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55624000-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
