{% set timeout = 0 %}
{% extends "base.jinja2" %}
{% block title %}Pay Debt{% endblock %}

{% block top %}{% endblock %}

{% block content %}

{# Header #}
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron top">
      <img class="pull-right" src="/static/chezbetty_1000px.jpg" style="margin-top:5px;width:120px;" />

      <h1>{{ _('Chez Betty') }}</h1>
      <p>{{ _('The 24/7 food co-op for all members of the CSE community.') }}</p>
    </div>
  </div>
</div>

{% if user.balance <= -0.01 %}

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Pay Debt</h3>
        </div>
        <div class="panel-body">
          <h3>
            {{ _('We use stripe to process credit card transactions.') }}
          </h3>
          <p>
            {{ _('Stripe charges 2.9% + $0.30 for each transaction.') }}
            {{ _('We pass this charge directly onto you.') }}
          </p>

          <h3>
            {{ _('Your current balance is %(balance)s and your card will be charged %(charge)s.')|format(balance=user.balance|format_currency,charge=values[0].total|format_currency)|safe }}
          </h3>

          <button class="btn btn-success btn-huge btn-paydebt" data-stripepubkey="{{ stripe_pk }}" data-newval="0" data-amount="{{ values[0].amount }}" data-total-cents="{{ values[0].total_cents }}" data-uniqname="{{ user.uniqname }}" data-imageurl="{{ 'chezbetty:static/chezbetty_1000px.jpg'|static_url }}">Pay Debt</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Pay To a Positive Balance</h3>
        </div>
        <div class="panel-body">
          <p>
            {{ _('We encourage users to keep a positive balance (you even get a discount!).') }}
          </p>
          <p>
            {{ _('If you are still around, please strongly consider paying up to a positive balance.') }}
          </p>

          {% for key, value in values.items()|sort %}
            {% if key > 0 %}
              <button class="btn btn-success btn-huge btn-paydebt" data-stripepubkey="{{ stripe_pk }}" data-newval="0" data-amount="{{ value.amount }}" data-total-cents="{{ value.total_cents }}" data-uniqname="{{ user.uniqname }}" data-imageurl="{{ 'chezbetty:static/chezbetty_1000px.jpg'|static_url }}">{{ _('Pay to $'~key~' Balance') }}</button>
              <br />
              <br />
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Manage Your Account</h3>
        </div>
        <div class="panel-body">
          <p><a href="/user">Log in</a> to view your account.</p>
        </div>
      </div>
    </div>
  </div>


  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="{{'chezbetty:static/js/chezbetty-paydebt.js'|static_url}}"></script>

{% else %} {# user.balance >= 0 #}

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Pay To a Positive Balance</h3>
        </div>
        <div class="panel-body">
          <h3>
            {{ _('You currently do not owe Chez Betty any money.') }}
          </h3>
          <h3>
            {{ _('Thank you for paying your debts.') }}
          </h3>
          <hr />

          <a href="/user" class="btn btn-success btn-huge">
            {{ _('Log into your user account') }}
          </a>
          <a href="/" class="btn btn-default btn-huge pull-right">
            {{ _('Chez Betty Home') }}
          </a>
        </div>
      </div>
    </div>
  </div>

{% endif %}

{% endblock %}
