{% extends "base.jinja2" %}
{% set active_page = 'deposit_cc' %}

{% block title %}{{ _('Custom Credit Card Deposit') }}{% endblock %}

{% block top %}
<h1 class="page-header">{{ _('Custom Credit Card Deposit') }}</h1>
{% endblock %}


{% block content %}

<p>
{{ _('We use stripe to process credit card transactions.') }}
{{ _('Stripe charges 2.9% + $0.30 for each transaction.') }}
{{ _('We pass this charge directly onto you.') }}
{{ _('That is, if you wish to deposit $20 to your account, we will charge your
card 20 + (20*0.029 + 0.30) = $20.88.') }}
</p>

<hr />

{% if account == 'user' %}
{% set balance = user.balance|float %}
{% set target = balance + amount %}
<dl class="dl-horizontal">
  <dt>{{ _('Account Balance') }}</dt>
  <dd id="user-balance">{{ user.balance|format_currency|safe }}</dd>
</dl>
{% else %}
{% set balance = pool.balance|float %}
{% set target = balance + amount %}
<dl class="dl-horizontal">
  <dt>{{ _('%(pool_name)s Pool Balance')|format(pool_name=pool.name) }}</dt>
  <dd id="pool-{{ pool.id }}-balance">{{ pool.balance|format_currency|safe }}</dd>
</dl>
{% endif %}

<hr />

<table class="table table-bordered">
  <tr>
    <th>Deposit Amount</th>
    <th>Fees</th>
    <th>Amount Charged</th>
    <th>New Balance</th>
  </tr>
  {# amount is passed from view #}
  {% include "deposit_cc_row.jinja2" %}
</table>

{% endblock %}

