{% extends "base.jinja2" %}

{% block title %}Home{% endblock %}


{% block top %}
<h1 class="page-header">Chez Betty User Admin Panel</h1>
{% endblock %}


{% block content %}

<h1>Hello {{ user.name }}</h1>

{% endblock %}
