{% extends "base.jinja2" %}

{% block title %}Home{% endblock %}


{% block top %}
{% endblock %}


{% block content %}

<h1>Hello {{ user.name }}</h1>

<hr />

<dl class="dl-horizontal">
  <dt>{{ _('Account Balance') }}</dt>
  <dd>{{ user.balance|format_currency|safe }}</dd>
</dl>

{% if my_pools|first or user.pools|first %}
<hr />

<div class="row">

  {% if my_pools|first %}
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Pools You Own</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Pool</th>
              <th class="right" style="width:20%;">Balance</th>
            </tr>
          </thead>
          <tbody>
            {% for pool in my_pools %}
            <tr>
              <td>{{ pool|make_user_link(33)|safe }}</td>
              <td class="right">{{ pool.balance|format_currency|safe }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
  {% endif %}

  {% if user.pools|first %}
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Pools You Are a Member Of</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Pool</th>
              <th class="right" style="width:20%;">Balance</th>
            </tr>
          </thead>
          <tbody>
            {% for pu in user.pools %}
            <tr>
              {# Do not make a link; user cannot view pool details #}
              <td>{{ pu.pool.name }}</td>
              <td class="right">{{ pu.pool.balance|format_currency|safe }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
  {% endif %}

</div>
{% endif %} {# endif any pools #}

<hr />

{% set name=user.name %}
{% include "transaction_history.jinja2" %}

{% endblock %}
