{% extends "base.jinja2" %}
{% set active_page = 'pools' %}

{% block title %}Pools{% endblock %}

{% block top %}
<h1 class="page-header">Manage Pools</h1>
{% endblock %}


{% block content %}

<p>Pools are shared accounts that multiple users can deposit to and purchase
from.</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pools You Own</h3>
  </div>
  <div class="panel-body">

    <table id="my-pools" class="table table-bordered">

      <thead>
        <tr>
          <th>Pool Name</th>
          <th style="width:20%;">Number of Users</th>
          <th style="width:20%;">Balance</th>
        </tr>
      </thead>

      <tbody>
        {% set any_disabled_hack = [] %}
        {% for pool in my_pools %}
        {% if pool.enabled %}
        <tr>
          <td>{{ pool|make_user_link|safe }}</td>
          <td>{{ pool.users|length }}</td>
          <td>{{ pool.balance|format_currency|safe }}</td>
        </tr>
        {% else %}
        {% if any_disabled_hack.append(1) %}{% endif %}
        {% endif %}
        {% endfor %}
      </tbody>
    </table>

    {% if any_disabled_hack %}
    <hr />
    <h3>Disabled Pools</h3>
    <p>Disabled pools cannot be used by any users. To enable a disabled pool,
    click on the pool to change its settings. To transfer the balance from a
    disabled pool, please e-mail <a href='mailto:chez-betty@umich.edu'>chez-betty@umich.edu</a>.</p>
    <table id="my-pools" class="table table-bordered">

      <thead>
        <tr>
          <th>Pool Name</th>
          <th style="width:20%;">Number of Users</th>
          <th style="width:20%;">Balance</th>
        </tr>
      </thead>

      <tbody>
        {% for pool in my_pools %}
        {% if not pool.enabled %}
        <tr>
          <td>{{ pool|make_user_link|safe }}</td>
          <td>{{ pool.users|length }}</td>
          <td>{{ pool.balance|format_currency|safe }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pools You Are In</h3>
  </div>
  <div class="panel-body">

    <table id="their-pools" class="table table-bordered">

      <thead>
        <tr>
          <th>Pool Name</th>
          <th style="width:20%;">Pool Owner</th>
          <th style="width:20%;">Balance</th>
        </tr>
      </thead>

      <tbody>
        {% for pu in user.pools %}
        <tr>
          <td>{{ pu.pool.name }} {% if pu.pool.enabled == False %}(Currently Disabled){% elif pu.enabled == False %}(Not available for purchases){% endif %}</td>
          <td>{{ pu.pool.get_owner_name() }}</td>
          <td>{{ pu.pool.balance|format_currency|safe }}</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create New Pool</h3>
  </div>
  <div class="panel-body">

    <form class="form-horizontal" role="form" action="/user/pools/new/submit" method="post">
      <div class="form-group">
        <label for="pool-name" class="col-sm-2 control-label">Pool Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="pool-name" name="pool-name">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Create New Pool</button>
        </div>
      </div>
    </form>

  </div>
</div>

{% endblock %}
