
/* Align dollar amounts nicely */
.item-stock {
	text-align: right;
}

.item-price {
	text-align: right;
}

.item-cost {
	text-align: right;
}

.item-total {
	text-align: right;
}

/* Color dollar amounts */
.negative {
	color: red;
}
.positive {}

/* Buttons */
.btn-huge {
	padding: 20px 30px;
	font-size: 18pt;
}

.buttons a {
	margin-right: 20px;
}

/* Purchase */
#purchase-empty {
	text-align: center;
}

#purchase-empty td {
	padding: 30px 0;
}

.purchase-item {
}

#purchase-total {
	text-align: right;
	font-weight: bold;
}