
/* Align dollar amounts nicely */
.item-stock {
	text-align: right;
}

.item-price {
	text-align: right;
}

.item-cost {
	text-align: right;
}

.item-total {
	text-align: right;
}

.right {
	text-align: right;
}

/* Color dollar amounts */
.negative {
	color: red;
}

.positive {}


/* Buttons */
.btn-huge {
	padding: 20px 30px;
	font-size: 18pt;
}

.buttons a {
	margin-right: 20px;
}

#front-buttons {
	text-align: center;
}

#front-demo {
  padding-top: 50px;
	text-align: center;
}

.btn-bordered {
	border: 1px solid #428bca;
}

/* Header */
.header {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
h1 {
	color: #428bca;
	margin-bottom: 0;
	padding-bottom: 0;
}

.jumbotron {

	border: 1px solid #428bca;
	background-color: #fff;
}

/* Alerts */
#alerts {
	margin-top: 10px;
}

.alert {
	margin-top: 15px;
}

/* Index */
#index-main {
	text-align: center;
	padding-bottom: 40px;
}

.top {
    margin-top: 50px;
}

/* About */
.faq-a {
	padding-left: 20px;
	display:none;
}

.faq-a-default-open {
	display:block;
}

.faq-a ol {
	list-style-position: inside;
	padding: 0;
}

/* Purchase */
#purchase-empty {
	text-align: center;
}

#purchase-empty td {
	padding: 30px 0;
}

.purchase-item {
}

#purchase-total {
	text-align: right;
	font-weight: bold;
}

/* Items */

.top-button {
	margin-bottom: 15px;
}

/* User */

.user-transaction-detail {
	margin-top: 10px;
}

#transaction-history small {
	color: #ccc;
	padding-left: 10px;
}

/* Deposit */

.deposit-type-col {
	border-right: 1px solid #ccc;
}
