/*

  Terminal Interface Styles

*/


/* Purchase Account Selection */
button.list-group-item {
	width: 100%;
	text-align: left;
}

button.list-group-item-header {
	font-weight: bold;
}

/* Left sidebar */
.logo-box {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

.balance-box {
	text-align: center;
}

.balance-box span {
	font-size: 16px;
}

h2.big-debt {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0;
}

h4.big-debt {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: larger;
	margin-top: 0;
}

.big-debt {
	background-color: #A94442;
	color: white;
}

.big-debt .negative {
	background-color: white;
	font-size: 18px;
	padding: 5px 10px 5px 10px;
	font-weight: bold;
	margin: 3px;
}

/* Buttons */
.btn-huge {
	padding: 20px 30px;
	font-size: 18pt;
}

.btn-submit {
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
}

.btn-default-deposit {
	height: 90px;
	width: 44%;
	margin: 10px;
	float: left;
}

.btn-custom-deposit {
	width: 100%;
	height: 90px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-submit-deposit {
	width: 100%;
	height: 60px;
	margin-bottom: 15px;
}

.btn-edit-deposit, .btn-delete-deposit {
	width: 100%;
	height: 80px;
	margin-bottom: 15px;
}

.buttons a {
	margin-right: 20px;
}

.btn-bordered {
	border: 1px solid #428bca;
}

.btn-full-width {
	width: 100%;
}

/* Alerts */
#alerts {
	margin-top: 10px;
}

.alert {
	margin-top: 15px;
}


/* Purchase */
#purchase-empty {
	text-align: center;
}

#purchase-empty td {
	padding: 30px 0;
}

.purchase-item {

}

#purchase-total, #purchase-subtotal, #purchase-discount, #purchase-discount-percent, #purchase-fee, #purchase-fee-percent {
	text-align: right;
	font-weight: bold;
}

#purchase-discount, #purchase-discount-percent {
	color: red;
}

.btn-nobarcode-tag {
	width: 200px;
	height: 75px;
	font-size: 18px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.tag-item {
	border: 1px solid #ccc;
	text-align: center;
	padding: 6px;
	width: 200px;
	height: 225px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

.btn-back {
	width: 250px;
	height: 100px;
	margin-top: 25px;
	font-size: 18pt;
}


/* Deposit */
#deposit-entry-total {
	color: #3071a9;
	font-size: 34px;
	text-align: right;
}

#deposit-entry h5 {
	margin-left: 10px;
}

.deposit-type-col h3 {
	text-align: center;
	font-weight: bold;
}

.deposit-thankyou {
	font-size: 48px;
}

.deposit-info {
	font-size: 28px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.deposit-cash {
	text-align: center;
}

.deposit-amount {
	color: #3071a9;
	font-size: 34px;
}

.btn-text-alt {
	display: none;
}
