/* Align dollar amounts nicely */
.item-stock {
	text-align: right;
}

.item-price {
	text-align: right;
}

.item-cost {
	text-align: right;
}

.item-total {
	text-align: right;
}

/* Color dollar amounts */
.negative {
	color: red;
}

.positive {}

.highlight {
	background-color: #fffacd;
	padding: 2px 5px 2px 5px;
}

.center {
	text-align: center;
}


/* Buttons */
.btn-huge {
	padding: 20px 30px;
	font-size: 18pt;
}

.buttons a {
	margin-right: 20px;
}

#front-buttons {
	text-align: center;
}

#front-buttons .btn-huge {
	margin-bottom: 15px;
}

#front-demo {
  padding-top: 50px;
	text-align: center;
}

.btn-bordered {
	border: 1px solid #428bca;
}

/* Header */
.header {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
h1 {
	color: #428bca;
	margin-bottom: 0;
	padding-bottom: 0;
}

.jumbotron {

	border: 1px solid #428bca;
	background-color: #fff;
}

#cc-banner h4 {
	line-height: 1.2em;
}

/* Alerts */
#alerts {
	margin-top: 10px;
}

.alert {
	margin-top: 15px;
}

/* Index */
#index-main {
	text-align: center;
	padding-bottom: 20px;
}

.or {
	margin-top:-40px;
	text-align: center;
	font-size: 2em;
	color: #bbb;
}
.or span {
	padding: 15px;
	background-color: white;
}

.top {
    margin-top: 50px;
}

/* About */
.faq-a {
	padding-left: 20px;
	display:none;
}

.faq-a-default-open {
	display:block;
}

.faq-a ol {
	list-style-position: inside;
	padding: 0;
}

/* Items */

.top-button {
	margin-bottom: 15px;
}

