{% extends "base.jinja2" %}
{% set active_page = 'deposit_edit' %}
{% block title %}{{ _('Edit Deposit') }}{% endblock %}
{% block header %}{{ _('Edit Deposit') }}{% endblock %}


{% block content %}

{% include "user_info.jinja2" %}

{% set keypad_val = old_deposit.amount %}


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ _('New Deposit Amount') }}</h3>
  </div>
  <div class="panel-body">

    <div id="event_id" class="hidden">{{ old_event.id }}</div>

    <div class="row wrapper">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        {% include "keypad.jinja2" %}
      </div>
      <div class="col-md-4" style="padding-top:10px;">
        <button type="button" id="btn-deposit-user" class="btn btn-success btn-lg btn-edit-deposit">{{ _('Deposit To Your Account') }}</button>
        {% for pool in pools %}
        <button type="button" id="btn-deposit-pool-{{ pool.id }}" class="btn btn-success btn-lg btn-edit-deposit">{{ _('Deposit To %(pool_name)s Pool')|format(pool_name=pool.name) }}</button>
        {% endfor %}
        <br />
        <br />
        <br />
        <a id="btn-delete-deposit" class="btn btn-danger btn-lg btn-delete-deposit" href="/terminal/event/undo/{{ user.umid }}/{{ old_event.id }}" style="padding-top:38px;">{{ _('Delete Deposit') }}</a>
      </div>
      <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-mcard.js'|static_url}}"></script>
{% endblock %}
