{% extends "base.jinja2" %}
{% import "../macro_alerts.jinja2" as alerts %}
{% block title %}Home{% endblock %}

{% block alerts %}
{# Empty this block on this page so that we can render the alerts in a better place #}
{% endblock %}

{% block content %}

<style>
body {
  padding-bottom: 100px;
}
</style>

<div id="index" class="row">
  <div class="col-md-7">


    <div class="row">
      <div class="col-md-12">
        <img src="/static/chezbetty_1000px.jpg" style="margin-top:5px;width:180px;" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        {{ alerts.alerts_container(request, nested=True) }}

        <div id="announcements" style="font-size:20pt;">
          {% for announcement in announcements %}
          <div class="alert alert-info" role="alert">
            {{ announcement.announcement }}
          </div>
          {% endfor %}
        </div>

      </div>
    </div>


    {% if top_debtors|length > 0 %}
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-12">

        <div class="well">
          <h2 style="margin-top:30px; margin-bottom:30px;">Do you know any of these people?</h2>
          <h1 style="margin-bottom:30px; color:#e62020!important; font-size:300%; font-weight:bold;">They are on top of the Wall of Shame.</h1>

          <ol>
            {% for debtor in top_debtors %}
            <li style="font-size: {{25-(1.5*loop.index)}}px; padding-bottom: 10px;">
              <strong>{{ debtor.name }}</strong> ({{ debtor.uniqname }}): {{ debtor.balance|format_currency|safe }}
              <br />
              <p style="font-size: 75%; color: blue;">{{ debtor.days_on_shame }} days on the Wall of Shame
                <span style="font-size: 75%; color: red">Most recently a {{ debtor.most_recent_purchase.amount|format_currency|safe }} purchase {{ debtor.most_recent_purchase.event.timestamp|human_date|safe }}</span>
              </p>
            </li>
            {% endfor %}
          </ol>
          <h2>Please encourage them to pay Betty back today.</h2>
        </div>

      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-md-12">

        {% if demo and request.has_permission("admin") %}
        <div id="front-demo" class="buttons">
          <div class="well">
            <h3>Demo Mode:</h3>
            {% for admin in admins %}
            <a class="btn btn-default btn-huge btn-bordered" href="/terminal/{{ admin.umid }}">Login as {{ admin.name }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}

      </div>
    </div>

  </div>

  <div class="col-md-5" style="text-align: center;">

    <div id="index-main" style="margin-top:100px;">
      <h2>{{ _('Swipe your M-Card to login') }}</h2>
    </div>

    <hr />
    <div class="or"><span>OR</span></div>

    <div class="center">
      <h2>{{ _('Enter your UMID here') }}</h2>
    </div>

    <link rel="stylesheet" href="{{'chezbetty:static/css/chezbetty-terminal-keypad.css'|static_url}}" />

    <div id="keypad-umid" class="center keypad-lg">
      <container>
        <container id="keypad-umid-status">
          <block class="umid-status-block btn btn-default"></block>
          <block class="umid-status-block btn btn-default"></block>
          <block class="umid-status-block btn btn-default"></block>
          <block class="umid-status-block btn btn-default"></block>
          <block class="umid-status-block btn btn-default"></block>
          <block class="umid-status-block btn btn-default"></block>
          <block class="umid-status-block btn btn-default"></block>
          <block class="umid-status-block btn btn-default"></block>
        </container>
        <block><button type="button" id="btn-keypad-9" class="btn btn-default btn-keypad">9</button></block>
        <block><button type="button" id="btn-keypad-8" class="btn btn-default btn-keypad">8</button></block>
        <block><button type="button" id="btn-keypad-7" class="btn btn-default btn-keypad">7</button></block>
        <block><button type="button" id="btn-keypad-6" class="btn btn-default btn-keypad">6</button></block>
        <block><button type="button" id="btn-keypad-5" class="btn btn-default btn-keypad">5</button></block>
        <block><button type="button" id="btn-keypad-4" class="btn btn-default btn-keypad">4</button></block>
        <block><button type="button" id="btn-keypad-3" class="btn btn-default btn-keypad">3</button></block>
        <block><button type="button" id="btn-keypad-2" class="btn btn-default btn-keypad">2</button></block>
        <block><button type="button" id="btn-keypad-1" class="btn btn-default btn-keypad">1</button></block>
        <block><button type="button" id="btn-keypad-clear" class="btn btn-default btn-keypad">{{ _('Clear') }}</button></block>
        <block><button type="button" id="btn-keypad-del" class="btn btn-default btn-keypad">&laquo;</button></block>
        <block><button type="button" id="btn-keypad-0" class="btn btn-default btn-keypad">0</button></block>
      </container>
    </div>

  </div>


</div>


{# Splash page saying we need people to pay us back. #}
<div id="splash-disabled" class="container" style="display: none;">
  <h1>Hey, we know Betty has been a little empty lately, but we are working on doing a Costco restock.</h1>
  <h1>In the meantime, we're trying to raise some money to pay for that.</h1>
  <h1>The current user debt is: <strong>{{ owed_by_users|format_debt|safe }}</strong>.</h1>
  <h1>We could use some help getting that repaid.</h1>
  <h1>So please, if you owe Betty money pay back today.</h1>
  <div class="pull-right">
    <br />
    <h4>
      Also, you get a 5% discount if you have at least $20 in your account.
      Users who are more than $5 in debt are taxed on every purchase.
    </h4>
  </div>
  <div class="pull-left">
    <a class="btn btn-deftaul btn-huge btn-bordered" onclick='$("#splash").hide(); $("#splash2").show();'>Continue to Betty</a>
  </div>
  <div class="clearfix"></div>
  <hr />
  <div class="fitin" data-fitin-width="1570" data-fitin-height="600" data-fitin-columns="true" style="-webkit-column-count: 5; -moz-column-count: 5; column-count: 5; font-size: 15px;">
  {% set tax_header = 100 %} {# start much greater than max tax #}
  {% for user in shame_users %}
  {% if (-user.balance / 5)|round(method='floor') < tax_header %}
  {% set tax_header = (-user.balance / 5)|round(method='floor') %}
  <h2 class="big-debt"><strong>{{ (tax_header * 5)|int }}% Tax</strong></h2>
  {% endif %}
  <div>
    <p style="{%if user.balance < -20%}font-weight: bold;{%endif%}{%if loop.index <= 5%}font-size: 150%;{%endif%}">
    {{loop.index}}.&nbsp;{{ user.name }}{%if loop.index<=5%} (<tt>{{user.uniqname}}</tt>){%endif%}&nbsp;{{ user.balance|format_debt|safe }}
    </p>
    <p style="color: blue">{%if loop.index <= 5%}{{user.days_on_shame}}&nbsp;days on Wall of Shame{%endif%}</p>
    <p style="color: red">{%if loop.index <= 5%}Most recently a {{user.most_recent_purchase.amount|format_currency|safe}} purchase {{user.most_recent_purchase.event.timestamp|human_date|safe}}{%endif%}</p>
  </div>
  {% endfor %}
  </div>
</div>


{# Secondary splash page #}
<div id="splash2" class="container" style="display: none;">
  <div style="font-size: 90px; width: 100%;">
    <h1 style="font-size: 80px;">
      Seriously. We need some help from some social pressure.
    </h1>
    <div style="width: 75%; margin: 100px auto;">
      <h1 style="font-size: 50px;">
        <span style="color:red; font-weight: bold;">{{ shame_users[0].name }}</span> ({{ shame_users[0].uniqname }}@umich.edu)
        owes {{ shame_users[0].balance|format_debt|safe }},
        has been on the Wall of Shame for {{ shame_users[0].days_on_shame }} days,
        and made a {{shame_users[0].most_recent_purchase.amount|format_currency|safe}} purchase {{shame_users[0].most_recent_purchase.event.timestamp|human_date|safe}}.
      </h1>
    </div>
    <a class="btn btn-deftaul btn-huge btn-bordered" style="float:right;" onclick='$("#splash2").hide(); $("#index").show(); $("#footer").show();'>Continue to Betty</a>
  </div>
</div>


{% endblock %}

{% block footer %}
<div id="footer" class="navbar navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <hr />
    <p>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-en">English</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-fr">français</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-tw">漢語</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-fa">فارسی</a>
      <strong>{{ _('Can you help translate Betty? Visit github.com/um-cseg/chez-betty to contribute.') }}</strong>
    </p>
    <hr />
  </div>
</div>
{% endblock %}

{% set timeout = 1000*60*60*4 %}

{% block onload %}
<script>
  if($('#splash').length != 0) {
    $("#index").hide();
    $("#footer").hide();
    $("#splash").show();
  }
</script>
{% endblock %}
