<h3>{{ tag.name }}</h3>
{% for item in tag.nobarcode_items %}
<div class="tag-item" data-item-id="{{ item.id }}">
  {% if item.img %}
  <div class="item-img-boundingbox" style="background-image: url('/dynamic/item/{{item.id}}.jpg');"></div>
  {% else %}
  <img src="{{'chezbetty:static/placeholder_300px.png'|static_url}}" width="150px" />
  {% endif %}
  <div class="tag-item-name">
  	{{ item.name }}
  </div>
</div>
{% endfor %}