{% extends "base.jinja2" %}

{% block content %}

{# Display large banners if this user owes us money. #}
<div id="user-alert-balance-large" class="alert alert-danger user-alert-balance" role="alert" {% if user.balance >= -50 %}style="display:none;"{% endif %}>
  <div class="container">
    <h2>{{ _('Hi %(name)s,')|format(name=user.name) }}</h2>
    <h3>{{ _("You currently owe Betty %(big_debt)s. That's a lot of money!")|
             format(big_debt='<span class="current-formatted-balance">'~user.balance|format_currency~'</span>')|safe }}</h3>
    <p>{{ _("We're glad you like Betty. We're happy to extend a small line "
    "of credit, but if people owe Betty lots of money, it's hard to keep "
    "things in stock. Please try to pay Betty back soon!") }}</p>
  </div>
</div>
<div id="user-alert-balance-medium" class="alert alert-warning user-alert-balance" role="alert" {% if user.balance >= -20 or user.balance < -50 %}style="display:none;"{% endif %}>
  <div class="container">
    <h2>{{ _('Hi %(name)s,')|format(name=user.name) }}</h2>
    <p>{{ _("You currently owe Betty %(debt)s.")|format(debt='<span class="current-formatted-balance">'~user.balance|format_currency~'</span>')|safe }}</p>
    <p>{{ _('Please try to pay Betty back soon, thanks!') }}</p>
  </div>
</div>


<div class="row">

  {# Sidebar with logo, user name, and balance #}
  <div class="col-md-1">
    <div class="row logo-box">
      <img src="/static/chezbetty_1000px.jpg" style="margin-top:5px;width:100px;" />
    </div>

    <div class="row well">
      <h4>{{ user.name }}</h4>
    </div>

    <div id="user-info-current-balance" class="row well balance-box {% if user.balance < -5 %}big-debt{% endif %}">
      <h4>{{ _('Your Current Balance') }}</h4>
      <span class="current-formatted-balance">{{ user.balance|format_currency|safe }}</span>
    </div>

    <div id="user-info-new-balance" class="row well balance-box {% if user.balance < -5 %}big-debt{% endif %}">
      <h4>{{ _('Balance after Purchase or Deposit') }}</h4>
      <span>{{ user.balance|format_currency|safe }}</span>
    </div>

    <div id="pool-info-current-balance" class="row well balance-box" style="display:none;">
      <h4>{{ _('Selected Pool Balance') }}</h4>
      <span></span>
    </div>

    <div id="user-balance" class="hidden">{{ user.balance }}</div>
    <div id="user-umid" class="hidden">{{ user.umid }}</div>

    {% for pool in purchase_pools %}
    <div id="pool-balance-{{ pool.id }}" class="hidden">{{ pool.balance }}</div>
    {% endfor %}
  </div>

  {# Purchase panel #}
  <div class="col-md-8">

    <div id="panel-purchase" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ _('Purchase') }}</h3>
      </div>
      <div class="panel-body">

        <div id="purchase-alerts"></div>

        <div id="purchase-entry" class="row">

          <div class="col-md-9">

            {% if demo and request.has_permission("admin") %}
            <div class="well">
              <h4>Demo Mode</h4>
              {% for item in items %}
              <a class="btn btn-default btn-small btn-bordered" href="#" onclick='add_item("{{ item.barcode }}");'>{{ item.name }}</a>
              {% endfor %}
            </div>
            {% endif %}

            <table class="table table-bordered" id="purchase-table">
              <thead>
                <tr>
                  <th style="width: 6%">&nbsp;</th>
                  <th>{{ _('Item') }}</th>
                  <th style="width: 20%" colspan="3">{{ _('Quantity') }}</th>
                  <th style="width: 10%">{{ _('Item Price') }}</th>
                  <th style="width: 10%">{{ _('Total Price') }}</th>
                </tr>
              </thead>

              <tbody>
                <tr id="purchase-empty">
                  {% if existing_items %}
                  {{ existing_items|safe }}
                  {% else %}
                  <td colspan="7">
                    <h3>{{ _('Order Empty') }}</h3>
                    {{ _('Scan an item to begin') }}
                  </td>
                  {% endif %}
                </tr>
              </tbody>

              <tfoot>
                {# todo: parameterize this. note the JS has to change too #}
                <tr id="purchase-row-subtotal" {% if user.balance <= 20 and user.balance > -5 %}style="display:none;"{% endif %}>
                  <td colspan="6"><b>{{ _('Subtotal') }}</b></td>
                  <td id="purchase-subtotal">$0.00</td>
                </tr>
                <tr id="purchase-row-goodstanding" {% if user.balance <= 20 %}style="display:none;"{% endif %}>
                  <td colspan="2"><b>{{ _('Good Standing Discount') }}</b></td>
                  <td id="purchase-discount-percent" colspan="4">(5.0%)</td>
                  <td id="purchase-discount">($0.00)</td>
                </tr>
                <tr id="purchase-row-wallshame"
                        {% if user.balance >= -5 %}style="display:none;"{% endif %}
                        {% if user.balance < -5 %}class="big-debt"{% endif %}
                        >
                  <td colspan="2"><b>{{ _('Wall of Shame Fee') }}</b></td>
                  <td id="purchase-fee-percent" colspan="4"><span id="purchase-fee-percent-amount">{{ purchase_fee_percent }}</span>%</td>
                  <td id="purchase-fee">$0.00</td>
                </tr>
                <tr>
                  <td colspan="6"><b>{{ _('Total') }}</b></td>
                  <td id="purchase-total">$0.00</td>
                </tr>
              </tfoot>
            </table>

          </div>

          <div class="col-md-3">
            {# Payment options #}
            <div class="list-group">
              <button type="button" class="list-group-item list-group-item-info list-group-item-header">Select Payment</button>
              <button type="button" id="payment-user" class="list-group-item purchase-payment active">Your Account</button>
              {% for pool in purchase_pools %}
              <button type="button" id="payment-pool-{{ pool.id }}" class="list-group-item purchase-payment">{{ _('%(pool_name)s Pool')|format(pool_name=pool.name) }}</button>
              {% endfor %}
            </div>

            {# Choose item without barcode #}
            <div style="margin-bottom: 10px;">
              <button type="button" id="btn-nobarcode" class="btn btn-default btn-lg btn-primary" style="width: 100%; height: 150px">
                {{ _('Item Without Barcode') }}
              </button>
            </div>
          </div>

        </div>

        <div id="purchase-complete" class="row" style="display:none;">
          <div class="col-md-12">

            <div id="purchase-complete-table"></div>
            <div id="purchase-eventid" class="hidden"></div>

          </div>
        </div>

        {# Purchase buttons #}
        <div class="row">
          <div class="col-md-12">
            <button type="button" id="purchase-button-logout" class="btn btn-success btn-lg btn-submit btn-submit-purchase">{{ _('Logout') }}</button>
            <button type="button" id="purchase-button-purchaselogout" class="btn btn-success btn-lg btn-submit btn-submit-purchase" style="display:none;">{{ _('Purchase & Logout') }}</button>
            <button type="button" id="purchase-button-purchase" class="btn btn-success btn-lg btn-submit btn-submit-purchase" style="display:none;">{{ _('Purchase') }}</button>
          </div>
        </div>

      </div>
    </div>

    {# Hidden items without barcodes chooser panel #}
    <div id="panel-nobarcode" class="panel panel-default" style="display:none;">
      <div class="panel-heading">
        <h3 class="panel-title">{{ _('Select Item Without Barcode') }}</h3>
      </div>
      <div class="panel-body">
        <div id="tags">
          <h3>Choose an Item Category</h3>
          {% for tag in tags_with_nobarcode_items %}
          <button type="button" class="btn btn-nobarcode-tag btn-default" data-tagid="{{ tag.id }}">{{ tag.name }}</button>
          {% endfor %}
          <button type="button" class="btn btn-nobarcode-tag btn-default" data-tagid="other">Other</button>

          <div>
            <button type="button" id="btn-nobarcode-tags-back" class="btn btn-warning btn-back">Back</button>
          </div>
        </div>

        <div id="tag-items" style="display:none;">
          <div id="tag-items-content"></div>
          <div style="clear:left;">
            <button type="button" id="btn-nobarcode-tag-items-back" class="btn btn-warning btn-back">Back</button>
          </div>
        </div>
      </div>
    </div>


  </div>

  {# Deposit Panel #}
  <div class="col-md-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ _('Cash Deposit') }}</h3>
      </div>
      <div class="panel-body">

        <div id="deposit-alerts"></div>

        <div id="deposit-entry">
          <div class="row">
            <div class="col-md-12">
              <h5>{{ _('To make a cash deposit, put money in the box and enter what you deposited.') }}</h5>
              <h5>{{ _('Your Deposit Limit: %(limit)s')|format(limit=user.deposit_limit|format_currency)|safe }}</h5>
              <div id="deposit-entry-total" class="well well-md keypad-full-width">$0.00</div>
              <div id="deposit-entry-default">
                {% if user.deposit_limit >= 100 %}<button type="button" id="btn-default-100" class="btn btn-default btn-lg btn-default-deposit">$100</button>{% endif %}
                {% if user.deposit_limit >= 20  %}<button type="button" id="btn-default-20"  class="btn btn-default btn-lg btn-default-deposit">$20</button>{% endif %}
                {% if user.deposit_limit >= 10  %}<button type="button" id="btn-default-10"  class="btn btn-default btn-lg btn-default-deposit">$10</button>{% endif %}
                {% if user.deposit_limit >= 5   %}<button type="button" id="btn-default-5"   class="btn btn-default btn-lg btn-default-deposit">$5</button>{% endif %}
                <button type="button" id="btn-default-0"   class="btn btn-default btn-lg btn-default-deposit">$0</button>
                <button type="button" id="btn-deposit-entry-default-custom" class="btn btn-default btn-lg btn-custom-deposit btn-warning">{{ _('Custom Amount') }}</button>
              </div>
              <div id="deposit-entry-custom" class="keypad-sm" style="display: none; text-align: center">
                {% include "keypad.jinja2" %}
                <button type="button" id="btn-deposit-entry-custom-default" class="btn btn-default btn-lg btn-custom-deposit btn-warning">{{ _('Standard Amounts') }}</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" id="btn-deposit-user" class="btn btn-success btn-lg btn-submit-deposit">{{ _('Deposit To Your Account') }}</button>
              {% for pool in deposit_pools %}
              <button type="button" id="btn-deposit-pool-{{ pool.id }}" class="btn btn-success btn-lg btn-submit-deposit">{{ _('Deposit To %(pool_name)s Pool')|format(pool_name=pool.name) }}</button>
              {% endfor %}
            </div>
          </div>
        </div>

        <div id="deposit-complete" class="row" style="display:none;">
          <div class="col-md-12">

            <div style="text-align:center;">
              <span class="deposit-thankyou">{{ _("Thank you!") }}</span>
            </div>

            <p>
              <span id="deposit-complete-user">
                {{ _("You successfully deposited %(amount)s into your account.")|
                 format(amount='<span class="deposit-amount"></span>')|safe }}
              </span>
              <span id="deposit-complete-pool">
                {{ _("You successfully deposited %(amount)s in the %(pool_name)s Pool.")|
                 format(
                   amount='<span class="deposit-amount"></span>',
                   pool_name='<span class="deposit-pool-name"></span>',
                 )|safe }}
              </span>
            </p>
            <p>
              {{ _("Please make sure you put that amount in the box. If not, click undo.") }}
            </p>

            <div id="deposit-eventid" class="hidden"></div>
            <div id="deposit-amount" class="hidden"></div>

            <button type="button" class="btn btn-primary btn-lg btn-delete-deposit">{{ _('Undo this Deposit') }}</button>

          </div>
        </div>

      </div>
    </div>

  </div>

</div>

{% endblock %}

{% block timeout %}60*1000*50{% endblock %}
