{% extends "base.jinja2" %}
{% import "macro_buttons.jinja2" as button %}
{% set active_page = 'badscans' %}
{% block title %}Bad Scans{% endblock %}

{% block top %}
<h1 class="page-header">Barcode Scans that Errored</h1>
{% endblock %}

{% block contentwide %}

<table class="table table-condensed table-striped sticky sortable" id="events_table">
  <thead>
    <tr>
      <th>Scan</th>
      <th data-defaultsort="desc">Count</th>
      <th>Timestamp</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for badscan in badscans %}
  <tr id="badscan-row-{{ loop.index }}">
    <td>{{ badscan.badscan }}</td>
    <td>{{ badscan.count }}</td>
    <td>{{ badscan.timestamp|pretty_date|safe }}</td>
    <td>{{ button.force_delete('badscan', badscan.badscan, 'badscan-row-'+loop.index|string) }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
