{% set relative = relative|default('') -%}
{% import "macro_buttons.jinja2" as button %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  {% block head %}
  <link rel="stylesheet" href="{{'chezbetty:static/css/lib/bootstrap/bootstrap.min.css'|static_url}}" />
  <link rel="stylesheet" href="{{'chezbetty:static/css/lib/bootstrap-switch/bootstrap-switch.min.css'|static_url}}" />
  <link rel="stylesheet" href="{{'chezbetty:static/css/lib/bootstrap-sortable/bootstrap-sortable.css'|static_url}}" />
  <link rel="stylesheet" href="{{'chezbetty:static/css/lib/keyboard/keyboard.css'|static_url}}" />
  <link rel="stylesheet" href="{{'chezbetty:static/css/lib/jquery-ui/jquery-ui.min.css'|static_url}}" />
  <link rel="stylesheet" href="{{'chezbetty:static/css/lib/datetimepicker/jquery.datetimepicker.css'|static_url}}" />

  <link rel="stylesheet" href="{{'chezbetty:static/css/chezbetty-admin.css'|static_url}}" />

  <script src="{{'chezbetty:static/js/lib/jquery/jquery.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/jquery-ui/jquery-ui.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/jquery-dateFormat/jquery-dateFormat.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/bootstrap/bootstrap.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/bootstrap-switch/bootstrap-switch.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/bootstrap-sortable/bootstrap-sortable.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/keyboard/jquery.keyboard.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/Chart.js/Chart.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/barcoder/barcoder.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/datetimepicker/jquery.datetimepicker.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/highstock/highstock.js'|static_url}}"></script>

  <script src="{{'chezbetty:static/js/chezbetty-admin.js'|static_url}}"></script>

  <title>{% if request.debug %}[ DEBUG ]{% endif %} {% block title %}{% endblock %} | Chez Betty Admin</title>
  {% endblock %}

</head>
<body>

{% block body %}

  <script>
    {% if request.is_terminal %}
    onscreen_keyboard = true;
    {% else %}
    onscreen_keyboard = false;
    {% endif %}
  </script>

  {% if "demo" in request.cookies and request.cookies["demo"]|int %}
    {% set demo = True %}
  {% else %}
    {% set demo = False %}
  {% endif %}


  {% set active_page = active_page|default('index') -%}
  {% include 'navbar.jinja2' %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
      {% include 'sidebar.jinja2' %}
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div id="submenu">
          {% block submenu %}
          {% endblock %}
        </div>

        <div id="alerts" class="container">
          {% block alerts %}
          {% for msg in request.session.pop_flash("error") %}
          <div class="alert alert-danger" role="alert">
            {{ msg }}
          </div>
          {% endfor %}
          {% for msg in request.session.pop_flash("success") %}
          <div class="alert alert-success" role="alert">
            {{ msg }}
          </div>
          {% endfor %}
          {% endblock %}
        </div>

        {% block top %}{% endblock %}

        <div id="content" class="container">
          {% block content %}{% endblock %}
        </div>

        {% block footer %}{% endblock %}

      </div>
    </div>
  </div>

{% endblock %}

<script src="{{'chezbetty:static/js/chezbetty-admin-onload.js'|static_url}}"></script>
{% block onload %}
{% endblock %}

</body>
