{% extends "base.jinja2" %}
{% set active_page = 'boxes_edit' %}
{% block title %}Edit Box{% endblock %}

{% block top %}
<h1 class="page-header">Edit Box</h1>
{% endblock %}


{% block content %}

<form role="form" action="/admin/box/edit/submit" method="post" id="form-edit-box">
  <input type="hidden" id="box-id" name="box-id" value="{{ box.id }}">

  <div class="panel panel-default">
    <div class="panel-heading">Box Details</div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd><input type="text" class="form-control" id="box-name" name="box-name" value="{{ box.name }}"></dd>

        <dt>Barcode</dt>
        <dd><input type="text" class="form-control barcode-check" id="box-barcode" name="box-barcode" value="{{ box.barcode }}"></dd>

        <dt>Wholesale</dt>
        <dd><input type="text" class="form-control numeric" id="box-wholesale" name="box-wholesale" value="{{ box.wholesale|round(4) }}"></dd>

        <dt>Sales Tax</dt>
        <input type="hidden" name="box-sales_tax" value="off">
        <dd><input type="checkbox" id="box-sales_tax" name="box-sales_tax" {% if box.sales_tax == True %}checked="checked"{% endif %}></input></dd>

        <dt>Bottle Deposit</dt>
        <input type="hidden" name="box-bottle_dep" value="off">
        <dd><input type="checkbox" id="box-bottle_dep" name="box-bottle_dep" {% if box.bottle_dep == True %}checked="checked"{% endif %}></input></dd>

        <hr />
        <dt>Enabled</dt>
        <dd>{{ button.onoff_switch("box", "enabled", box.id, box.enabled) }}</dd>
      </dl>
    </div>

    <ul class="list-group">

      <table class="table">

        <thead>
          <tr>
            <th>Sub Item</th>
            <th>Quantity</th>
            <th>Percentage</th>
          </tr>
        </thead>

        <tbody>

          {% for bi in box.items %}
          {% if bi.enabled %}
          <tr>

            <td>{{ bi.item|make_link|safe }} <input type="hidden" name="box-item-id-{{ bi.id}}" value="{{ bi.item_id }}"></td>
            <td>
              <input type="text" class="form-control" id="box-item-quantity-{{ bi.id }}" name="box-item-quantity-{{ bi.id }}" value="{{ bi.quantity }}">
            </td>
            <td>
              <input type="text" class="form-control" id="box-item-percentage-{{ bi.id }}" name="box-item-percentage-{{ bi.id }}" value="{{ bi.percentage }}">
            </td>

          </tr>
          {% endif %}
          {% endfor %}

          {% if new_items %}
          <tr>

            <td>
              <select class="form-control" id="box-item-id-new" name="box-item-id-new">
                {% for item in new_items %}
                <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <input type="text" class="form-control" id="box-item-quantity-new" name="box-item-quantity-new">
            </td>
            <td>
              <input type="text" class="form-control" id="box-item-percentage-new" name="box-item-percentage-new">
            </td>

          </tr>
          {% endif %}

        </tbody>
      </table>
    </ul>

    <ul class="list-group">

      <table class="table">

        <thead>
          <tr>
            <th>Vendor</th>
            <th>Box Number</th>
            <th>Link</th>
          </tr>
        </thead>

        <tbody>

          {% for vb in box.vendors %}
          {% if vb.enabled %}
          <tr>

            <td>{{ vb.vendor.name }} <input type="hidden" name="box-vendor-id-{{ vb.id}}" value="{{ vb.vendor_id }}"></td>
            <td>
              <input type="text" class="form-control" id="box-vendor-item_num-{{ vb.id }}" name="box-vendor-item_num-{{ vb.id }}" value="{{ vb.item_number }}">
            </td>
            <td>
              {% if vb.vendor.name == "Costco" %}
              <a href="http://www2.costco.com/Common/Search.aspx?whse=BD_823&topnav=bd&search={{ vb.item_number }}&N=0&Ntt={{ vb.item_number }}&cm_re=1_en-_-Top_Left_Nav-_-Top_search&lang=en-US">View on Costco</a>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}

          {% if new_vendors %}
          <tr>

            <td>
              <select class="form-control" id="box-vendor-id-new" name="box-vendor-id-new">
                {% for vendor in new_vendors %}
                <option value="{{ vendor.id }}">{{ vendor.name }}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <input type="text" class="form-control" id="box-vendor-item_num-new" name="box-vendor-item_num-new">
            </td>

          </tr>
          {% endif %}

        </tbody>
      </table>
    </ul>
  </div>

  <button type="submit" class="btn btn-success">Update Box</button>

</form>

{% if can_delete %}
<br />
<br />
<a href="/admin/box/delete/{{ box.id }}" class="btn btn-danger">Permanently Delete this Box</a>
{% endif %}

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-admin-keyboard.js'|static_url}}"></script>
{% endblock %}
