{% extends "base.jinja2" %}
{% import "macro_buttons.jinja2" as button %}
{% set active_page = 'boxes_edit' %}
{% block title %}Edit Boxes{% endblock %}

{% block top %}
<h1 class="page-header">Edit Boxes</h1>
{% endblock %}


{% block content %}

<form role="form" action="/admin/boxes/edit/submit" method="post" id="form-edit-boxes">

  <div id="edit-boxes">

    {% if unpopulated %}
    <h3>Unpopulated Boxes</h3>

    <table class="table sortable">

      <thead>
        <tr>
          <th style="width: 5%"></th>
          <th>Name</th>
          <th style="width: 20%">Box Wholesale</th>
          <th style="width: 10%">Enable</th>
        </tr>
      </thead>

      <tbody>

        {% for box in unpopulated %}

        <tr id="box-{{ box.id }}" class="edit-box-row {% if box.enabled == False %} disabled-row {% endif %}">

          <td>{{ button.box(box.id) }}</td>
          <td>{{ box.name }}</td>
          <td class="{{ wholesale_class }}" data-value="{{ box.wholesale|round(2) }}"><input type="text" class="form-control numeric" id="box-wholesale-{{ box.id }}" name="box-wholesale-{{ box.id }}" value="{{ box.wholesale|round(2) }}"></td>
          <td>
            <input type="checkbox" id="admin-box-enable-{{ box.id }}" class="admin-switch toggle-disabled" {% if box.enabled == True %}checked="checked"{% endif %}>
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
    {% endif %}

    <h3>Boxes</h3>

    <table class="table sortable">

      <thead>
        <tr>
          <th style="width: 5%"></th>
          <th>Name</th>
          <th style="width: 20%">Box Wholesale</th>
          <th style="width: 10%">Enable</th>
        </tr>
      </thead>

      <tbody>

        {% for box in boxes %}

        <tr id="box-{{ box.id }}" class="edit-box-row {% if box.enabled == False %} disabled-row {% endif %}">

          <td>{{ button.box(box.id) }}</td>
          <td>{{ box.name }}</td>
          <td class="{{ wholesale_class }}" data-value="{{ box.wholesale|round(2) }}"><input type="text" class="form-control numeric" id="box-wholesale-{{ box.id }}" name="box-wholesale-{{ box.id }}" value="{{ box.wholesale|round(2) }}"></td>
          <td>
            <input type="checkbox" id="admin-box-enable-{{ box.id }}" class="admin-switch toggle-disabled" {% if box.enabled == True %}checked="checked"{% endif %}>
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

    <button type="submit" class="btn btn-success">Update boxes</button>

  </div>

</form>

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-admin-noenter.js'|static_url}}"></script>
<script src="{{'chezbetty:static/js/chezbetty-admin-keyboard.js'|static_url}}"></script>
{% endblock %}

<!--
          <td class="box-actions">
            <button type="button" id="btn-disable-box-{{ box.id }}" class="btn btn-danger" {% if False %}style="display:none;"{% endif %}>X</button>
            <button type="button" id="btn-enable-box-{{ box.id }}" class="btn btn-success" {% if True %}style="display:none;"{% endif %}>+</button>
          </td>
-->
