{% extends "items_add.jinja2" %}
{% set active_page = 'boxes_add' %}
{% set thing_type = 'Box' %}
{% set thing_type_pl = 'Boxes' %}
{% block title %}Add New Boxes{% endblock %}

{% block top %}
<h1 class="page-header">Add New Boxes</h1>
{% endblock %}

{% set post_url="/admin/boxes/add/submit" %}
