{% extends "base.jinja2" %}
{% set active_page = 'cash_reconcile' %}
{% block title %}Cash Box and Safe{% endblock %}

{% block top %}
<h1 class="page-header">Cash Box and Safe</h1>
{% endblock %}


{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Empty Cashbox</h3>
  </div>
  <div class="panel-body">
    <p>This will move all money that should be in the cashbox to the safe.
    We don't count here, so no need to enter an amount.</p>

    <form role="form" action="/admin/cash/reconcile/submit" method="post">
      <input type="hidden" name="cash-box-reconcile-type" value="cashboxtosafe">
      <button type="submit" class="btn btn-success">Move Cashbox to Safe</button>
    </form>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Deposit to Bank</h3>
  </div>
  <div class="panel-body">
    <p>This will move money from the safe to the bank. It will not, however, empty
    the cashbox. So, if you emptied the cashbox on the way to the bank,
    you should click the "Move Cashbox to Safe" button first.</p>

    <form role="form" action="/admin/cash/reconcile/submit" method="post" class="form-horizontal">
      <input type="hidden" name="cash-box-reconcile-type" value="safetobank">

      <div class="form-group">
        <label for="cash-box-amount" class="col-sm-3 control-label">Amount deposited to bank:</label>
        <div class="col-sm-9">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" id="cash-box-amount" name="amount">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="cash-box-reconcile" class="col-sm-3 control-label">Check if the safe is completely empty and you
      want to reconcile cash deposits.</label>
        <div class="col-sm-9">
          <input type="hidden" name="cash-box-reconcile" value="off">
          <input type="checkbox" id="cash-box-reconcile" name="cash-box-reconcile" checked="checked">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-success">Deposit</button>
        </div>
      </div>

    </form>
  </div>
</div>

{% endblock %}
