{% extends "base.jinja2" %}
{% set active_page = 'donation' %}
{% block title %}Donation{% endblock %}

{% block top %}
<h1 class="page-header">Donation</h1>
{% endblock %}


{% block content %}

<p>Make a formal donation to Chez Betty</p>

<form role="form" action="/admin/cash/donation/submit" method="post">

  <dl class="dl-horizontal">
    <dt>Donation Amount</dt>
    <dd><input type="text" class="form-control" id="donation-amount" name="amount"></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Reason</dt>
    <dd><input type="text" class="form-control" id="donation-reason" name="notes"></dd>
  </dl>

  <div>
    Set custom time for this donation or leave blank to use current time:<br />
    <input type="text" id="donation-date" name="donation-date" class="event-date-picker">
  </div>

  <button type="submit" class="btn btn-success">Add Donation</button>

</form>

{% endblock %}
