{% extends "base.jinja2" %}
{% set active_page = 'withdrawal' %}
{% block title %}Withdrawal{% endblock %}

{% block top %}
<h1 class="page-header">Withdrawal</h1>
{% endblock %}


{% block content %}

<p>Withdraw cash from Chez Betty to move to a different account.</p>
<p>This is most useful for entering reimbursements for events or other things
that Betty is paying for.</p>

<form role="form" action="/admin/cash/withdrawal/submit" method="post">

  <dl class="dl-horizontal">
    <dt>Withdrawal Amount</dt>
    <dd><input type="text" class="form-control" id="withdrawal-amount" name="amount"></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Reason</dt>
    <dd><input type="text" class="form-control" id="withdrawal-reason" name="notes"></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Receiver</dt>
    <dd>
      <select class="form-control" id="withdrawal-reimbursee" name="reimbursee">
        {% for reimbursee in reimbursees %}
        <option value="{{ reimbursee.id }}">{{ reimbursee.name }}</option>
        {% endfor %}
      </select>
    </dd>
  </dl>

  <div>
    Set custom time for this withdrawal or leave blank to use current time:<br />
    <input type="text" id="withdrawal-date" name="withdrawal-date" class="event-date-picker">
  </div>

  <button type="submit" class="btn btn-success">Withdraw</button>

</form>

{% endblock %}
