{% extends "base.jinja2" %}
{% set active_page = 'adjustment' %}
{% block title %}Cash Adjustments{% endblock %}

{% block top %}
<h1 class="page-header">Cash Adjustments</h1>
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add a Cash Withdrawal</h3>
      </div>
      <div class="panel-body">

        <p>Withdraw cash from Chez Betty to move to a different account.</p>
        <p>This is most useful for entering miscellaneous payments for events or other things
        that Betty is paying for.</p>

        <form role="form" action="/admin/cash/withdrawal/submit" method="post" class="form-horizontal">

          <div class="form-group">
            <label for="withdrawal-amount" class="col-sm-2 control-label">Amount:</label>
            <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" id="withdrawal-amount" name="amount">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="withdrawal-reason" class="col-sm-2 control-label">Reason:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="withdrawal-reason" name="notes">
            </div>
          </div>

          <div class="form-group">
            <label for="withdrawal-reimbursee" class="col-sm-2 control-label">Receiver:</label>
            <div class="col-sm-10">
              <select class="form-control" id="withdrawal-reimbursee" name="reimbursee">
                {% for reimbursee in reimbursees %}
                <option value="{{ reimbursee.id }}">{{ reimbursee.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="withdrawal-date" class="col-sm-2 control-label">
              Set custom time for this withdrawal or leave blank to use current time:
            </label>
            <div class="col-sm-10">
              <input type="text" id="withdrawal-date" name="withdrawal-date" class="event-date-picker">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success">Add Withdrawl</button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add a Cash Donation</h3>
      </div>
      <div class="panel-body">

        <p>Make a formal donation to Chez Betty. This is money being given
        to Betty somehow.</p>

        <form role="form" action="/admin/cash/donation/submit" method="post" class="form-horizontal">

          <div class="form-group">
            <label for="donation-amount" class="col-sm-2 control-label">Amount:</label>
            <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" id="donation-amount" name="amount">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="donation-reason" class="col-sm-2 control-label">Reason:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="donation-reason" name="notes">
            </div>
          </div>

          <div class="form-group">
            <label for="donation-date" class="col-sm-2 control-label">
              Set custom time for this donation or leave blank to use current time:
            </label>
            <div class="col-sm-10">
              <input type="text" id="donation-date" name="donation-date" class="event-date-picker">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success">Add Donation</button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Manual Cash Adjustment</h3>
      </div>
      <div class="panel-body">

        <p>Only use this in rare cases where money was lost and this is the only way to
        account for it.</p>
        <p>Positive values will be added to the Chez Betty account and negative
        values will be subtracted.</p>

        <form role="form" action="/admin/cash/adjustment/submit" method="post" class="form-horizontal">

          <div class="form-group">
            <label for="adjustment-amount" class="col-sm-2 control-label">Amount:</label>
            <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" id="adjustment-amount" name="amount">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="adjustment-reason" class="col-sm-2 control-label">Reason:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="adjustment-reason" name="notes">
            </div>
          </div>

          <div class="form-group">
            <label for="adjustment-date" class="col-sm-2 control-label">
              Set custom time for this adjustment or leave blank to use current time:
            </label>
            <div class="col-sm-10">
              <input type="text" id="adjustment-date" name="adjustment-date" class="event-date-picker">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success">Add Adjustment</button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
