{% extends "base.jinja2" %}
{% set active_page = 'cash_transactions' %}
{% block title %}Cash Ledger {% endblock %}

{% block top %}
<h1 class="page-header">Cash Ledger</h1>
{% endblock %}


{% block content %}
<h3>Cash Accounts</h3>
<div class="row">
<div class="col-md-6">
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Version</th>
      <th>Name</th>
      <th class="right">Balance</th>
    </tr>
  </thead>
  <tbody>
  {% for t in accounts %}
    <tr>
        <td>{{ t.id }}</td>
        <td>{{ t.version }}</td>
        <td>{{ t.name }}</td>
        <td class="right">{{ t.balance|format_currency|safe }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</div>

<br/>
<h3>Cash Transaction History</h3>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Transaction</th>
      <th>Timestamp</th>
      <th>From Account:</th>
      <th>To Account:</th>
      <th class="right">Amount</th>
    </tr>
  </thead>
  <tbody>
  {% for t in ct %}
    <tr>
        <td>{{ t.id }}</td>
        <td> <a href="/admin/transactions/{{ t.transaction_id }}">{{ t.transaction_id if t.transaction_id else ""}}</a></td>
        <td>{{ t.timestamp|pretty_date|safe }}</td>
        <td>{{ t.from_account|make_link|safe if t.from_account else "n/a" }}</td>
        <td>{{ t.to_account|make_link|safe if t.to_account else "n/a" }}</td>
        <td class="right">{{ t.amount|format_currency|safe }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
