{% extends "base.jinja2" %}
{% set active_page = 'cash_reconcile' %}
{% block title %}Cash Box{% endblock %}

{% block top %}
<h1 class="page-header">Cash Box</h1>
{% endblock %}


{% block content %}

<form role="form" action="/admin/cash/reconcile/submit" method="post">

  <dl class="dl-horizontal">
    <dt>Cash Box Contents</dt>
    <dd><input type="text" class="form-control numeric" id="cash-box-amount" name="amount"></dd>
  </dl>


  <input type="hidden" name="cash-box-reconcile" value="off">
  <input type="checkbox" id="cash-box-reconcile" name="cash-box-reconcile">
  <label for="cash-box-reconcile">Check to if the box is completely empty and you
  want to reconcile the cashbox.</label>

  <br />

  <button type="submit" class="btn btn-success">Deposit</button>

</form>

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-admin-keyboard.js'|static_url}}"></script>
{% endblock %}
