{% extends "base.jinja2" %}
{% set active_page = 'adjustment' %}
{% block title %}Adjustment{% endblock %}

{% block top %}
<h1 class="page-header">Adjustment</h1>
{% endblock %}


{% block content %}

<p>Manual cash adjustment.</p>
<p>Only use this in rare cases where money was lost and this is the only way to
account for it.</p>
<p>Positive values will be added to the Chez Betty account and negative
values will be subtracted.</p>

<form role="form" action="/admin/cash/adjustment/submit" method="post">

  <dl class="dl-horizontal">
    <dt>Misc Adjustment Amount</dt>
    <dd><input type="text" class="form-control" id="adjustment-amount" name="amount"></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Reason</dt>
    <dd><input type="text" class="form-control" id="adjustment-reason" name="notes"></dd>
  </dl>

  <button type="submit" class="btn btn-success">Store Adjustment</button>

</form>

{% endblock %}
