{% extends "base.jinja2" %}
{% set active_page = 'cash_reconcile' %}
{% block title %}Cash Box{% endblock %}

{% block top %}
<h1 class="page-header">Cash Box</h1>
{% endblock %}


{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Empty Cashbox</h3>
  </div>
  <div class="panel-body">
    This will move all money that should be in the cashbox to the safe.
    We don't count here, so no need to enter an amount.

    <form role="form" action="/admin/cash/reconcile/submit" method="post">
      <input type="hidden" name="cash-box-reconcile-type" value="cashboxtosafe">
      <button type="submit" class="btn btn-success">Move Cashbox to Safe</button>
    </form>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Deposit to Bank</h3>
  </div>
  <div class="panel-body">
    This will move money from the safe to the bank. It will not, however, empty
    the cashbox. So, if you emptied the cashbox on the way to the bank,
    you should click the "Move Cashbox to Safe" button first.

    <form role="form" action="/admin/cash/reconcile/submit" method="post">
      <input type="hidden" name="cash-box-reconcile-type" value="safetobank">

      <dl class="dl-horizontal">
        <dt>Amount deposited to bank</dt>
        <dd><input type="number" min="0" step="0.01" class="form-control numeric" id="cash-box-amount" name="amount"></dd>
      </dl>


      <input type="hidden" name="cash-box-reconcile" value="off">
      <input type="checkbox" id="cash-box-reconcile" name="cash-box-reconcile" checked="checked">
      <label for="cash-box-reconcile">Check if the safe is completely empty and you
      want to reconcile cash deposits.</label>

      <br />
      <button type="submit" class="btn btn-success">Deposit</button>
    </form>
  </div>
</div>




{% endblock %}
