{% extends "base.jinja2" %}
{% set active_page = 'edit_password' %}
{% block title %}Edit Password{% endblock %}

{% block top %}
<h1 class="page-header">Edit Password</h1>
{% endblock %}


{% block content %}

<form role="form" action="/admin/edit/password/submit" method="post">

  <dl class="dl-horizontal">
    <dt>New Password</dt>
    <dd><input type="password" class="form-control" id="edit-password-0" name="edit-password-0"></dd>

    <dt>New Password (confirm)</dt>
    <dd><input type="password" class="form-control" id="edit-password-1" name="edit-password-1"></dd>

  </dl>

  <button type="submit" class="btn btn-success">Update Password</button>

</form>

{% endblock %}
