{% extends "base.jinja2" %}
{% set active_page = 'edit_items' %}
{% block title %}Edit Items{% endblock %}

{% block top %}
<h1 class="page-header">Edit Items</h1>
{% endblock %}


{% block content %}

<form role="form" action="/admin/edit/items/submit" method="post">

  <div class="row item-list-header">
    <div class="col-sm-1">Item ID</div>
    <div class="col-sm-4">Name</div>
    <div class="col-sm-2">Barcode</div>
    <div class="col-sm-2">Item Price</div>
    <div class="col-sm-2">Item Wholesale</div>
    <div class="col-sm-1">Actions</div>
  </div>


  {% for item in items %}
  <div id="item-{{ item.id }}" class="form-group row edit-item-row">
    <div class="col-sm-1">
      {{ item.id }}
    </div>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="item-name-{{ item.id }}" name="item-name-{{ item.id }}" value="{{ item.name }}" {% if item.enabled == False %}disabled="disabled"{% endif %}>
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="item-barcode-{{ item.id }}" name="item-barcode-{{ item.id }}" value="{{ item.barcode }}" {% if item.enabled == False %}disabled="disabled"{% endif %}>
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="item-price-{{ item.id }}" name="item-price-{{ item.id }}" value="{{ item.price }}" {% if item.enabled == False %}disabled="disabled"{% endif %}>
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="item-wholesale-{{ item.id }}" name="item-wholesale-{{ item.id }}" value="{{ item.wholesale }}" {% if item.enabled == False %}disabled="disabled"{% endif %}>
    </div>
    <div class="col-sm-1 item-actions">
      <button type="button" id="btn-disable-item-{{ item.id }}" class="btn btn-danger" {% if item.enabled == False %}style="display:none;"{% endif %}>X</button>
      <button type="button" id="btn-enable-item-{{ item.id }}" class="btn btn-success" {% if item.enabled == True %}style="display:none;"{% endif %}>+</button>
    </div>
    <input type="hidden" class="form-control" id="item-enabled-{{ item.id }}" name="item-enabled-{{ item.id }}" value="{{ item.enabled|int }}">
  </div>
  {% endfor %}

  <button type="submit" class="btn btn-success">Update Items</button>

</form>

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-admin-onload.js'|static_url}}"></script>
{% endblock %}
