{% extends "base.jinja2" %}
{% set active_page = 'edit_balance' %}
{% block title %}Edit User Balance{% endblock %}

{% block top %}
<h1 class="page-header">Edit User Balance</h1>
{% endblock %}


{% block content %}

<form role="form" action="/admin/edit/balance/submit" method="post">

  <div class="row">
    <div class="col-sm-2">Select User</div>
    <div class="col-sm-3">
      <select class="form-control" id="select-user" name="user">
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.name~" ("~user.uniqname~")" }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">Current Balance</div>
    {% for user in users %}
    <div class="col-sm-3 current-balance" id="current-balance-{{ user.id }}" {% if loop.index != 1 %}style="display:none;"{% endif %}>{{ user.balance|format_currency|safe }}</div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-sm-2">Balance Adjustment</div>
    <div class="col-sm-3"><input type="text" class="form-control" id="balance-change-amount" name="amount"></div>
  </div>

  <div class="row">
    <div class="col-sm-2">New Balance</div>
    <div class="col-sm-3" id="new_balance">{{ users[0].balance|format_currency|safe }}</div>
  </div>

  <div class="row">
    <div class="col-sm-2">Reason</div>
    <div class="col-sm-3"><input type="text" class="form-control" id="balance-change-reason" name="reason"></div>
  </div>


  <button type="submit" class="btn btn-success">Adjust Balance</button>

</form>

{% endblock %}
