<p>Hi {{ user.name }},</p>

<p>A new password has been created for you on Chez Betty.</p>

<p>To login, go to <a href="https://chezbetty.eecs.umich.edu/user">chezbetty.eecs.umich.edu/user</a>. From your user page, you can deposit money using a credit card.</p>

<dl>
        <dt>username:</dt><dd>{{ user.uniqname }}</dd>
        <dt>password:</dt><dd>{{ password }}</dd>
</dl>

<br />
<p>- Chez Betty</p>
