<p>Hi {{ user.name }},</p>

<p>Welcome to Chez Betty!</p>

<p>Betty is a food co-op run by <a href="http://cseg.eecs.umich.edu/">CSEG</a>,
the computer science graduate student group, as a service to the CSE community.
</p>

<p>
Betty runs on the honor system, you put some money in your account and then let
us know what you take. Betty will keep track of how much money you have left in
your account.
</p>

<p>
If you run out of money, Betty will track debt for you, however we ask that
users try to keep a positive balance so that we can afford to keep things in
stock. For users with over $20 in their account, Betty will give a 5% discount
on items.
</p>

<p>
You can see your transaction history or deposit money into your account using
a credit card on your <a href="https://chezbetty.eecs.umich.edu/user">user page</a>.
</p>

<p>
If you have any questions or issues, you can e-mail the administrators at
<a href="mailto:chezbetty@umich.edu">chezbetty@umich.edu</a>.
</p>

<p>We hope you enjoy Betty!</p>

<br />
<p>- Chez Betty</p>

