<p>Hi {{ user.name }},</p>

<p>This is Chez Betty letting you know that your current balance is
{{ user.balance|format_currency|safe }}. Please pay at your earliest
convenience.</p>

<p><a href="https://chezbetty.eecs.umich.edu/paydebt/{{ user.uniqname }}">
Click here to pay online.</a></p>

<p>Thank you,</p>
<p>Chez Betty</p>
