<p>Hi {{ owner.name }},</p>

<p>Just wanted to give you a heads up that the {{ pool.name }} pool has reached its credit limit.
The current pool balance is {{ pool.balance|format_currency|safe }} and the current credit limit
for the pool is {{ pool.credit_limit|format_currency|safe }}. Pool members will not be able to
make purchases using this pool until you deposit more money.</p>

<p>To add money to this pool, <a href="https://chezbetty.store/user/deposit_cc?acct=pool-{{ pool.id }}">click here</a>.</p>

<p>To request a change in credit limit for this pool, please e-mail the admins
at <a href="mailto:chez-betty@umich.edu">chez-betty@umich.edu</a>.</p>

<p>Thanks for being a loyal Betty user!</p>

<br />
<p>- Chez Betty</p>
