<p>Hi {{ user.name }},</p>

<p>It's the end of the semester. We appreciate your loyal business during the
semester, and while we're happy to extend a small line of credit, Betty is run
by graduate students with limited resources. You currently owe Betty
{{ user.balance|format_currency|safe }}. We would greatly appreciate if you
could settle your debts with Betty.</p>

<p><a href="https://chezbetty.eecs.umich.edu/paydebt/{{ user.uniqname }}">
Click here to pay online.</a></p>

<p>Thank you,</p>
<p>Chez Betty</p>

