{% extends "base.jinja2" %}
{% set active_page = 'transactions' %}
{% block title %}Transaction Ledger {% endblock %}

{% block top %}
<h1 class="page-header">Transaction Ledger</h1>
{% endblock %}

{% block submenu %}
{% include "events_menu.jinja2" %}
{% endblock %}

{% block contentwide %}

<table class="table table-condensed table-striped sticky" id="events_table">
  <thead>
    <tr>
      <th></th>
      <th>Timestamp</th>
      <th class="filterable-row">Type</th>
      <th class="filterable-row">From Account:</th>
      <th class="filterable-row">To Account:</th>
      <th class="filterable-row">From Account Cash:</th>
      <th class="filterable-row">To Account Cash:</th>
      <th class="right">Amount</th>
    </tr>
  </thead>
  <tbody>
  {% for event in events %}
  {% include "events_row.jinja2" %}
  {% endfor %}
  </tbody>
</table>
<p id="events_showing_text">Showing rows 1-{{ events|length }}.</p>
<p id="events_force_load"><a onclick="event_load_more();">Click to load more rows.</a></p>
<p id="events_showing_count" style="visibility: hidden;">{{ events|length }}</p>

<script>
/* This js is only used on this page. It is included in this file b/c it
   needs to bind to the window element. Including it in any of the general
   files causes this to fire inappropriately every time the bottom of the page
   is reached.
*/

var event_loading = false;

function event_load_more_success (data) {
  $("#events_showing_text").text("Showing rows 1-"+data.count+".");
  $("#events_showing_count").text(data.count);

  $("#events_table tr:last").after(data.rows);
  $(".date").each(prettydate);

  event_loading = false;
  $("#events_force_load").show();
}

function event_load_more_fail () {
  $("#events_showing_text").text("Error loading more rows.");
}

function event_load_more () {
  event_loading = true;
  $("#events_force_load").hide();
  $("#events_showing_text").text($("#events_showing_text").text() + " Loading more rows...");
  $.ajax({
    type: "POST",
    url: "/admin/events/load_more",
    data: { last: $("#events_showing_count").text(), filter: "{{ event_filter }}" },
    success: event_load_more_success,
    error: event_load_more_fail
  });
}

$(window).scroll(function event_autoload_onscroll () {
  if (event_loading) return;

  if ($(window).scrollTop() == $(document).height() - $(window).height()) {
    event_load_more();
  }
});
</script>

{% endblock %}
