{% extends "base.jinja2" %}
{% set active_page = 'transactions' %}
{% block title %}Transaction Ledger {% endblock %}

{% block top %}
<h1 class="page-header">Transaction Ledger</h1>
{% endblock %}

{% block submenu %}
{% include "events_menu.jinja2" %}
{% endblock %}

{% block content %}

<table class="table table-condensed table-striped filterable" id="events_table">
  <thead>
    <tr>
      <th></th>
      <th>Timestamp</th>
      <th class="filterable-row">Type</th>
      <th class="filterable-row">From Account:</th>
      <th class="filterable-row">To Account:</th>
      <th class="filterable-row">From Account Cash:</th>
      <th class="filterable-row">To Account Cash:</th>
      <th class="right">Amount</th>
    </tr>
  </thead>
  <tbody>
  {% for event in events %}
  {% include "events_row.jinja2" %}
  {% endfor %}
  </tbody>
</table>
<p id="events_showing_text">Showing rows 1-{{ limit }}.</p>
<p id="events_showing_count" style="visibility: hidden;">{{ limit }}</p>

{% endblock %}
