<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li {% if event_filter == 'all' %}class="active"{% endif %}><a href="/admin/events">All Transactions</a></li>
      {% if request.has_permission("admin") %}
      <li {% if event_filter == 'deleted' %}class="active"{% endif %}><a href="/admin/events?filter=deleted">Deleted Transactions</a></li>
      <li {% if event_filter == 'cash' %}class="active"{% endif %}><a href="/admin/events?filter=cash">Cash Transactions</a></li>
      <li {% if event_filter == 'restock' %}class="active"{% endif %}><a href="/admin/events?filter=restock">Restocks</a></li>
      <li {% if event_filter == 'emptycash' %}class="active"{% endif %}><a href="/admin/events?filter=emptycash">Cashbox Empties</a></li>
      <li {% if event_filter == 'deposit' %}class="active"{% endif %}><a href="/admin/events?filter=deposit">Deposits</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
