{% extends "base.jinja2" %}
{% set active_page = 'transactions' %}
{% block title %}Event{% endblock %}

{% block top %}
<h1 class="page-header">View Event</h1>
{% endblock %}

{% block submenu %}
{% set sub_active_page = sub_active_page|default('index') -%}
{% include "events_menu.jinja2" %}
{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">Event Details</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Timestamp</dt><dd>{{ event.timestamp|pretty_date|safe }}</dd>
      <dt>Creator</dt><dd>{{ event.admin|make_link|safe if event.admin else "n/a" }} ({{ event.admin.balance|format_currency|safe }})</dd>
      <dt>Type</dt><dd>{{ event.type }}</dd>
      {% if event.notes %}
      <dt>Notes</dt><dd>{{ event.notes }}</dd>
      {% endif %}
      {% if event.deleted %}
      <dt>Status</dt><dd><span class="red">DELETED</span></dd>
      <dt>Deleted By</dt><dd>{{ event.deleted_user.name }} on {{ event.deleted_timestamp|pretty_date|safe }}</dd>
      {% endif %}
      {% for receipt in event.receipts %}
      <dt>Attachment {{ loop.index }}</dt><dd><a href="/admin/event/receipt/{{ receipt.id}}.pdf">event-receipt-{{ receipt.id }}.pdf</a></dd>
      {% endfor %}
    </dl>
  </div>

  <ul class="list-group">
    {% for t in event.transactions %}
    <li class="list-group-item">
      <dl class="dl-horizontal">
        <dt>Type</dt><dd>{{ t.type }}</dd>
        <dt>Amount</dt><dd>{{ t.amount|format_currency|safe }}</dd>
        {% if t.discount %}
        <dt>Discount</dt><dd>{{ ((t.amount / (1-t.discount)) - t.amount)|format_currency|safe }} ({{ '{:.2}'.format(t.discount*100) }}%)</dd>
        {% endif %}
        <dt>From Account (Virt)</dt><dd>{{ t.fr_account_virt.name if t.fr_account_virt else "n/a" }}</dd>
        <dt>To Account (Virt)</dt><dd>{{ t.to_account_virt.name if t.to_account_virt else "n/a" }}</dd>
        <dt>From Account (Cash)</dt><dd>{{ t.fr_account_cash.name if t.fr_account_cash else "n/a" }}</dd>
        <dt>To Account (Cash)</dt><dd>{{ t.to_account_cash.name if t.to_account_cash else "n/a" }}</dd>
        {% if t.type == "btcdeposit" %}
        <dt>Transaction</dt><dd><a href="https://blockchain.info/tx/{{ t.btctransaction }}?show_adv=true">{{ t.btctransaction }}</a></dd>
        <dt>Address</dt><dd><a href="https://blockchain.info/address/{{ t.address }}">{{ t.address }}</a></dd>
        <dt>BTC Amount</dt><dd>{{ t.amount_btc }}</dd>
        {% endif %}
      </dl>

      {% if t.subtransactions %}

      <br/>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Item</th>
            {% if t.type == "purchase" %}
            <th class="right">Item Amount</th>
            {% endif %}
            {% if t.type == "inventory" %}
            <th class="right">Quantity Predicted</th>
            <th class="right">Quantity Counted</th>
            {% else %}
            <th class="right">Quantity</th>
            {% endif %}
            {% if t.type == "restock" %}
            <th class="right">Wholesale</td>
            <th class="right">Coupon</td>
            <th>Sales Tax</td>
            <th>Bottle Deposit</td>
            {% endif %}
            <th class="right">Total</th>
          </tr>
        </thead>
        <tbody>
        {% for st in t.subtransactions %}
          {% if st.type == "restocklinebox" %}
          <tr>
              <td>
                {{ st.box|make_link|safe }}

                <table class="table table-bordered" style="margin:10px 0 10px 10px;">
                  <tbody style="font-size:90%">
                    {% for sst in st.subsubtransactions %}
                    <tr>
                      <td style="width:10%;">{{ sst.quantity }}</td>
                      <td>{{ sst.item|make_link|safe }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </td>
              <td class="right">{{ st.quantity }}</td>
              <td class="right">{{ st.wholesale|round(4) }}</td>
              <td class="right">{% if (none == st.coupon_amount) %}0{% else %}{{ st.coupon_amount|round(2) }}{% endif %}</td>
              <td>{% if st.sales_tax %}Y{% else %}N{% endif %}</td>
              <td>{% if st.bottle_deposit %}Y{% else %}N{% endif %}</td>
              <td class="right">{{ st.amount|format_currency|safe }}</td>
          </tr>

          {% else %}

          <tr>
              <td>{{ st.item|make_link|safe }}</td>
              {% if t.type == "purchase" %}
              <td class="right">{{ st.price|format_currency|safe }}</td>
              {% endif %}
              {% if t.type == "inventory" %}
              <td class="right">{{ st.quantity }}</td>
              <td class="right">{{ st.quantity_counted }}</td>
              {% else %}
              <td class="right">{{ st.quantity }}</td>
              {% endif %}
              {% if t.type == "restock" %}
              <td class="right">{{ st.wholesale|round(4) }}</td>
              <td class="right">{% if (none == st.coupon_amount) %}0{% else %}{{ st.coupon_amount|round(2) }}{% endif %}</td>
              <td>{% if st.sales_tax %}Y{% else %}N{% endif %}</td>
              <td>{% if st.bottle_deposit %}Y{% else %}N{% endif %}</td>
              {% endif %}
              <td class="right">{{ st.amount|format_currency|safe }}</td>
          </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>

      {% endif %}


    </li>
    {% endfor %}
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Upload Receipt</div>
  <div class="panel-body">
    <form role="form" action="/admin/event/upload" method="post" enctype="multipart/form-data" id="form-upload-receipt">
      <input type="hidden" name="event-id" value="{{ event.id }}">
      <input type="file" name="event-receipt" accept="application/pdf">
      <button type="submit" class="btn btn-success">Upload</button>
    </form>
  </div>
</div>

{% if undo_url and event.deleted == False %}
<a class="btn btn-danger" href="{{ undo_url }}">Undo this Event</a>
{% endif %}

{% endblock %}
