{% extends "base.jinja2" %}
{% set active_page = 'transactions' %}
{% block title %}Transaction Ledger {% endblock %}

{% block top %}
<h1 class="page-header">Transaction Ledger</h1>
{% endblock %}

{% block submenu %}
{% include "events_menu.jinja2" %}
{% endblock %}

{% block content %}

<table class="table table-condensed table-striped filterable">
  <thead>
    <tr>
      <th></th>
      <th>Timestamp</th>
      <th class="filterable-row">Type</th>
      <th class="filterable-row">From Account:</th>
      <th class="filterable-row">To Account:</th>
      <th class="filterable-row">From Account Cash:</th>
      <th class="filterable-row">To Account Cash:</th>
      <th class="right">Amount</th>
    </tr>
  </thead>
  <tbody>
  {% for e in events|reverse %}
  {% for t in e.transactions|reverse %}
    <tr>
        <td><a href="/admin/event/{{ e.id }}"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></button></a></td>
        <td>{{ t.event.timestamp|pretty_date|safe }}</td>
        <td>{{ t.type }}</td>
        <td>{{ t.fr_account_virt|make_link|safe if t.fr_account_virt else "n/a" }}</td>
        <td>{{ t.to_account_virt|make_link|safe if t.to_account_virt else "n/a" }}</td>
        <td>{{ t.fr_account_cash|make_link|safe if t.fr_account_cash else "n/a" }}</td>
        <td>{{ t.to_account_cash|make_link|safe if t.to_account_cash else "n/a" }}</td>
        <td class="right">{{ t.amount|format_currency|safe }}</td>
    </tr>
  {% endfor %}
  {% endfor %}
  </tbody>
</table>

{% endblock %}
