{% for t in event.transactions|reverse %}
<tr>
  <td>
    <a href="/admin/event/{{ event.id }}">
      <button type="button" class="btn btn-primary btn-xs">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </a>
  </td>
  <td>{{ t.event.timestamp|pretty_date|safe }}</td>
  <td>{{ t.type }}</td>
  <td>
    {{ t.fr_account_virt|make_link|safe if t.fr_account_virt else "n/a" }}
    {% if t.fr_account_virt.balance is defined and t.fr_account_virt.type != 'virtual' %}
      ({{ t.fr_account_virt.balance|format_currency|safe }})
    {% endif %}
  </td>
  <td>
    {{ t.to_account_virt|make_link|safe if t.to_account_virt else "n/a" }}
    {% if t.to_account_virt.balance is defined and t.to_account_virt.type != 'virtual' %}
      ({{ t.to_account_virt.balance|format_currency|safe }})
    {% endif %}
  </td>
  <td>{{ t.fr_account_cash|make_link|safe if t.fr_account_cash else "n/a" }}</td>
  <td>{{ t.to_account_cash|make_link|safe if t.to_account_cash else "n/a" }}</td>
  <td class="right">{{ t.amount|format_currency|safe }}</td>
</tr>
{% endfor %}
