{% extends "base.jinja2" %}
{% block title %}Home{% endblock %}

{% block top %}
<h1 class="page-header">Chez Betty Admin Panel</h1>
{% endblock %}


{% block content %}

<p>
  Welcome to the control panel for Chez Betty
</p>

{% endblock %}