{% extends "base.jinja2" %}
{% import "macro_buttons.jinja2" as button %}
{% import "macro_graph.jinja2" as graph %}

{% block title %}Home{% endblock %}


{% block top %}

<h1 class="page-header">Chez Betty Admin Panel</h1>

{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-5">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Account Information</h3>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <thead>
                <tr>
                  <th colspan="2">Virtual Accounts</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Chez Betty</td>
                  <td class="right">{{ chezbetty.balance|format_currency|safe }}</td>
                </tr>
                <tr>
                  <td>Users</td>
                  <td class="right">{{ users_balance|format_currency|safe }}</td>
                </tr>
                <tr>
                  <td>Users Owe</td>
                  <td class="right">{{ owed_by_users|format_currency|safe }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table">
              <thead>
                <tr>
                  <th colspan="2">Cash Accounts</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Chez Betty</td>
                  <td class="right">{{ chezbetty_cash.balance|format_currency|safe }}</td>
                </tr>
                <tr>
                  <td>Safe</td>
                  <td class="right">{{ safe.balance|format_currency|safe }}</td>
                </tr>
                <tr>
                  <td>Cash Box</td>
                  <td class="right">{{ cashbox.balance|format_currency|safe }}</td>
                </tr>
                <tr>
                  <td>Bitcoin Box</td>
                  <td class="right">{{ btcbox.balance|format_currency|safe }}</td>
                </tr>
                <tr>
                  <td>Users Cash</td>
                  <td class="right">{{ held_for_users|format_currency|safe }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Assets</h3>
      </div>
      <div class="panel-body">

        <table class="table">
          <tbody>
            <tr>
              <td>Cash+Safe</td>
              <td class="right">{{ (chezbetty_cash.balance + safe.balance)|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Coinbase</td>
                <td class="right ajaxed_field" id="index-bitcoin">Loading...</td>
            </tr>
            <tr>
              <td>Inventory (Wholesale)</td>
              <td class="right">{{ inventory.wholesale|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Inventory (Price)</td>
              <td class="right">{{ inventory.price|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Estimated Net</td>
              <td class="right">{{ estimated_net|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Debt Forgiven</td>
              <td class="right">{{ debt_forgiven|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Absorbed From Users</td>
              <td class="right">{{ balance_absorbed|format_currency|safe }}</td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="col-md-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cash Summary</h3>
      </div>
      <div class="panel-body">

        <table class="table">
          <tbody>
            <tr>
              <td>Cashbox Net</td>
              <td class="right">{{ cashbox_net|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Bitcoin Net</td>
              <td class="right">{{ btcbox_net|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Misc Net</td>
              <td class="right">{{ chezbetty_net|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Store</td>
              <td class="right">{{ restock.balance|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Donation</td>
              <td class="right">{{ donation.balance|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Withdrawal</td>
              <td class="right">{{ withdrawal.balance|format_currency|safe }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Today</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td>Sales</td>
              <td class="right">{{ today_sales|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Profit on Sales</td>
              <td class="right">{{ today_profit|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Inventory Lost</td>
              <td class="right">{{ today_lost|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Deposits</td>
              <td class="right">{{ today_dep|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Cash Deposits</td>
              <td class="right">{{ today_dep_cash|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>BTC Deposits</td>
              <td class="right">{{ today_dep_btc|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>CC Deposits</td>
              <td class="right">{{ today_dep_cc|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Discounts</td>
              <td class="right">{{ today_discounts|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Fees</td>
              <td class="right">{{ today_fees|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Active Users</td>
              <td class="right">{{ today_users }}</td>
            </tr>
            <tr>
              <td>New Users</td>
              <td class="right">{{ today_new_users }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Yesterday</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td>Sales</td>
              <td class="right">{{ yesterday_sales|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Profit on Sales</td>
              <td class="right">{{ yesterday_profit|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Inventory Lost</td>
              <td class="right">{{ yesterday_lost|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Deposits</td>
              <td class="right">{{ yesterday_dep|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Cash Deposits</td>
              <td class="right">{{ yesterday_dep_cash|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>BTC Deposits</td>
              <td class="right">{{ yesterday_dep_btc|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>CC Deposits</td>
              <td class="right">{{ yesterday_dep_cc|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Discounts</td>
              <td class="right">{{ yesterday_discounts|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Fees</td>
              <td class="right">{{ yesterday_fees|format_currency|safe }}</td>
            </tr>
            <tr>
              <td>Active Users</td>
              <td class="right">{{ yesterday_users }}</td>
            </tr>
            <tr>
              <td>New Users</td>
              <td class="right">{{ yesterday_new_users }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        {% if request.has_permission('admin') %}
        <h3 class="panel-title"><a href="/admin/users/list?sort=balance">Wall of Shame Overview</a></h3>
        {% else %}
        <h3 class="panel-title">Wall of Shame Overview</h3>
        {% endif %}
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>User</th>
              <th class="right" style="width:20%;">Balance</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users_shame %}
            <tr>
              {% if request.has_permission('admin') %}
              <td>{{ user|make_link(33)|safe }}</td>
              {% else %}
              <td>{{ user.name }}</td>
              {% endif %}
              <td class="right">{{ user.balance|format_currency|safe }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>

{% if request.has_permission('admin') %}
<div class="row">

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="/admin/events">Recent Transactions</a></h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-striped table-responsive">
          <thead>
            <tr>
              <th></th>
              <th>Timestamp</th>
              <th>Type</th>
              <th>From Account:</th>
              <th>To Account:</th>
              <th class="right">Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for e in events %}
            {% for t in e.transactions %}

            <tr>
              <td>{{ button.event(e.id) }}</td>
              <td>{{ e.timestamp|pretty_date|safe }}</td>
              <td>{{ t.type }}</td>
              <td>
                {{ t.fr_account_virt|make_link|safe if t.fr_account_virt else "n/a" }}
                {# Add account balance next to name for easy lookup. #}
                {% if t.fr_account_virt.balance is defined and t.fr_account_virt.type != 'virtual' %}
                  ({{ t.fr_account_virt.balance|format_currency|safe }})
                {% endif %}
              </td>
              <td>
                {{ t.to_account_virt|make_link|safe if t.to_account_virt else "n/a" }}
                {% if t.to_account_virt.balance is defined and t.to_account_virt.type != 'virtual' %}
                  ({{ t.to_account_virt.balance|format_currency|safe }})
                {% endif %}
              </td>
              <td class="right">{{ t.amount|format_currency|safe }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
        </div>
    </div>
  </div>

</div>
{% endif %}

{% if owed_reimbursements %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="/admin/reimbursees">Outstanding Reimbursements</a></h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-striped table-responsive">
          <thead>
            <tr>
              <th>Name</th>
              <th class="right">Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for reimbursee in owed_reimbursements %}
            <tr>
              <td>{{ reimbursee.name }}</td>
              <td class="right">{{ reimbursee.balance|format_currency|safe }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="/admin/items/list">Quick Item Lookup</a></h3>
      </div>
      <div class="panel-body">
        <input type="text" id="user-purchase-add-search-item" class="form-control">
        <button type="button" id="user-purchase-add-search-item-button" class="btn btn-success">Search Item</button>
        <span id="user-search-notice-item"></span>
        <table id="user-search-table-items" style="width: 100%">
          <tr id="user-search-item-row-0" class="user-search-row" style="display:none;">
            <td class="user-search-row-item-name">Name</td>
            <td class="user-search-row-item-stock">Stock</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
