{% extends "base.jinja2" %}
{% set active_page = 'inventory' %}
{% block title %}Inventory{% endblock %}

{% block top %}
<h1 class="page-header">Inventory</h1>
{% endblock %}


{% block content %}

<form role="form" action="/inventory/submit" method="post">

  <div class="row item-list-header">
    <div class="col-sm-1">Item ID</div>
    <div class="col-sm-7">Name</div>
    <div class="col-sm-2">In Stock</div>
    <div class="col-sm-2">New Count</div>
  </div>

  {% for item in items %}
  <div id="item-{{ item.id }}" class="form-group row">
    <div class="col-sm-1">{{ item.id }}</div>
    <div class="col-sm-7">{{ item.name }}</div>
    <div class="col-sm-2">{{ item.in_stock }}</div>
    <div class="col-sm-2"><input type="text" class="form-control" id="item-newstock-{{ item.id }}" value=""></div>
  </div>
  {% endfor %}

  <button type="submit" class="btn btn-success">Process Inventory</button>

</form>

{% endblock %}