{% extends "base.jinja2" %}
{% set active_page = 'inventory' %}
{% block title %}Inventory{% endblock %}

{% block top %}
<h1 class="page-header">Inventory</h1>
{% endblock %}


{% block content %}

<form role="form" action="/admin/inventory/submit" method="post">

  <table class="table">
    <thead>
      <tr class="item-list-header">
        <th>Name</th>
        <th>In Stock</th>
        <th>New Count</th>
      </tr>
    </thead>

    <tbody>
      {% for group in [('Items We Should Have', items_have), ('Items We Do Not Have',items_donthave), ('Disabled Items',items_disabled)] %}

      <tr>
        <td colspan="3"><h3>{{ group[0] }}</td>
      </tr>

      {% for item in group[1] %}
      <tr id="item-{{ item.id }}">
        <td>{{ item|make_link|safe }}</td>
        <td>{{ item.in_stock }}</td>
        <td><input type="text" class="form-control numeric" id="item-newstock-{{ item.id }}" name="item-newstock-{{ item.id }}" value="{{ undone_inventory[item.id] }}"></td>
      </tr>
      {% endfor %}
      {% endfor %}
    </tbody>

  </table>

  <button type="submit" class="btn btn-success">Process Inventory</button>

</form>

{% endblock %}
