{% extends "base.jinja2" %}
{% set active_page = active_page|default('items_add') %}
{% block title %}Add New Items{% endblock %}

{% block top %}
<h1 class="page-header">Add New Items</h1>
{% endblock %}

{% set post_url = post_url|default("/admin/items/add/submit") %}
{% block content %}

<form role="form" action="{{ post_url }}" method="post">

  <table class="table">

    <thead>
      <tr class="item-list-header">
        <th>Name</th>
        <th>Barcode</th>
      </tr>
    </thead>

    <tbody id="new-items">
      {% for number in range(0, items['count']|int) %}
      <tr id="new-item-0" class="new-item">
        <td><input type="text" class="form-control" id="item-name-{{ number }}" name="item-name-{{ number }}" value="{{ items['name-'~number] }}"></td>
        <td><input type="text" class="form-control barcode-check" id="item-barcode-{{ number }}" name="item-barcode-{{ number }}" value="{{ items['barcode-'~number] }}"></td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

  <button type="button" id="btn-items-add-row" class="btn btn-success">Add Another {{ thing_type|default("Item") }}</button>
  <br />
  <br />
  <button type="submit" class="btn btn-success">Add {{ thing_type_pl|default("Items") }}</button>

  <input type="hidden" id="new-items-number" name="new-items-number" value="{{ items['count'] }}">

</form>

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-admin-noenter.js'|static_url}}"></script>
<script src="{{'chezbetty:static/js/chezbetty-admin-keyboard.js'|static_url}}"></script>
{% endblock %}