{% extends "base.jinja2" %}
{% set active_page = 'items_edit' %}
{% block title %}Edit Items{% endblock %}

{% block top %}
<h1 class="page-header">Edit Items</h1>
{% endblock %}


{% block content %}

{% set sort=request.GET["sort"]|default(None) %}
{% set dir=request.GET["direction"]|default("asc") %}

<form role="form" action="/admin/items/edit/submit" method="post" id="form-edit-items">

  <div id="edit-items">

    <table class="table sortable">

      <thead>
        <tr>
          <th></th>
          <th {% if sort=="name" %}data-defaultsort="{{ dir }}"{% endif %}>Name</th>
          <th {% if sort=="price" %}data-defaultsort="{{ dir }}"{% endif %}>Item Price</th>
          <th {% if sort=="wholesale" %}data-defaultsort="{{ dir }}"{% endif %}>Item Wholesale</th>
          <th {% if sort=="markup" %}data-defaultsort="{{ dir }}"{% endif %} class="right">Markup</th>
          <th {% if sort=="stock" %}data-defaultsort="{{ dir }}"{% endif %}>Stock</th>
          <th {% if sort=="sold" %}data-defaultsort="{{ dir }}"{% endif %}>Num Sold</th>
          <th {% if sort=="salespeed" %}data-defaultsort="{{ dir }}"{% endif %}>Sale Speed</th>
          <th {% if sort=="daysuntilout" %}data-defaultsort="{{ dir }}"{% endif %}>Days Until Out</th>
          <th {% if sort=="lost" %}data-defaultsort="{{ dir }}"{% endif %}>Num Lost</th>
          <th {% if sort=="inventorypercent" %}data-defaultsort="{{ dir }}"{% endif %}>Inventory Percent</th>
          <th {% if sort=="theftiness" %}data-defaultsort="{{ dir }}"{% endif %}>Theftiness</th>
        </tr>
      </thead>

      <tbody>

        {% for item in items %}


        {# Color boxes if the prices look wonky #}
        {% if item.price == 0.0  %}
          {% set price_class = "price-red" %}
        {% elif item.price < 1.05*item.wholesale|float  %}
          {% set price_class = "price-red" %}
        {% elif item.price < 1.15*item.wholesale|float %}
          {% set price_class = "price-yellow" %}
        {% else %}
          {% set price_class = "" %}
        {% endif %}

        {% if item.wholesale == 0.0  %}
          {% set wholesale_class = "price-red" %}
          {% set markup = "-" %}
        {% else %}
          {% set wholesale_class = "" %}
          {% set markup = (((item.price / item.wholesale)|float - 1.0) * 100.0)|round(2) %}
        {% endif %}


        <tr id="item-{{ item.id }}" class="edit-item-row {% if item.enabled == False %} disabled-row {% endif %}">

          <td><a href="/admin/item/edit/{{ item.id }}"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></button></a></td>
          <td>{{ item|make_link|safe }}</td>
          <td class="{{ price_class }}" data-value="{{ item.price|round(2) }}"><input type="text" class="form-control numeric" id="item-price-{{ item.id }}" name="item-price-{{ item.id }}" value="{{ item.price|round(2) }}"></td>
          <td class="{{ wholesale_class }}" data-value="{{ item.wholesale|round(4) }}"><input type="text" class="form-control numeric" id="item-wholesale-{{ item.id }}" name="item-wholesale-{{ item.id }}" value="{{ item.wholesale|round(4) }}"></td>
          <td id="item-markup-{{ item.id }}" class="item-markup right" data-value="{{ markup }}">{{ markup }}%</td>
          <td>{{ item.in_stock }}</td>
          <td data-value="{{ item.number_sold|int }}">{{ item.number_sold }}</td>
          <td>{{ item.sale_speed_thirty_days|float|round(3) }}</td>
          <td data-value="{% if item.days_until_out == None %}100000{% else %}{{ item.days_until_out }}{% endif %}">{% if item.days_until_out == None %}Inf{% else %}{{ item.days_until_out|int }}{% endif %}</td>
          <td>{{ item.number_lost|int }}</td>
          <td data-value="{{ item.inventory_percent|round(2) }}">{{ item.inventory_percent|round(2) }}%</td>
          <td data-value="{{ item.theftiness|round(2) }}">{{ item.theftiness|round(2) }}%</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

    <button type="submit" class="btn btn-success">Update Items</button>

  </div>

</form>

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-admin-noenter.js'|static_url}}"></script>
<script src="{{'chezbetty:static/js/chezbetty-admin-keyboard.js'|static_url}}"></script>
{% endblock %}
