{% extends "base.jinja2" %}
{% set active_page = 'items_list' %}
{% block title %}List Items{% endblock %}

{% block top %}
<h1 class="page-header">{{ items_page|capitalize }} Items ({{ items|length }})</h1>
{% endblock %}

{% block submenu %}
{% include "items_menu.jinja2" %}
{% endblock %}

{% block contentwide %}

{% set sort=request.GET["sort"]|default(None) %}
{% set dir=request.GET["direction"]|default("asc") %}


<div id="list-items">

  <table class="table sortable sticky">

    <thead>
      <tr>
        <th {% if sort=="name" %}            data-defaultsort="{{ dir }}"{% endif %}>Name</th>
        <th {% if sort=="price" %}           data-defaultsort="{{ dir }}"{% endif %}>Item Price</th>
        <th {% if sort=="wholesale" %}       data-defaultsort="{{ dir }}"{% endif %}>Item Wholesale</th>
        {% if items_page == 'active' or items_page == 'detailed' %}
        <th {% if sort=="markup" %}          data-defaultsort="{{ dir }}"{% endif %} class="right">Markup</th>
        <th {% if sort=="barcode" %}         data-defaultsort="{{ dir }}"{% endif %}>Barcode</th>
        <th {% if sort=="stock" %}           data-defaultsort="{{ dir }}"{% endif %}>Stock</th>
        <th {% if sort=="tags" %}            data-defaultsort="{{ dir }}"{% endif %}>Tags</th>
        {% endif %}
        {% if items_page == 'detailed' %}
        <th {% if sort=="sold" %}            data-defaultsort="{{ dir }}"{% endif %}>Num Sold</th>
        <th {% if sort=="salespeed" %}       data-defaultsort="{{ dir }}"{% endif %}>Sale Speed</th>
        <th {% if sort=="weeklysalespeed" %} data-defaultsort="{{ dir }}"{% endif %}>Weekly Sale Speed</th>
        <th {% if sort=="daysuntilout" %}    data-defaultsort="{{ dir }}"{% endif %}>Days Until Out</th>
        <th {% if sort=="lost" %}            data-defaultsort="{{ dir }}"{% endif %}>Num Lost</th>
        <th {% if sort=="inventorypercent" %}data-defaultsort="{{ dir }}"{% endif %}>Inventory Percent</th>
        <th {% if sort=="theftiness" %}      data-defaultsort="{{ dir }}"{% endif %}>Theftiness</th>
        <th {% if sort=="profit" %}          data-defaultsort="{{ dir }}"{% endif %}>Profit</th>
        <th {% if sort=="activity" %}        data-defaultsort="{{ dir }}"{% endif %}>Days Since Restock</th>
        {% endif %}
      </tr>
    </thead>

    <tbody>

      {% for item in items %}


      {# Color boxes if the prices look wonky #}
      {% if item.price == 0.0 %}
        {% set price_class = "price-red" %}
      {% elif item.price < 1.05*item.wholesale|float %}
        {% set price_class = "price-red" %}
      {% elif item.price < 1.15*item.wholesale|float %}
        {% set price_class = "price-yellow" %}
      {% else %}
        {% set price_class = "" %}
      {% endif %}

      {% if item.sale_speed_weekly == 0.0 %}
        {% set weekly_sale_speed = "price-red" %}
      {% elif item.sale_speed_weekly < 0.5*item.sale_speed_thirty_days|float %}
        {% set weekly_sale_speed = "price-yellow" %}
      {% elif item.sale_speed_weekly > 1.5*item.sale_speed_thirty_days|float %}
        {% set weekly_sale_speed = "price-green" %}
      {% else %}
        {% set weekly_sale_speed = "" %}
      {% endif %}

      {% if item.wholesale == 0.0  %}
        {% set wholesale_class = "price-red" %}
        {% set markup = "-" %}
      {% else %}
        {% set wholesale_class = "" %}
        {% set markup = (((item.price / item.wholesale)|float - 1.0) * 100.0)|round(2) %}
      {% endif %}


      <tr id="item-{{ item.id }}" class="edit-item-row {% if item.enabled == False %} disabled-row {% endif %}">
        <td>{{ item|make_link|safe }}</td>
        <td class="{{ price_class }}" data-value="{{ item.price|round(2) }}">{{ item.price|round(2) }}</td>
        <td class="{{ wholesale_class }}" data-value="{{ item.wholesale|round(4) }}">{{ item.wholesale|round(4) }}</td>
        {% if items_page == 'active' or items_page == 'detailed' %}
        <td id="item-markup-{{ item.id }}" class="item-markup right" data-value="{{ markup }}">{{ markup }}%</td>
        <td data-value="{{ item.barcode }}">{{ item.barcode }}</td>
        <td>{{ item.in_stock }}</td>
        <td data-value="{{ item.tags|length }}">{{ item.tags|length }}</td>
        {% endif %}
        {% if items_page == 'detailed' %}
        <td data-value="{{ item.number_sold|int }}">{{ item.number_sold }}</td>
        <td>{{ item.sale_speed_thirty_days|float|round(3) }}</td>
        <td class="{{ weekly_sale_speed }}" data-value="{{ item.sale_speed_weekly|round(3) }}">{{ item.sale_speed_weekly|float|round(3) }}</td>
        <td data-value="{% if item.days_until_out == None %}100000{% else %}{{ item.days_until_out }}{% endif %}">{% if item.days_until_out == None %}Inf{% else %}{{ item.days_until_out|int }}{% endif %}</td>
        <td>{{ item.number_lost|int }}</td>
        <td data-value="{{ item.inventory_percent|round(2) }}">{{ item.inventory_percent|round(2) }}%</td>
        <td data-value="{{ item.theftiness|round(2) }}">{{ item.theftiness|round(2) }}%</td>
        <td data-value="{{ item.profit|round(2) }}">{{ item.profit|format_currency|safe }}</td>
        <td data-value="{{ item.last_activity }}">{{ item.last_activity }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>

  </table>

</div>

{% endblock %}