{% macro event(id) %}
<a href="/admin/event/{{ id }}"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></button></a>
{% endmacro %}

{% macro box(id) %}
<a href="/admin/box/edit/{{ id }}"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></button></a>
{% endmacro %}

{% set role = 'admin' %}
{% extends "../macro_buttons.jinja2" %}

