{% macro event(id) %}
<a href="/admin/event/{{ id }}"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></button></a>
{% endmacro %}

{% macro box(id) %}
<a href="/admin/box/edit/{{ id }}"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></button></a>
{% endmacro %}

{% macro onoff_switch(object, field, id, status) %}
<input type="checkbox" id="switch-onoff-{{ object }}-{{ field }}-{{ id }}" class="admin-switch toggle-disabled ajax-bool-switch" data-parent="{{ object }}-{{ id }}" {% if status == True %}checked="checked"{% endif %}>
{% endmacro %}

{% macro delete(object, field, id) %}
<button type="button" id="btn-delete-{{ object }}-{{ field }}-{{ id }}-true" class="btn btn-danger button-delete ajax-bool-btn delete-entry" data-parent="{{ object }}-{{ id }}">X</button>
{% endmacro %}

{# Button that can only be clicked once. Will create an AJAX request to the
   URL specified. Javascript will handle the response. If success, the button
   will be removed and banner displayed. If failure, button will stay and error
   will be displayed.
 #}
{% macro ajax_singleuse_button(button_text, ajax_url, id) %}
<button type="button" class="btn btn-info btn-ajax_singleuse" data-url="{{ ajax_url }}">{{ button_text }}</button>
{% endmacro %}
