<div class="navbar navbar-inverse navbar-fixed-top" {% if request.debug %}style="background-color:#E8192F"{% endif %} role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Chez Betty Admin</a>
      {% if request.debug %}
      <a class="navbar-brand hidden-xs" href="#"><span style="color:black;">DEBUG MODE{{ ''|add_git_version }}</span></a>
      {% endif %}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-brand hidden-lg hidden-md hidden-sm" href="#" style="color:black; display:block;">DEBUG MODE{{ ''|add_git_version }}</a></li>
        {% if request.has_permission("admin") %}
        <li><a href="/">User Interface</a></li>
        {% endif %}
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
