{% extends "base.jinja2" %}
{% set active_page = 'pools' %}

{% block title %}Pool: {{ pool.name }}{% endblock %}

{% block top %}
<h1 class="page-header">{{ pool.name }} Pool</h1>
{% endblock %}


{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pool Details</h3>
  </div>
  <div class="panel-body">

    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ button.ajax_saveable_input(pool, "pool", "name")}}</dd>
      <dt>Owner</dt><dd>{{ pool_owner|make_link|safe }}{% if pool_owner.archived %} [Archived]{% endif %}</dd>
      <dt>Balance</dt><dd>{{ pool.balance|format_currency|safe }}</dd>
      <dt>Credit Limit</dt><dd>{{ pool.credit_limit|format_currency|safe }}</dd>
      <dt>Created</dt><dd>{{ pool.created_at|pretty_date|safe }}</dd>
      <dt>Enabled</dt><dd>{{ button.onoff_switch('pool', 'enabled', pool.id, pool.enabled) }}</dd>
    </dl>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pool Members</h3>
  </div>
  <div class="panel-body">

    <table id="my-pool-{{ pool.id }}-members" class="table table-bordered">
      <thead>
        <tr>
          <th>Member</th>
          <th>Pool Access</th>
          <th>Remove From Pool</th>
        </tr>
      </thead>

      <tbody>
        {% for pu in pool.users %}
        <tr id="pool_user-{{ pu.id }}" class="{% if pu.enabled == False %}disabled-row{% endif %}">
          <td>{{ pu.user|make_link|safe }}{% if pu.user.archived %} [Archived]{% endif %}</td>
          <td>
            {{ button.onoff_switch('pool_user', 'enabled', pu.id, pu.enabled) }}
          </td>
          <td>
            {{ button.delete('pool_user', 'deleted',  pu.id) }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add User To Pool</h3>
  </div>
  <div class="panel-body">

    <form class="form-inline" role="form" action="/admin/pool/addmember/submit" method="post">
      <input type="hidden" id="pool-id" name="pool-id" value="{{ pool.id }}">
      <div class="form-group">
        {{ forms.dropdown('user_id', users, "") }}
      </div>
      <button type="submit" class="btn btn-success">Add User to Pool</button>
    </form>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Transaction History</h3>
  </div>
  <div class="panel-body">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Type</th>
          <th class="right">Amount</th>
        </tr>
      </thead>

      <tbody>

        {% for event in events %}

        <tr>
          <td>{{ button.event(event.id) }}</td>
          <td>{{ event.timestamp|pretty_date|safe }}</td>
          <td>{{ event.type }}</td>
          <td class="right">{{ event.transactions[0].amount|format_currency|safe }}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>

    {% if events_total %}
    <a href="/admin/pool/{{ pool.id }}?event_limit=0#event_history">
      Displaying 1-{{ events|length }} of {{ events_total }}. Click to show all.</p>
    </a>
    {% endif %}

  </div>
</div>

{% endblock %}
