{% extends "base.jinja2" %}
{% set active_page = 'reimbursees' %}
{% block title %}Reimbursees{% endblock %}

{% block top %}
<h1 class="page-header">Reimbursees</h1>
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Reimbursees</h3>
      </div>
      <div class="panel-body">
        <table class="table">

          <thead>
            <tr>
              <th>Name</th>
              <th>Balance</th>
            </tr>
          </thead>

          <tbody>

            {% for reimbursee in reimbursees %}
            <tr id="reimbursee-{{ reimbursee.id }}" class="reimbursee-row">
              <td><a href="/admin/events?filter=cash_account:{{ reimbursee.id }}">{{ reimbursee.name }}</a></td>
              <td>{{ reimbursee.balance|format_currency|safe }}</td>
            </tr>
            {% endfor %}

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Create Reimbursement</h3>
      </div>
      <div class="panel-body">
        <form role="form" action="/admin/reimbursees/reimbursement/submit" method="post" id="form-reimbursement">
          Reimbursee:
          <select class="form-control" id="reimbursee" name="reimbursee">
            {% for reimbursee in reimbursees %}
            <option value="{{ reimbursee.id }}" data-amount="{{ reimbursee.balance }}">{{ reimbursee.name }}</option>
            {% endfor %}
          </select>

          Amount:
          <input type="text" class="form-control" id="reimbursement-amount" name="amount">

          Notes:
          <input type="text" class="form-control" id="reimbursement-notes" name="notes">

          <div>
            Set custom time for this reimbursement or leave blank to use current time:<br />
            <input type="text" id="reimbursement-date" name="reimbursement-date" class="event-date-picker">
          </div>

          <button type="submit" class="btn btn-success">Create Reimbursement</button>
        </form>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add New Reimbursee</h3>
      </div>
      <div class="panel-body">
        <form role="form" action="/admin/reimbursees/add/submit" method="post" id="form-add-reimbursee">

          <input type="text" class="form-control" id="reimbursee-name-new" name="reimbursee-name-new"></td>
          <button type="submit" class="btn btn-success">Add New Reimbursee</button>

        </form>
      </div>
    </div>
  </div>
</div>



{% endblock %}
