<tr id="restock-item-{{ item.id }}" class="restock-item">
  <td class="item-name">{{ item.name }}</td>
  <td class="item-quantity"><input type="text" class="form-control" id="restock-quantity-{{ item.id }}" name="restock-quantity-{{ item.id }}"></td>
  <td class="item-cost"><input type="text" class="form-control" id="restock-cost-{{ item.id }}" name="restock-cost-{{ item.id }}"></td>
  <td class="item-quantity"><input type="checkbox" class="form-control" id="restock-salestax-{{ item.id }}" name="restock-salestax-{{ item.id }}"></td>
</tr>