{% extends "base.jinja2" %}
{% set active_page = 'restock' %}
{% block title %}Restock{% endblock %}

{% block top %}
<h1 class="page-header">Restock</h1>
{% endblock %}


{% block content %}

<p>Scan items to add to stock.</p>
<p>Check the sales tax box if sales tax was charged on those items.</p>

<div id="scanner"></div>

<form role="form" action="/admin/restock/submit" method="post" id="restock-form">

  <input type="hidden" id="row-count" name="row-count" value="{{ restock_rows|default(0) }}">

  <table id="restock-table" class="table table-bordered">

    <thead>
      <tr>
        <th>Item</th>
        <th style="width: 5%;">Quantity</th>
        <th style="width: 15%;">Wholesale Cost</th>
        <th style="width: 15%;">Coupon Discount (Each)</th>
        <th style="width: 5%;">Sales Tax</th>
        <th style="width: 5%;">Bottle Deposit</th>
        <th style="width: 15%;">Total Cost</th>
      </tr>
    </thead>

    <tbody>
    {{ restock_items|safe }}
    </tbody>

    <tfoot>
      <tr>
        <td colspan="3">Coupon Total</td>
        <td id="restock-coupon-total">$0.00</td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td colspan="6">Total</td>
        <td id="restock-total">$0.00</td>
      </tr>
    </tfoot>
  </table>


  <table class="table">
    <tbody>
      <tr>
        <td style="width:50%;">
          <select class="form-control" id="restock-manual-item-select">
            {% for item in items %}
            <option value="{{ item.barcode }}">{{ item.name }}</option>
            {% endfor %}
          </select>
        </td>
        <td>
          <button type="button" id="restock-manual-item-button" class="btn btn-success restock-manual">Add Item</button>
        </td>
      </tr>
      <tr>
        <td>
          <select class="form-control" id="restock-manual-box-select">
            {% for box in boxes %}
            <option value="{{ box.barcode }}">{{ box.name }}</option>
            {% endfor %}
          </select>
        </td>
        <td>
          <button type="button" id="restock-manual-box-button" class="btn btn-success restock-manual">Add Box</button>
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" id="restock-manual-search-input" class="form-control">
          <span id="restock-search-notice"></span>
          <table id="restock-search-table">
            <tr id="restock-search-row-0" class="restock-search-row" style="display:none;">
              <td class="restock-search-row-name">Name</td>
              <td>
                <button type="button" id="restock-search-row-button-0" class="btn btn-default">Add</button>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <button type="button" id="restock-manual-search-button" class="btn btn-success restock-manual">Search Item</button>
        </td>
      </tr>
    </tbody>
  </table>


  <div>
    Set custom time for this restock or leave blank to use current time:<br />
    <input type="text" id="restock-date" name="restock-date" class="event-date-picker">
  </div>

  <button type="submit" id="restock-button" class="btn btn-success">Restock Items</button>

</form>

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/lib/fgt-jquery-scannerdetection/jquery.scannerdetection.js'|static_url}}"></script>
<script src="{{'chezbetty:static/js/chezbetty-admin-item.js'|static_url}}"></script>
<script src="{{'chezbetty:static/js/chezbetty-admin-keyboard.js'|static_url}}"></script>
{% endblock %}
