<ul class="nav nav-sidebar">
  <li {% if active_page == 'index' %}class="active"{% endif %}><a href="/admin">Index</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><span>Manage The Kiosk</span></li>
  <li {% if active_page == 'restock' %}class="active"{% endif %}><a href="/admin/restock">Restock</a></li>
  <li {% if active_page == 'inventory' %}class="active"{% endif %}><a href="/admin/inventory">Run Inventory</a></li>
  <li {% if active_page == 'cash_reconcile' %}class="active"{% endif %}><a href="/admin/cash/reconcile">Empty Cash Box</a></li>
  <li {% if active_page == 'add_items' %}class="active"{% endif %}><a href="/admin/add/items">Add New Items</a></li>
  <li {% if active_page == 'edit_items' %}class="active"{% endif %}><a href="/admin/edit/items">Edit Items</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><span>Manage Users</span></li>
  <li {% if active_page == 'edit_users' %}class="active"{% endif %}><a href="/admin/edit/users">Edit Users</a></li>
  <li {% if active_page == 'edit_balance' %}class="active"{% endif %}><a href="/admin/edit/balance">Edit User Balance</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><span>View Transactions</span></li>
  <li {% if active_page == 'transactions' %}class="active"{% endif %}><a href="/admin/transactions">Transactions</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><span>Move Money</span></li>
  <li {% if active_page == 'donation' %}class="active"{% endif %}><a href="/admin/cash/donation">Donation</a></li>
  <li {% if active_page == 'withdrawal' %}class="active"{% endif %}><a href="/admin/cash/withdrawal">Withdrawal</a></li>
  <li {% if active_page == 'adjustmen' %}class="active"{% endif %}><a href="/admin/cash/adjustment">Adjustment</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><span>Administrative</span></li>
  {% if demo %}
  <li><a href="#">Demo Mode<div style="float: right;"><input type="checkbox" name="admin-demo-mode" checked></input></div></a></li>
  {% else %}
  <li><a href="#">Demo Mode<div style="float: right;"><input type="checkbox" name="admin-demo-mode"></input></div></a></li>
  {% endif %}
  <li {% if active_page == 'edit_password' %}class="active"{% endif %}><a href="/admin/edit/password">Edit Password</a></li>
</ul>
