<ul class="nav nav-sidebar">
  <li {% if active_page == 'index' %}class="active"{% endif %}><a href="/admin">Index</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li {% if active_page == 'add_items' %}class="active"{% endif %}><a href="/admin/add/items">Add Items</a></li>
  <li {% if active_page == 'edit_items' %}class="active"{% endif %}><a href="/admin/edit/items">Edit Items</a></li>
  <li {% if active_page == 'inventory' %}class="active"{% endif %}><a href="/admin/inventory">Run Inventory</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li {% if active_page == 'edit_users' %}class="active"{% endif %}><a href="/admin/edit/users">Edit Users</a></li>
  <li {% if active_page == 'edit_balance' %}class="active"{% endif %}><a href="/admin/edit/balance">Edit Balance</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li {% if active_page == 'cash_reconcile' %}class="active"{% endif %}><a href="/admin/cash/reconcile">Cash Box</a></li>
</ul>