{% extends "base.jinja2" %}
{% set active_page = 'transactions' %}
{% block title %}Transaction Ledger {% endblock %}

{% block top %}
<h1 class="page-header">Transaction Ledger</h1>
{% endblock %}


{% block content %}

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Timestamp</th>
      <th>Type</th>
      <th>From Account:</th>
      <th>To Account:</th>
      <th class="right">Amount</th>
    </tr>
  </thead>
  <tbody>
  {% for t in transactions %}
    <tr>
        <td><a href="/admin/transactions/{{ t.id }}"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></button></a></td>
        <td>{{ t.id }}</td>
        <td>{{ t.timestamp|pretty_date|safe }}</td>
        <td>{{ t.type }}</td>
        <td>{{ t.from_account.name if t.from_account else "n/a" }}</td>
        <td>{{ t.to_account.name if t.to_account else "n/a" }}</td>
        <td class="right">{{ t.amount|format_currency|safe }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
