{% extends "base.jinja2" %}
{% set active_page = 'users' %}
{% block title %}User{% endblock %}

{% block top %}
<h1 class="page-header">User</h1>
{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">User Details</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Name</dt><dd>{{ user.name }}</dd>
      <dt>uniqname</dt><dd><a href="https://mcommunity.umich.edu/#search:{{ user.uniqname }}">{{ user.uniqname }}</a></dd>
      <dt>UMID</dt><dd>{{ user.umid }}</dd>
      <dt>Balance</dt><dd>{{ user.balance|format_currency|safe }}</dd>
      <dt>Joined</dt><dd>{{ user.created_at|pretty_date|safe }}</dd>
    </dl>
    <hr />
    {% if user.has_password == False %}
    {{ button.ajax_singleuse_button("Create and Email Password", "/admin/user/"~user.id~"/password/create") }}
    {% else %}
    {{ button.ajax_singleuse_button("Reset and Email Password", "/admin/user/"~user.id~"/password/reset") }}
    {% endif %}

  </div>
</div>

{% if my_pools|first %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pools Owned By User</h3>
  </div>
  <div class="panel-body">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th class="right">Balance</th>
        </tr>
      </thead>

      <tbody>

        {% for pool in my_pools %}

        <tr>
          <td>{{ pool|make_link|safe }}</td>
          <td class="right">{{ pool.balance|format_currency|safe }}</td>
        </tr>

        {% endfor %}

      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% if user.pools|first %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pools This User Is In</h3>
  </div>
  <div class="panel-body">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th class="right">Balance</th>
        </tr>
      </thead>

      <tbody>

        {% for pu in user.pools %}

        <tr>
          <td>{{ pu.pool|make_link|safe }}</td>
          <td class="right">{{ pu.pool.balance|format_currency|safe }}</td>
        </tr>

        {% endfor %}

      </tbody>
    </table>
  </div>
</div>
{% endif %}


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Transaction History</h3>
  </div>
  <div class="panel-body">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Type</th>
          <th class="right">Amount</th>
        </tr>
      </thead>

      <tbody>

        {% for event in user.events|reverse %}

        <tr>
          <td>{{ button.event(event.id) }}</td>
          <td>{{ event.timestamp|pretty_date|safe }}</td>
          <td>{{ event.type }}</td>
          <td class="right">{{ event.transactions[0].amount|format_currency|safe }}</td>
        </tr>

        {% endfor %}

      </tbody>
    </table>
  </div>
</div>


{% endblock %}
