{% extends "base.jinja2" %}
{% set active_page = 'user_balance_edit' %}
{% block title %}Edit User Balance{% endblock %}

{% block top %}
<h1 class="page-header">Edit User Balance</h1>
{% endblock %}


{% block content %}

<form role="form" action="/admin/user/balance/edit/submit" method="post">

  <dl id="edit-balance" class="dl-horizontal">
    <dt>Select User</dt>
    <dd>
      <select class="form-control" id="select-user" name="user">
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.name~" ("~user.uniqname~")" }}</option>
        {% endfor %}
      </select>
    </dd>

    <dt>Current Balance</dt>
    <dd>
      {% for user in users %}
      <span class="col-sm-3 current-balance" id="current-balance-{{ user.id }}" {% if loop.index != 1 %}style="display:none;"{% endif %}>{{ user.balance|format_currency|safe }}</span>
      {% endfor %}
    </dd>

    <dt>Balance Adjustment</dt>
    <dd><input type="text" class="form-control" id="balance-change-amount" name="amount"></dd>

    <dt>New Balance</dt>
    <dd id="new_balance">{{ users[0].balance|format_currency|safe }}</dd>

    <dt>Reason</dt>
    <dd><input type="text" class="form-control" id="balance-change-reason" name="reason"></dd>
  </dl>


  <button type="submit" class="btn btn-success">Adjust Balance</button>

</form>

{% endblock %}
