{% extends "base.jinja2" %}
{% set active_page = 'users' %}
{% block title %}User Stats{% endblock %}

{% block top %}
<h1 class="page-header">User Stats</h1>
{% endblock %}

{% block submenu %}
{% include "users_menu.jinja2" %}
{% endblock %}

{% block content %}

{% set sort=request.GET["sort"]|default(None) %}
{% set dir=request.GET["direction"]|default("asc") %}


<table class="table sortable sticky">

  <thead>
    <tr class="user-list-header">
      <th {% if sort=="name" %}data-defaultsort="{{ dir }}"{% endif %}>Name</th>
      <th {% if sort=="role" %}data-defaultsort="{{ dir }}"{% endif %} class="filterable-row">Role</th>
      <th {% if sort=="balance" %}data-defaultsort="{{ dir }}"{% endif %} class="right">Balance</th>
      <th {% if sort=="lastpurchase" %}data-defaultsort="{{ dir }}"{% endif %} class="right">Days Since Last Purchase</th>
      <th {% if sort=="date" %}data-defaultsort="{{ dir }}"{% endif %}>Created Date</th>
    </tr>
  </thead>

  <tbody>
    {% for user in normal_users %}
    <tr id="user-{{ user.id }}" class="edit-user-row {% if user.enabled == False %} disabled-row {% endif %}">
      <td data-value="{{ user.name }}">{{ user|make_link|safe }}</td>
      <td data-value="{{ user.role }}">{{ user.role_human_readable }}</td>
      <td class="right" data-value="{{ user.balance|round(2) }}">{{ user.balance|format_currency|safe }}</td>
      <td data-value="{{ user.days_since_last_purchase }}" class="right">{{ user.days_since_last_purchase }}</td>
      <td data-value="{{ user.created_at }}">{{ user.created_at|pretty_date|safe }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

<h2>Archived Users</h2>
<table class="table sortable sticky">

  <thead>
    <tr class="user-list-header">
      <th {% if sort=="name" %}data-defaultsort="{{ dir }}"{% endif %}>Name</th>
      <th {% if sort=="role" %}data-defaultsort="{{ dir }}"{% endif %} class="filterable-row">Role</th>
      <th {% if sort=="date" %}data-defaultsort="{{ dir }}"{% endif %}>Created Date</th>
    </tr>
  </thead>

  <tbody>
    {% for user in archived_users %}
    <tr id="user-{{ user.id }}" class="edit-user-row {% if user.enabled == False %} disabled-row {% endif %}">
      <td data-value="{{ user.name }}">{{ user|make_link|safe }}</td>
      <td data-value="{{ user.role }}">{{ user.role_human_readable }}</td>
      <td data-value="{{ user.created_at }}">{{ user.created_at|pretty_date|safe }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

<h2>Disabled Users</h2>
<table class="table sortable sticky">

  <thead>
    <tr class="user-list-header">
      <th {% if sort=="name" %}data-defaultsort="{{ dir }}"{% endif %}>Name</th>
      <th {% if sort=="role" %}data-defaultsort="{{ dir }}"{% endif %} class="filterable-row">Role</th>
      <th {% if sort=="balance" %}data-defaultsort="{{ dir }}"{% endif %} class="right">Balance</th>
      <th {% if sort=="date" %}data-defaultsort="{{ dir }}"{% endif %}>Created Date</th>
    </tr>
  </thead>

  <tbody>
    {% for user in disabled_users %}
    <tr id="user-{{ user.id }}" class="edit-user-row {% if user.enabled == False %} disabled-row {% endif %}">
      <td data-value="{{ user.name }}">{{ user|make_link|safe }}</td>
      <td data-value="{{ user.role }}">{{ user.role_human_readable }}</td>
      <td class="right" data-value="{{ user.balance|round(2) }}">{{ user.balance|format_currency|safe }}</td>
      <td data-value="{{ user.created_at }}">{{ user.created_at|pretty_date|safe }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>



{% endblock %}
