{% extends "base.jinja2" %}
{% set active_page = 'user_email' %}
{% block title %}Email Users{% endblock %}

{% block top %}
<h1 class="page-header">Email Users</h1>
{% endblock %}


{% block content %}

<div class="panel panel-default">
  <div class="panel-body">
    {% if emails_suppressed %}
    Emails will NOT be sent.
    {% else %}
    Emails will be sent.
    {% endif %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Email All Deadbeat Users</h3>
  </div>
  <div class="panel-body">
    <form role="form" action="/admin/users/email/deadbeats" method="post">
      <p>Send an email to users who are either more than $5 in debt or who have
         been in debt for a week or more encouraging them to settle up.</p>
      <div class="well">
    {% set user = {'name': '<< name >>', 'balance': '<< balance >>', 'uniqname': '<< uniqname >>'} %}
    {% include "email_deadbeats.jinja2" %}
      </div>
      <button type="submit" class="btn btn-success">Email Deadbeat Users</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">End of Semester Email</h3>
  </div>
  <div class="panel-body">
    <form role="form" action="/admin/users/email/endofsemester" method="post">
      <p>Send an email to all users who are more than
      $<input name="threshold" value="2.00"> in debt to Chez Betty encouraging
      them to settle up.</p>
      <div class="well">
    {% set user = {'name': '<< name >>', 'balance': '<< balance >>', 'uniqname': '<< uniqname >>'} %}
    {% include "email_endofsemester.jinja2" %}
      </div>
      <button type="submit" class="btn btn-success">Send End of Semester Email</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Email Specific User</h3>
  </div>
  <div class="panel-body">
    <form role="form" action="/admin/users/email/oneperson" method="post">
    <p>Send an email to a specific user from Betty.</p>

    <dl class="dl-horizontal">
      <dt>To</dt>
      <dd>
      <select name="user" class="form-control">
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.name~" ("~user.uniqname~")" }}</option>
        {% endfor %}
      </select>
      </dd>
      <dt>Subject</dt>
      <dd> <input class="form-control" name="subject" value="A message from Chez Betty"> </dd>
      <dt>Body</dt>
      <dd> <textarea class="form-control" name="body"></textarea> </dd>
      <hr />
      <dt>Encoding</dt>
      <dd> <select name="encoding" class="form-control">
        <option value="text" selected>Plain text</option>
        <option value="html">HTML Formatted text</option>
      </select>
      <p style="font-style: italic;">Recall with HTML formatted text all whitespace
      (critically line breaks) will be removed. You need to add explicit &lt;p&gt;,
      &lt;h1&gt;, etc tags.</p>
      </dd>
    </dl>

      <button type="submit" class="btn btn-success">Email Selected User</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Email All Users</h3>
  </div>
  <div class="panel-body">
    <p>Send an email to all users</p>

    <form role="form" action="/admin/users/email/all" method="post">
    <dl class="dl-horizontal">
      <dt>Subject</dt>
      <dd> <input class="form-control" name="subject" value="A message from Chez Betty"> </dd>
      <dt>Body</dt>
      <dd> <textarea class="form-control" name="body"></textarea> </dd>
      <hr />
      <dt>Encoding</dt>
      <dd> <select name="encoding" class="form-control">
        <option value="text" selected>Plain text</option>
        <option value="html">HTML Formatted text</option>
      </select>
      <p style="font-style: italic;">Recall with HTML formatted text all whitespace
      (critically line breaks) will be removed. You need to add explicit &lt;p&gt;,
      &lt;h1&gt;, etc tags.</p>
      </dd>
    </dl>

      <button type="submit" class="btn btn-success">Email All Users</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Email Alumni (Archived Users)</h3>
  </div>
  <div class="panel-body">
    <p>Send an email to all archived users</p>

    <form role="form" action="/admin/users/email/alumni" method="post">
    <dl class="dl-horizontal">
      <dt>Subject</dt>
      <dd> <input class="form-control" name="subject" value="A message from Chez Betty"> </dd>
      <dt>Body</dt>
      <dd> <textarea class="form-control" name="body"></textarea> </dd>
      <hr />
      <dt>Encoding</dt>
      <dd> <select name="encoding" class="form-control">
        <option value="text" selected>Plain text</option>
        <option value="html">HTML Formatted text</option>
      </select>
      <p style="font-style: italic;">Recall with HTML formatted text all whitespace
      (critically line breaks) will be removed. You need to add explicit &lt;p&gt;,
      &lt;h1&gt;, etc tags.</p>
      </dd>
    </dl>

      <button type="submit" class="btn btn-success">Email All Users</button>
    </form>
  </div>
</div>


{% endblock %}
