{% extends "base.jinja2" %}
{% set active_page = 'user_email' %}
{% block title %}Email Users{% endblock %}

{% block top %}
<h1 class="page-header">Email Users</h1>
{% endblock %}


{% block content %}

<div class="panel panel-default">
  <div class="panel-body">
    {% if emails_suppressed %}
    Emails will NOT be sent.
    {% else %}
    Emails will be sent.
    {% endif %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Email All Users with Balances Below Threshold</h3>
  </div>
  <div class="panel-body">
    <form role="form" action="/admin/users/email/debt/deadbeats_threshold" method="post">
      <p>Send an email to all users who are more than
      $<input name="threshold" value="2.00"> in debt to Chez Betty encouraging
      them to settle up.</p>
      <p>Last sent: {{ last_sent.admin_users_email_debt_deadbeats_threshold }}</p>
      <div class="well">
    {% set user = {'name': '<< name >>', 'balance': '<< balance >>', 'uniqname': '<< uniqname >>'} %}
    {% include "email_deadbeats_threshold.jinja2" %}
      </div>
      <button type="submit" class="btn btn-success">Email Debtors</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Email All Deadbeat Users</h3>
  </div>
  <div class="panel-body">
    <form role="form" action="/admin/users/email/debt/deadbeats" method="post">
      <p>Send an email to users who are either more than $5 in debt or who have
         been in debt for a week or more encouraging them to settle up.</p>
      <p>Last sent: {{ last_sent.admin_users_email_debt_deadbeats }}</p>
      <div class="well">
    {% set user = {'name': '<< name >>', 'balance': '<< balance >>', 'uniqname': '<< uniqname >>'} %}
    {% include "email_deadbeats.jinja2" %}
      </div>
      <button type="submit" class="btn btn-success">Email Deadbeat Users</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Email In Debt Users Betty Back</h3>
  </div>
  <div class="panel-body">
    <form role="form" action="/admin/users/email/debt/bettyback" method="post">
      <p>Send a special email to users who are more than $3
      encouraging them to settle up.</p>
      <p>Last sent: {{ last_sent.admin_users_email_debt_bettyback }}</p>
      <div class="well">
        {% set user = {'name': '<< name >>', 'balance': '<< balance >>', 'uniqname': '<< uniqname >>'} %}
        {% include "email_bettyback.jinja2" %}
      </div>
      <button type="submit" class="btn btn-success">Email In Debt Users</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">End of Semester Email</h3>
  </div>
  <div class="panel-body">
    <form role="form" action="/admin/users/email/endofsemester" method="post">
      <p>Send an email to all users who are more than
      $<input name="threshold" value="2.00"> in debt to Chez Betty encouraging
      them to settle up.</p>
      <p>Last sent: {{ last_sent.admin_users_email_endofsemester }}</p>
      <div class="well">
    {% set user = {'name': '<< name >>', 'balance': '<< balance >>', 'uniqname': '<< uniqname >>'} %}
    {% include "email_endofsemester.jinja2" %}
      </div>
      <button type="submit" class="btn btn-success">Send End of Semester Email</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Email Specific User</h3>
  </div>
  <div class="panel-body">
    <form role="form" action="/admin/users/email/oneperson" method="post">
    <p>Send an email to a specific user from Betty.</p>

    <dl class="dl-horizontal">
      <dt>To</dt>
      <dd>
      <select name="user" class="form-control">
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.name~" ("~user.uniqname~")" }}</option>
        {% endfor %}
      </select>
      </dd>
      <dt>Subject</dt>
      <dd> <input class="form-control" name="subject" value="A message from Chez Betty"> </dd>
      <dt>Body</dt>
      <dd> <textarea class="form-control" name="body"></textarea> </dd>
      <hr />
      <dt>Encoding</dt>
      <dd> <select name="encoding" class="form-control">
        <option value="text" selected>Plain text</option>
        <option value="html">HTML Formatted text</option>
      </select>
      <p style="font-style: italic;">Recall with HTML formatted text all whitespace
      (critically line breaks) will be removed. You need to add explicit &lt;p&gt;,
      &lt;h1&gt;, etc tags.</p>
      </dd>
    </dl>

      <button type="submit" class="btn btn-success">Email Selected User</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Product Recall Email</h3>
  </div>
  <div class="panel-body">
    <form role="form" action="/admin/users/email/purchasers" method="post">
      <p>Send an email to a all persons who bought select products from Betty recently.</p>
      <p>This will also send an email to chezbetty-directors for archival.</p>

      <hr />
      <h4>First: Select items</h4>

      <div class="input-group" style="width:100%">
        {# Search field #}
        <input type="text" id="email-recall-add-search-item" class="form-control" style="width:50%">
        <button type="button" id="email-recall-add-search-item-button" class="btn btn-success">Search Item</button>

        {# Search results #}
        <span id="email-recall-search-notice-item"></span>

        <table id="email-recall-search-table-items" style="width: 100%">
          <tr id="email-recall-search-item-row-0" class="email-recall-search-row" style="display:none;">
            <td class="email-recall-search-row-item-name">Name</td>
            <td class="email-recall-search-row-item-stock">Stock</td>
            <td>
              <button type="button" id="email-recall-search-item-row-button-0" class="btn btn-default email-recall-search-item-row-button">Add</button>
            </td>
          </tr>
        </table>

        {# Added items table #}
        <table class="table table-bordered" id="email-recall-item-table">
          <thead>
            <tr>
              <th>{{ _('Item') }}</th>
              <th style="width: 15%">{{ _('Stock') }}</th>
            </tr>
          </thead>

          <tbody id="email-recall-table-items">
            <tr id="email-recall-item" style="display:none;">
              <td class="email-recall-item-title">Name</td>
              <td class="email-recall-item-stock">Stock</td>
              {# Need something that's an input for the form to post it #}
              <input type="hidden" name="item-id" class="email-recall-item-id form-control" value="placeholder">
            </tr>
          </tbody>
        </table>
      </div>

      <hr />
      <h4>Second: Time frame</h4>
      <dl class="dl-horizontal">
        <dt>Within these many days</dt>
        <dd><input class="form-control" name="days" value="90"></dd>
      </dl>

      <hr />
      <h4>Third: The email itself</h4>

      <dl class="dl-horizontal">
        <dt>Subject</dt>
        <dd> <input class="form-control" name="subject" value="Chez Betty product recall notice"> </dd>
        <dt>Body</dt>
        <dd> <textarea class="form-control" name="body"></textarea> </dd>
        <hr />
        <dt>Encoding</dt>
        <dd> <select name="encoding" class="form-control">
          <option value="text" selected>Plain text</option>
          <option value="html">HTML Formatted text</option>
        </select>
        <p style="font-style: italic;">Recall with HTML formatted text all whitespace
        (critically line breaks) will be removed. You need to add explicit &lt;p&gt;,
        &lt;h1&gt;, etc tags.</p>
        </dd>
      </dl>

      <button type="submit" class="btn btn-success">Email Affected Users</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Email All Users</h3>
  </div>
  <div class="panel-body">
    <p>Send an email to all users</p>

    <form role="form" action="/admin/users/email/all" method="post">
    <dl class="dl-horizontal">
      <dt>Subject</dt>
      <dd> <input class="form-control" name="subject" value="A message from Chez Betty"> </dd>
      <dt>Body</dt>
      <dd> <textarea class="form-control" name="body"></textarea> </dd>
      <hr />
      <dt>Encoding</dt>
      <dd> <select name="encoding" class="form-control">
        <option value="text" selected>Plain text</option>
        <option value="html">HTML Formatted text</option>
      </select>
      <p style="font-style: italic;">Recall with HTML formatted text all whitespace
      (critically line breaks) will be removed. You need to add explicit &lt;p&gt;,
      &lt;h1&gt;, etc tags.</p>
      </dd>
    </dl>

      <button type="submit" class="btn btn-success">Email All Users</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Email Alumni (Archived Users)</h3>
  </div>
  <div class="panel-body">
    <p>Send an email to all archived users</p>

    <form role="form" action="/admin/users/email/alumni" method="post">
    <dl class="dl-horizontal">
      <dt>Subject</dt>
      <dd> <input class="form-control" name="subject" value="A message from Chez Betty"> </dd>
      <dt>Body</dt>
      <dd> <textarea class="form-control" name="body"></textarea> </dd>
      <hr />
      <dt>Encoding</dt>
      <dd> <select name="encoding" class="form-control">
        <option value="text" selected>Plain text</option>
        <option value="html">HTML Formatted text</option>
      </select>
      <p style="font-style: italic;">Recall with HTML formatted text all whitespace
      (critically line breaks) will be removed. You need to add explicit &lt;p&gt;,
      &lt;h1&gt;, etc tags.</p>
      </dd>
    </dl>

      <button type="submit" class="btn btn-success">Email All Users</button>
    </form>
  </div>
</div>


{% endblock %}
