{% extends "base.jinja2" %}
{% set active_page = 'user_edit' %}
{% block title %}Edit Users{% endblock %}

{% block top %}
<h1 class="page-header">Edit Users</h1>
{% endblock %}


{% block content %}

{% set sort=request.GET["sort"]|default("name") %}
{% set dir=request.GET["direction"]|default("asc") %}

<form role="form" action="/admin/users/edit/submit" method="post">

  <table class="table sortable filterable">

    <thead>
      <tr class="user-list-header">
        <th>&nbsp;</th>
        <th {% if sort=="name" %}data-defaultsort="{{ dir }}"{% endif %}>Name</th>
        <th {% if sort=="uniqname" %}data-defaultsort="{{ dir }}"{% endif %}>uniqname</th>
        <th {% if sort=="umid" %}data-defaultsort="{{ dir }}"{% endif %}>UMID</th>
        <th {% if sort=="role" %}data-defaultsort="{{ dir }}"{% endif %} class="filterable-row">Role</th>
        <th {% if sort=="balance" %}data-defaultsort="{{ dir }}"{% endif %} class="right">Balance</th>
        <th {% if sort=="date" %}data-defaultsort="{{ dir }}"{% endif %}>Created Date</th>
        <th>Enabled</th>
      </tr>
    </thead>

    <tbody>
      {% for user in users %}
      <tr id="user-{{ user.id }}" class="edit-user-row {% if user.enabled == False %} disabled-row {% endif %}">
        <td><a href="/user/{{ user.umid }}"><span class="glyphicon glyphicon-user"></span></a></td>
        <td data-value="{{ user.name }}"><input type="text" class="form-control" id="user-name-{{ user.id }}" name="user-name-{{ user.id }}" value="{{ user.name }}"></td>
        <td>{{ user.uniqname }}</td>
        <td>{{ user.umid }}</td>
        <td data-value="{{ user.role }}">
          <select class="form-control" id="user-role-{{ user.id }}" name="user-role-{{ user.id }}">
            {% for role in roles %}
            <option value="{{ role[0] }}" {% if role[0] == user.role %}selected="selected"{% endif %}>{{ role[1] }}</option>
            {% endfor %}
          </select>
        </td>
        <td class="right" data-value="{{ user.balance|round(2) }}">{{ user.balance|format_currency|safe }}</td>
        <td data-value="{{ user.created_at }}">{{ user.created_at|pretty_date|safe }}</td>
        <td>
          <input type="checkbox" id="admin-user-enable-{{ user.id }}" class="admin-switch toggle-disabled" {% if user.enabled == True %}checked="checked"{% endif %}>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

  <button type="submit" class="btn btn-success">Update users</button>

</form>

{% endblock %}
