{% extends "base.jinja2" %}
{% set active_page = 'user_email' %}
{% block title %}Email Users{% endblock %}

{% block top %}
<h1 class="page-header">Email Users</h1>
{% endblock %}


{% block content %}

<h2>Email All Deadbeat Users</h2>
<form role="form" action="/admin/users/email/deadbeats" method="post">
  <p>Send an email to users who are more than
  $<input name="threshold" value="20.00"> in debt to Chez Betty encouraging
  them to settle up.</p>
  <div class="well">
{% set user = {'name': '<< name >>', 'balance': '<< balance >>'} %}
{% include "email_deadbeats.jinja2" %}
  </div>
  <button type="submit" class="btn btn-success">Email Deadbeat Users</button>
</form>

<h2>End of Semester Email</h2>
<form role="form" action="/admin/users/email/endofsemester" method="post">
  <p>Sends an email to all users who are in debt to Betty encouraging
  them to settle up.</p>
  <div class="well">
{% set user = {'name': '<< name >>', 'balance': '<< balance >>'} %}
{% include "email_endofsemester.jinja2" %}
  </div>
  <button type="submit" class="btn btn-success">Send End of Semester Email</button>
</form>


<h2>Email All Users</h2>
<p>Send an email to all users</p>

<form role="form" action="/admin/users/email/all" method="post">

  <textarea class="form-control" id="email-all-text" name="text"></textarea>

  <button type="submit" class="btn btn-success">Email All Users</button>
</form>


{% endblock %}
