{% extends "base.jinja2" %}
{% set active_page = 'user_balance_edit' %}
{% block title %}Edit User Balance{% endblock %}

{% block top %}
<h1 class="page-header">Edit User Balance</h1>
{% endblock %}


{% block content %}

<form role="form" action="/admin/user/balance/edit/submit" method="post">

  {% for person in ['sender', 'recipient'] %}
  <table class="table user-balance-change-participant">
    <tbody>
      <tr>
        <td style="width: 15%">{{ person|title }}:</td>
        <td style="width: 50%">
          <input type="text" id="{{ person }}-search-string" class="form-control">
          <span id="{{ person }}-search-notice"></span>
          <table id="{{ person }}-search-table" style="width: 100%">
            <tr id="{{ person }}-search-row-0" class="{{ person }}-search-row" style="display:none;">
              <td>
                <input type="radio" name="{{ person }}-search-choice" value="userid">
              </td>
              <td class="{{ person }}-search-row-name">Name</td>
              <td class="{{ person }}-search-row-uniqname">Uniqname</td>
              <td class="{{ person }}-search-row-umid">UMID</td>
              <td class="{{ person }}-search-row-balance">balance</td>
            </tr>
            <tr id="{{ person }}-search-row-1" class="{{ person }}-search-row">
              <td>
                <input type="radio" name="{{ person }}-search-choice" value="chezbetty" checked="checked">
              </td>
              <td class="{{ person }}-search-row-name">chezbetty</td>
              <td class="{{ person }}-search-row-uniqname"></td>
              <td class="{{ person }}-search-row-umid"></td>
              <td class="{{ person }}-search-row-balance"></td>
            </tr>
          </table>
        </td>
        <td>
          <button type="button" class="btn btn-success user-search-button" data-prefix="{{ person }}-search">Search {{ person|title }}</button>
        </td>
      </tr>
    </tbody>
  </table>
  {% endfor %}

  <table class="table">
    <tbody>
      <tr>
        <td style="width: 15%">Transfer Amount:</td>
        <td style="width: 50%">
          <input type="text" class="form-control" id="balance-change-amount" name="amount">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Sender's balance:</td>
        <td><span id="sender-balance"></span></td>
        <td></td>
      </tr>
      <tr>
        <td>Receiver's balance:</td>
        <td><span id="recipient-balance"></span></td>
        <td></td>
      </tr>
      <tr>
        <td>Reason:</td>
        <td>
          <input type="text" class="form-control" id="balance-change-reason" name="reason">
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <button type="submit" class="btn btn-success">Adjust Balance</button>

</form>

{% endblock %}
