{% extends "base.jinja2" %}
{% set active_page = 'vendors_edit' %}
{% block title %}Edit Vendors{% endblock %}

{% block top %}
<h1 class="page-header">Edit Vendors</h1>
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Vendors</h3>
      </div>
      <div class="panel-body">

        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>

          <tbody>
            {% for vendor in vendors %}
            <tr id="vendor-{{ vendor.id }}" class="edit-vendor-row {% if vendor.enabled == False %} disabled-row {% endif %}">
              <td>{{ vendor|make_link|safe }}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Vendor</h3>
      </div>
      <div class="panel-body">

        <form role="form" action="/admin/vendors/add/submit" method="post" id="form-add-vendors">

          <div class="form-group form-inline">
            <input type="text" id="vendor-name-new" name="vendor-name-new" class="form-control">
            <button type="submit" id="vendor-name-new-button" name="vendor-name-new-button" class="btn btn-success">Add Vendor</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
