{% extends "base.jinja2" %}
{% set active_page = 'vendors_edit' %}
{% block title %}Edit Vendors{% endblock %}

{% block top %}
<h1 class="page-header">Edit Vendors</h1>
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit and Update Vendors</h3>
      </div>
      <div class="panel-body">

        <form role="form" action="/admin/vendors/edit/submit" method="post" id="form-edit-vendors">

          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Enable</th>
              </tr>
            </thead>

            <tbody>
              {% for vendor in vendors %}
              <tr id="vendor-{{ vendor.id }}" class="edit-vendor-row {% if vendor.enabled == False %} disabled-row {% endif %}">
                <td>
                  <input type="text" class="form-control" id="vendor-enable-{{ vendor.id }}" name="vendor-name-{{ vendor.id }}" value="{{ vendor.name }}">
                </td>
                <td>{{ button.onoff_switch("vendor", "enabled", vendor.id, vendor.enabled) }}</td>
              </tr>
              {% endfor %}

              <tr>
                <td><input type="text" class="form-control" id="vendor-name-new" name="vendor-name-new"></td>
                <td></td>
              </tr>
            </tbody>
          </table>

          <button type="submit" class="btn btn-success">Update Vendors</button>

        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
