{% extends "base.jinja2" %}
{% set active_page = 'transactions' %}
{% block title %}Transaction Ledger {% endblock %}

{% block top %}
<h1 class="page-header">View Transaction</h1>
{% endblock %}


{% block content %}

<h3 class="page-header">Transaction Details</h3>
<div class="row">
  <div class="col-md-3">
    <dl class="dl-horizontal">
      <dt>Type</dt><dd>{{ t.type }}</dd>
      <dt>Amount</dt><dd>{{ t.amount|format_currency|safe }}</dd>
    </dl>
  </div>
  <div class="col-md-3">
    <dl class="dl-horizontal">
      <dt>To Account</dt><dd>{{ t.to_account_virt.name if t.to_account_virt else "n/a" }}</dd>
      <dt>From Account</dt><dd>{{ t.fr_account_virt.name if t.fr_account_virt else "n/a" }}</dd>
    </dl>
  </div>
  <div class="col-md-3">
    <dl class="dl-horizontal">
      <dt>To Account Cash</dt><dd>{{ t.to_account_cash.name if t.to_account_cash else "n/a" }}</dd>
      <dt>From Account Cash</dt><dd>{{ t.fr_account_cash.name if t.fr_account_cash else "n/a" }}</dd>
    </dl>
  </div>
  <div class="col-md-3">
    <dl class="dl-horizontal">
      <dt>Timestamp</dt><dd>{{ t.event.timestamp|pretty_date|safe }}</dd>
      <dt>Owner</dt><dd>{{ t.event.admin.name if t.event.admin else "n/a" }}</dd>
    </dl>
  </div>

</div>

{% if t.btctransaction %}

<br/>
<h3 class="page-header">Bitcoin Transaction Details</h3>
    <dl class="dl-horizontal">
      <dt>Transaction</dt><dd><a href="https://blockchain.info/tx/{{ t.btctransaction }}?show_adv=true">{{ t.btctransaction }}</a></dd>
      <dt>Address</dt><dd><a href="https://blockchain.info/address/{{ t.address }}">{{ t.address }}</a></dd>
      <dt>BTC Amount</dt><dd>{{ t.amount_btc }}</dd>
    </dl>

{% endif %}



{% if t.notes %}

<br/>
<h3 class="page-header">Transaction Notes</h3>
{{ t.notes }}
{% endif %}


{% if t.subtransactions %}

<br/>
<h3 class="page-header">Sub Transactions</h3>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Item</th>
      <th class="right">Item Amount</th>
      <th class="right">Quantity</th>
      <th class="right">Amount</th>
    </tr>
  </thead>
  <tbody>
  {% for st in t.subtransactions %}
    <tr>
        <td>{{ st.id }}</td>
        <td>{{ st.item.name }}</td>
        <td class="right">{{ st.item_amount|format_currency|safe }}</td>
        <td class="right">{{ st.quantity }}</td>
        <td class="right">{{ st.amount|format_currency|safe }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}
