{% extends "base.jinja2" %}
{% block title %}About{% endblock %}


{% block top %}
<div class="container">
  <h1>About Chez Betty</h1>
</div>
{% endblock %}


{% block content %}

<p>
Chez Betty is food.
</p>

{% endblock %}
