{% extends "base.jinja2" %}
{% block title %}About{% endblock %}


{% block top %}
<div class="container">
  <h1>About Chez Betty</h1>
</div>
{% endblock %}


{% block content %}

<p>
Chez Betty is an honor-system based food cooperative for graduate students,
faculty, and staff in Computer Science at the University of Michigan.
Chez Betty is inspired by Chez Bob, a similar system built at UCSD.
</p>

<p><a class="btn btn-default" href="/">Home</a></p>

<h3>Where's Betty?</h3>
<p>Chez Betty is located 2XXX~BBB, the graduate student lounge.</p>

<h3>How do I buy things from Chez Betty?</h3>
<ol>
	<li>Log in to Chez Betty by swiping your MCard at the terminal.</li>
	<ul>
		<li>Accounts are tied to your UMID.</li>
		<li>A new account is automatically created for first-time users on the the fly the first time you log in.</li>
	</ul>
	<li>Look at your Account Balance. If you're low, deposit some money.</li>
	<ul>
		<li>Every user has an account with Chez Betty that keeps track of how much money they've put in.</li>
		<li>Betty doesn't make change, instead excess money stays in your account for your next transaction.</li>
		<li>You can run into the red, see below.</li>
	</ul>
	<li>Grab what you'd like from Chez Betty and scan your items.</li>
	<li>Click &ldquo;Submit Purchase&rdquo; and you're done!</li>
</ol>

<h3>Wait... Couldn't people steal from this really easily?</h3>
<p>Yes. (But please don't).</p>
<p>The idea is to provide a convenient service to members of the UM CSE community. Betty makes a small
profit off each sale, some of which will be used to cover the inevitable losses. If too many people take
advantage of Betty's trusting nature, the service will have to shut down :(.</p>

<h3>Tell me more about my Chez Betty account?</h3>
<p>Chez Betty sells things nearly at-cost (usually a 1-3% markup). Since no one likes change and Betty
is a self-service operation, it's set up so that each user has an account with Betty. You can put in
$20 (or however much) at a time and use that balance until it runs out.</p>

<h4>What if I don't have any money / Can my account balance go negative?</h4>
<p>Yes. Chez Betty allows you to spend beyond your immediate means under that assumption that you'll pay
Betty back eventually. There is a <a href="/wall-of-shame">Wall of Shame</a> for persons who owe Betty
more than $5.</p>

<h3>How does Betty set prices?</h3>
<p>Betty sells things just above wholesale, usually a 1-3% markup. If you're interested in the actual algorithm,
check out Betty's source code at github.com/um-cseg/chez-betty.</p>
<p>Current wholesale and Betty prices are always available on <a href="/prices">the prices page</a>.</p>

<h3>Who are the awesome people who run Chez Betty?</h3>
<p>Chez Betty is a service of CSEG, the CSE graduate student group.</p>

<a class="btn btn-default" href="/">Home</a>

{% endblock %}
