{% set relative = relative|default('') -%}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
	{% block head %}
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/chezbetty.css" />

	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="{{'chezbetty:static/js/chezbetty.js'|static_url}}" />

	<title>{% block title %}{% endblock %} | Chez Betty</title>
	{% endblock %}
</head>
<body>

	<div id="wrap">

    {% set active_page = active_page|default('index') -%}
		{#{% include 'navbar.html' %}#}

		<div id="alerts" class="container">
			{% block alerts %}{% endblock %}
		</div>

		{% block top %}{% endblock %}

		<div id="content" class="container">
			{% block content %}{% endblock %}
		</div>

		{% block footer %}{% endblock %}
	</div>

	<script src="/js/chezbetty-onload.js"></script>
	{% block onload %}
	{% endblock %}
</body>