{% set relative = relative|default('') -%}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" type="image/png" href="{{'chezbetty:static/chezbetty_32px.png'|static_url}}" />
  {% block head %}
  <link rel="stylesheet" href="{{'chezbetty:static/css/lib/bootstrap/bootstrap.min.css'|static_url}}" />
  <link rel="stylesheet" href="{{'chezbetty:static/css/lib/bootstrap-sortable/bootstrap-sortable.css'|static_url}}" />
  <link rel="stylesheet" href="{{'chezbetty:static/css/lib/keyboard/keyboard.css'|static_url}}" />
  <link rel="stylesheet" href="{{'chezbetty:static/css/lib/jquery-ui/jquery-ui.min.css'|static_url}}" />

  <link rel="stylesheet" href="{{'chezbetty:static/css/chezbetty.css'|static_url}}" />

  <script src="{{'chezbetty:static/js/lib/jquery/jquery.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/jquery-ui/jquery-ui.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/jquery-dateFormat/jquery-dateFormat.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/spin.js/spin.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/bootstrap/bootstrap.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/moment/moment.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/bootstrap-sortable/bootstrap-sortable.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/lib/keyboard/jquery.keyboard.min.js'|static_url}}"></script>

  <script src="{{'chezbetty:static/js/chezbetty.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/chezbetty-dragscroll.js'|static_url}}"></script>

  <title>{% if request.debug %}[ DEBUG ]{% endif %} {% block title %}{% endblock %} | Chez Betty</title>
  {% endblock %}
</head>
<body>

  {% if "demo" in request.cookies and request.cookies["demo"]|int %}
    {% set demo = True %}
  {% else %}
    {% set demo = False %}
  {% endif %}

  <script>
    {% if request.is_terminal %}
    onscreen_keyboard = true;
    {% else %}
    onscreen_keyboard = false;
    {% endif %}

    is_service_account = {% if request.user.role == "serviceaccount" %}true{% else %}false{% endif %};
  </script>

  <div id="wrap">

    {% set active_page = active_page|default('index') -%}
    {#{% include 'navbar.html' %}#}

    {% if active_page not in ('deposit', 'deposit_edit') %}
    {% if user %}
    {% if user.balance < -50 %}
    <div class="alert alert-warning" role="alert">
      <div class="container">
        <h2>{{ _('Hi %(name)s,')|format(name=user.name) }}</h2>
        <h3>{{ _("You currently owe Betty %(big_debt)s. That's a lot of money!")|
                 format(big_debt=user.balance|format_currency)|safe }}</h3>
        <p>{{ _("We're glad you like Betty. We're happy to extend a small line "
        "of credit, but if people owe Betty lots of money, it's hard to keep "
        "things in stock. Please try to pay Betty back soon!") }}</p>
      </div>
    </div>
    {% elif user.balance < -20 %}
    <div class="alert alert-warning" role="alert">
      <div class="container">
        <h2>{{ _('Hi %(name)s,')|format(name=user.name) }}</h2>
        <p>{{ _("You currently owe Betty %(debt)s.")|format(debt=user.balance|format_currency)|safe }}</p>
        <p>{{ _('Please try to pay Betty back soon, thanks!') }}</p>
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}

    <div id="alerts" class="container">
      {% block alerts %}
      {% for msg in request.session.pop_flash('error') %}
      <div class="alert alert-danger" role="alert">
        {{ msg }}
      </div>
      {% endfor %}
      {% for msg in request.session.pop_flash('success') %}
      <div class="alert alert-success" role="alert">
        {{ msg }}
      </div>
      {% endfor %}
      {% for msg in request.session.pop_flash('info') %}
      <div class="alert alert-info" role="alert">
        {{ msg }}
      </div>
      {% endfor %}
      {% endblock %}
    </div>

    {% block top %}
    <div class="container">
      <div class="header">
        <h1>{% block header %}{% endblock %}</h1>
      </div>
    </div>
    {% endblock %}

    <div id="content" class="container">
      {% block content %}{% endblock %}
    </div>

    {% block footer %}{% endblock %}
  </div>

  {% if false and request.debug %}
  <div class="navbar navbar-inverse navbar-fixed-bottom" style="background-color:#E8192F" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span style="color:black;">DEBUG MODE{{ ''|add_git_version }}</span></a>
      </div>
    </div>
  </div>
  {% endif %}

  <script src="{{'chezbetty:static/js/chezbetty-onload.js'|static_url}}"></script>
  {% block onload %}
  {% endblock %}

  {% set timeout = timeout|default(60*1000*5) -%}
  <script>
    setTimeout(function(){window.location.replace("/");}, {{ timeout }});
  </script>

  <!-- Google Analytics tracker -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55624000-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
