{% set relative = relative|default('') -%}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  {% block head %}
  <link rel="stylesheet" href="{{'chezbetty:static/css/bootstrap.min.css'|static_url}}" />
  <link rel="stylesheet" href="{{'chezbetty:static/css/bootstrap-sortable.css'|static_url}}" />
  <link rel="stylesheet" href="{{'chezbetty:static/css/keyboard.css'|static_url}}" />
  <link rel="stylesheet" href="{{'chezbetty:static/css/jquery-ui.min.css'|static_url}}" />
  <link rel="stylesheet" href="{{'chezbetty:static/css/chezbetty.css'|static_url}}" />

  <script src="{{'chezbetty:static/js/jquery.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/jquery-ui.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/jquery-dateFormat.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/spin.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/bootstrap.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/moment.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/bootstrap-sortable.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/jquery.keyboard.min.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/chezbetty.js'|static_url}}"></script>
  <script src="{{'chezbetty:static/js/chezbetty-dragscroll.js'|static_url}}"></script>

  <title>{% block title %}{% endblock %} | Chez Betty</title>
  {% endblock %}
</head>
<body>

  {% if "demo" in request.cookies and request.cookies["demo"]|int %}
    {% set demo = True %}
  {% else %}
    {% set demo = False %}
  {% endif %}

  <div id="wrap">

    {% set active_page = active_page|default('index') -%}
    {#{% include 'navbar.html' %}#}

    <div id="alerts" class="container">
      {% block alerts %}
      {% for msg in request.session.pop_flash('error') %}
      <div class="alert alert-danger" role="alert">
        {{ msg }}
      </div>
      {% endfor %}
      {% for msg in request.session.pop_flash('success') %}
      <div class="alert alert-success" role="alert">
        {{ msg }}
      </div>
      {% endfor %}
      {% for msg in request.session.pop_flash('info') %}
      <div class="alert alert-info" role="alert">
        {{ msg }}
      </div>
      {% endfor %}
      {% endblock %}
    </div>

    {% block top %}
    <div class="container">
      <div class="header">
        <h1>{% block header %}{% endblock %}</h1>
      </div>
    </div>
    {% endblock %}

    <div id="content" class="container">
      {% block content %}{% endblock %}
    </div>

    {% block footer %}{% endblock %}
  </div>

  <script src="{{'chezbetty:static/js/chezbetty-onload.js'|static_url}}"></script>
  {% block onload %}
  {% endblock %}

  {% set timeout = timeout|default(60*1000*5) -%}
  <script>
    setTimeout(function(){window.location.replace("/");}, {{ timeout }});
  </script>
</body>
