

<center>
<img width="300" src="/static/bitcoin.png"/>
<br/>
<img src="https://blockchain.info/qr?data={{ addr }}&size=300"/>
<br/>
<span id="btcaddr">{{ addr }}</span>
</center>

<script src="/static/js/chezbetty-bitcoin.js"></script>
