

<div class="col-md-6">
<img style="margin: 10px;" width="300" src="/static/bitcoin.png"/>
<br/>
<img style="margin: 10px;" src="https://blockchain.info/qr?data={{ addr }}&size=300"/>
<br/>
<span id="btcaddr">{{ addr }}</span>
</div>

<script src="/static/js/chezbetty-bitcoin.js"></script>
