{% extends "base.jinja2" %}
{% block title %}Deposit Complete{% endblock %}

{% block alerts %}
<div class="alert alert-success" role="alert">
  Success! The deposit was added successfully.
</div>
{% endblock %}

{% block top %}
<div class="container">
  <h1>Deposit Complete</h1>
</div>
{% endblock %}


{% block content %}

{{ user_info_block|safe }}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Deposit Result</h3>
  </div>
  <div class="panel-body">

    <div id="transaction-{{ deposit['transaction_id'] }}">
      <div class="row">
        <div class="col-md-4">Old Balance</div>
        <div class="col-md-4">{{ deposit['prev']|format_currency|safe }}</div>
      </div>
      <div class="row">
        <div class="col-md-4">Deposit</div>
        <div class="col-md-4">{{ deposit['amount']|format_currency|safe }}</div>
      </div>
      <div class="row">
        <div class="col-md-4">New Balance</div>
        <div class="col-md-4">{{ deposit['new']|format_currency|safe }}</div>
      </div>
    </div>

  </div>
</div>

<a class="btn btn-danger" href="/transaction/{{ deposit['transaction_id'] }}/undo">Oops! I made a mistake. Undo this transaction.</a>

{% endblock %}
