{% extends "base.jinja2" %}
{% block title %}Deposit Complete{% endblock %}
{% block header %}Deposit Complete{% endblock %}

{% block content %}

{% set page = 'deposit' %}
{% include "user_info.jinja2" %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ _('Deposit') }}</h3>
  </div>
  <div class="panel-body">

    <div id="transaction-{{ deposit.id }}">

      {% if deposit.type == "btcdeposit" %}
      <dl class="dl-horizontal">
        <dt>{{ _("Old Balance") }}</dt>
        <dd>{{ prev_balance|format_currency|safe }}</dd>

        <dt>{{ _("Deposit Amount") }}</dt>
        <dd>{{ deposit.amount_btc }} BTC ({{ deposit.amount|format_currency|safe }})</dd>

        <dt>{{ _("New Balance") }}</dt>
        <dd>{{ user.balance|format_currency|safe }}</dd>

        <dt>{{ _("Transaction") }}</dt>
        <dd>{{ deposit.img|safe }}<br/>{{ deposit.btctransaction }}</dd>
      </dl>

      {% elif deposit.type == "cashdeposit" %}
      <div class="deposit-cash">
        <span class="deposit-thankyou">{{ _("Thank you!") }}</span>
        <p class="deposit-info">
          {% if account_type == "user" %}
          {{ _("You successfully deposited %(amount)s into your account")|
             format(amount='<span class="deposit-amount">'+deposit.amount|format_currency+'</span>')|safe }}
into your account.
          {% elif account_type == "pool" %}
          {{ _("You successfully deposited %(amount)s in the %(pool_name)s Pool")|
             format(
               amount='<span class="deposit-amount">'+deposit.amount|format_currency+'</span>',
               pool_name=pool.name,
             )|safe }}
          {% endif %}
        </p>

        <a class="btn btn-primary btn-huge" href="/deposit/edit/{{ user.umid }}/{{ event.id }}">
          {{ _('Edit this Deposit') }}
        </a>
      </div>

      {% endif %}

    </div>

  </div>
</div>

{% endblock %}

{% set timeout = 1000*30 %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-mcard.js'|static_url}}"></script>
{% endblock %}
