{% extends "base.jinja2" %}
{% block title %}{{ _('Deposit') }}{% endblock %}
{% block header %}{{ _('Deposit') }}{% endblock %}


{% block content %}

{% set page = 'deposit' %}
{% include "user_info.jinja2" %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ _('Deposit') }}</h3>
  </div>
  <div class="panel-body">

    <div class="row wrapper">
      <div class="col-md-4 deposit-type-col">
        <div class="row">
          <div class="col-md-12">
            <h3>{{ _('Cash') }}</h3>
            <h5 style="margin-left: 10px;">{{ _('Your Deposit Limit: %(limit)s')|format(limit=user.deposit_limit|format_currency)|safe }}</h5>
            {% include "keypad.jinja2" %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" id="btn-deposit-user" class="btn btn-success btn-lg btn-submit-deposit">{{ _('Deposit To Your Account') }}</button>
            {% for pool in pools %}
            <button type="button" id="btn-deposit-pool-{{ pool.id }}" class="btn btn-success btn-lg btn-submit-deposit">{{ _('Deposit To %(pool_name)s Pool')|format(pool_name=pool.name) }}</button>
            {% endfor %}
          </div>
        </div>
      </div>



      <div class="line line-first-third"></div>
      <div class="wordwrapper wordwrapper-first-third">
        <div class="word">or</div>
      </div>


      <div class="col-md-4 deposit-type-col">
        <h3>{{ _('Bitcoin') }}</h3>
        {{ btc|safe }}
      </div>


      <div class="line line-second-third"></div>
      <div class="wordwrapper wordwrapper-second-third">
        <div class="word">or</div>
      </div>

      <div class="col-md-4 deposit-type-col">
        <h3>{{ _('Credit Card') }}</h3>
        <p style="text-align:center;">{{ _('Coming soon.') }}</p>
      </div>


    </div>
  </div>
</div>

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-mcard.js'|static_url}}"></script>
{% endblock %}
