{% extends "base.jinja2" %}
{% block title %}Deposit{% endblock %}
{% block header %}Deposit{% endblock %}


{% block content %}

{% set page = 'deposit' %}
{% include "user_info.jinja2" %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Deposit</h3>
  </div>
  <div class="panel-body">

    <div class="row wrapper">
      <div class="col-md-4 deposit-type-col">
        <div class="row">
          <div class="col-md-12">
            <h3>Cash</h3>
            {% include "keypad.jinja2" %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" id="btn-submit-deposit" class="btn btn-success btn-lg btn-full-width">Submit Deposit</button>
          </div>
        </div>
      </div>



      <div class="line line-first-third"></div>
      <div class="wordwrapper wordwrapper-first-third">
        <div class="word">or</div>
      </div>


      <div class="col-md-4 deposit-type-col">
        <h3>Bitcoin</h3>
        {{ btc|safe }}
      </div>


      <div class="line line-second-third"></div>
      <div class="wordwrapper wordwrapper-second-third">
        <div class="word">or</div>
      </div>

      <div class="col-md-4 deposit-type-col">
        <h3>Credit Card</h3>
        <p style="text-align:center;">Coming soon.</p>
      </div>


    </div>
  </div>
</div>

{% endblock %}
