{% extends "base.jinja2" %}
{% block title %}Deposit{% endblock %}
{% block header %}Deposit{% endblock %}


{% block content %}

{{ user_info_block|safe }}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Deposit</h3>
  </div>
  <div class="panel-body">

    <div class="col-md-6">
      {{ keypad|safe }}
    </div>

    <div class="col-md-6">
      {{ btc|safe }}
    </div>

    <div class="btn-group btn-group-large">
      <button type="button" id="btn-submit-deposit" class="btn btn-success">Submit Deposit</button>
    </div>

  </div>
</div>

{% endblock %}
