{% extends "base.jinja2" %}
{% block title %}Deposit Complete{% endblock %}
{% block header %}Deposit Complete{% endblock %}

{% block content %}

{% set page = 'deposit' %}
{% include "user_info.jinja2" %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Deposit Result</h3>
  </div>
  <div class="panel-body">

    <div id="transaction-{{ deposit.id }}">

      {% if deposit.type == "btcdeposit" %}
      <dl class="dl-horizontal">
        <dt>Old Balance</dt>
        <dd>{{ prev_balance|format_currency|safe }}</dd>

        <dt>Deposit</dt>
        <dd>{{ deposit.amount_btc }} BTC ({{ deposit.amount|format_currency|safe }})</dd>

        <dt>New Balance</dt>
        <dd>{{ user.balance|format_currency|safe }}</dd>

        <dt>Transaction</dt>
        <dd>{{ deposit.img|safe }}<br/>{{ deposit.btctransaction }}</dd>
      </dl>
      
      {% elif deposit.type == "cashdeposit" %}
      <div class="deposit-cash">
        <span class="deposit-thankyou">Thank you!</span>
        <p class="deposit-info">
          You successfully deposited
          <span class="deposit-amount">{{ deposit.amount|format_currency|safe }}</span>
          {% if account_type == "user" %}into your account.
          {% elif account_type == "pool" %}in the {{ pool.name }} Pool.
          {% endif %}
        </p>

        <a class="btn btn-primary btn-huge" href="/deposit/edit/{{ user.umid }}/{{ event.id }}">
          Edit this Deposit
        </a>
      </div>

      {% endif %}

    </div>

  </div>
</div>

{% endblock %}

{% set timeout = 1000*30 %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-mcard.js'|static_url}}"></script>
{% endblock %}
