<p>Hi {{ user.name }},</p>

<p> To deposit money with a credit card login to your user account:
<a href="https://chezbetty.eecs.umich.edu/user">chezbetty.eecs.umich.edu/user</a>.</p>

<br />
<p>- Chez Betty</p>

