{% extends "base.jinja" %}
{% block title %}Home{% endblock %}


{% block top %}

<div class="container">
  <h1>Chez Betty</h1>
</div>

{% endblock %}



{% block content %}

<div class="panel panel-default">
  <div class="panel-body">
    Swipe your M-Card to login.
  </div>
</div>

<div class="btn-group btn-group-large">
  <a class="btn btn-default" href="/items">Items</a>
</div>

<div class="btn-group btn-group-large">
  <a class="btn btn-default" href="/about">About</a>
</div>

{% endblock %}

{% block onload %}
<script src="/js/chezbetty-mcard.js"></script>
{% endblock %}
