{% extends "base.jinja2" %}
{% block title %}Home{% endblock %}


{% block top %}
<style>
@media (min-width: 992px) {
  .container {
    width: 1600px;
  }
}
</style>

{% endblock %}

{% block content %}

<style>
body {
  padding-bottom: 100px;
}
</style>

<div class="row">
  <div class="col-md-8">


    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron top">
          <img class="pull-right" src="/static/chezbetty_1000px.jpg" style="margin-top:5px;width:120px;" />

          <h1>{{ _('Welcome to Chez Betty!') }}</h1>
          <p>{{ _('The 24/7 food co-op for all members of the CSE community.') }}</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">

        <div id="front-buttons" class="buttons">
          <a class="btn btn-default btn-huge btn-bordered" href="/items">{{ _('Item List') }}</a>
          <a class="btn btn-default btn-huge btn-bordered" href="/item/request">{{ _('Request an Item') }}</a>
          <a class="btn btn-default btn-huge btn-bordered" href="/about">{{ _('About') }}</a>
          <a class="btn btn-default btn-huge btn-bordered" href="/shame">{{ _('Wall of Shame') }}</a>
        </div>

        {% for debtor in top_debtors %}
        <div id="top-debtor-{{ loop.index }}" data-rotate-div-timeout="5000" {% if loop.index == 1 %} class="rotate-divs" {% else %} style="display: none;"{% endif %}>
          <hr />
          <div class="alert">
            <h2>Do you know <strong>{{ debtor.name }}</strong> ({{ debtor.uniqname }})?</h2>
            <h3>They are number {{ loop.index }} on the Wall of Shame, with a balance of
              {{ debtor.balance|format_currency|safe }}.</h3>
            <h3>If you know {{ debtor.name }}, please encourage them to pay Betty back today.</h3>
          </div>
        </div>
        {% endfor %}

        <div id="cc-banner" style="text-align:center">
          <hr />
          <h2>{{ _('Betty now accepts credit cards!') }}</h2>
          <h4>
          {{ _('To deposit using a credit card, please visit') }}
          <span class="highlight">https://chezbetty.eecs.umich.edu/user</span>
          {{ _('on your own computer.') }}
          </h4>
        </div>

        {% if demo and request.has_permission("admin") %}
        <div id="front-demo" class="buttons">
          <div class="well">
            <h3>Demo Mode:</h3>
            {% for admin in admins %}
            <a class="btn btn-default btn-huge btn-bordered" href="/terminal/purchase/{{ admin.umid }}">Login as {{ admin.name }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}

      </div>
    </div>

  </div>

  <div class="col-md-4">

    <div id="index-main" style="margin-top:100px;">
      <h2>{{ _('Swipe your M-Card to login') }}</h2>
    </div>

    <hr />
    <div class="or"><span>OR</span></div>

    <div class="center">
      <h3>{{ _('Enter your UMID here') }}</h3>
    </div>

    <link rel="stylesheet" href="{{'chezbetty:static/css/chezbetty-keypad.css'|static_url}}" />

    <div id="keypad-umid" class="center">
      <container>
        <container id="keypad-umid-status">
          <block class="umid-status-block btn btn-default"></block>
          <block class="umid-status-block btn btn-default"></block>
          <block class="umid-status-block btn btn-default"></block>
          <block class="umid-status-block btn btn-default"></block>
          <block class="umid-status-block btn btn-default"></block>
          <block class="umid-status-block btn btn-default"></block>
          <block class="umid-status-block btn btn-default"></block>
          <block class="umid-status-block btn btn-default"></block>
        </container>
        <block><button type="button" id="btn-keypad-9" class="btn btn-default btn-keypad">9</button></block>
        <block><button type="button" id="btn-keypad-8" class="btn btn-default btn-keypad">8</button></block>
        <block><button type="button" id="btn-keypad-7" class="btn btn-default btn-keypad">7</button></block>
        <block><button type="button" id="btn-keypad-6" class="btn btn-default btn-keypad">6</button></block>
        <block><button type="button" id="btn-keypad-5" class="btn btn-default btn-keypad">5</button></block>
        <block><button type="button" id="btn-keypad-4" class="btn btn-default btn-keypad">4</button></block>
        <block><button type="button" id="btn-keypad-3" class="btn btn-default btn-keypad">3</button></block>
        <block><button type="button" id="btn-keypad-2" class="btn btn-default btn-keypad">2</button></block>
        <block><button type="button" id="btn-keypad-1" class="btn btn-default btn-keypad">1</button></block>
	<block><button type="button" id="btn-keypad-clear" class="btn btn-default btn-keypad">{{ _('Clear') }}</button></block>
        <block><button type="button" id="btn-keypad-del" class="btn btn-default btn-keypad">&laquo;</button></block>
        <block><button type="button" id="btn-keypad-0" class="btn btn-default btn-keypad">0</button></block>
      </container>
    </div>



  </div>
</div>

<div id="spinner-box"></div>




{% endblock %}

{% block footer %}
<div class="navbar navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <hr />
    <p>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-en">English</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-fr">français</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-tw">漢語</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-fa">فارسی</a>
      <strong>{{ _('Can you help translate Betty? Visit github.com/um-cseg/chez-betty to contribute.') }}</strong>
    </p>
    <hr />
  </div>
</div>
{% endblock %}

{% set timeout = 1000*60*60*4 %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-mcard.js'|static_url}}"></script>

{# Comment out debt screen now that we made some money
<div id="splash" class="container">
  <h1>Please Help Us Out</h1>
  <h3>Right now, people owe Betty a combined
    <strong>{{ owed_by_users|format_debt|safe }}</strong>.
  </h3>
  <h2>We cannot restock Betty until more people on the Wall
    of Shame have paid off their debts.
  </h2>
  <div class="pull-right">
    <a class="btn btn-deftaul btn-huge btn-bordered" onclick='$("#splash").hide(); $("#wrap").show();'>Continue to Betty</a>
  </div>
  <div class="clearfix"></div>
  <hr />
  <div style="-webkit-column-count: 4; -moz-column-count: 4; column-count: 4; font-size: 19px;">
  {% for user in shame_users %}
  <p>{{loop.index}}.&nbsp;{{ user.name }}&nbsp;{{ user.balance|format_debt|safe }}</p>
  {% endfor %}
  </div>
</div>

<script>
$("#wrap").hide();
$("#splash").show();
</script>
#}
{% endblock %}
