{% extends "base.jinja2" %}
{% block title %}Home{% endblock %}


{% block top %}

{% endblock %}



{% block content %}

<div class="jumbotron top">
  <h1>Welcome to Chez Betty!</h1>
  <p>This is a 24/7 food store for all Graduate Students in CSE.</p>
</div>


<div class="panel panel-default">
  <div id="login-panel" class="panel-body">
    Swipe your M-Card to login.
  </div>
</div>

<div class="btn-group btn-group-large">
  <a class="btn btn-default" href="/items">Items</a>
</div>

<div class="btn-group btn-group-large">
  <a class="btn btn-default" href="/about">About</a>
</div>

{% if request.has_permission("manage") %}
<div class="btn-group btn-group-large">
  <a class="btn btn-default" href="/admin">Administration</a>
</div>
{% endif %}

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-mcard.js'|static_url}}"></script>
{% endblock %}
