{% extends "base.jinja2" %}
{% block title %}Home{% endblock %}


{% block top %}
<style>
@media (min-width: 992px) {
  .container {
    width: 1600px;
  }
}
</style>

{% endblock %}

{% block content %}

<style>
body {
  padding-bottom: 100px;
}
</style>

<div class="row">
  <div class="col-md-8">


    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron top">
          <img class="pull-right" src="/static/chezbetty_1000px.jpg" style="margin-top:5px;width:120px;" />

          <h1>{{ _('Welcome to Chez Betty!') }}</h1>
          <p>{{ _('The 24/7 food co-op for all members of the CSE community.') }}</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">

        <div id="front-buttons" class="buttons">
          <a class="btn btn-default btn-huge btn-bordered" href="/items">{{ _('Item List') }}</a>
          <a class="btn btn-default btn-huge btn-bordered" href="/item/request">{{ _('Request an Item') }}</a>
          <a class="btn btn-default btn-huge btn-bordered" href="/about">{{ _('About') }}</a>
          <a class="btn btn-default btn-huge btn-bordered" href="/shame">{{ _('Wall of Shame') }}</a>
        </div>

        {% for debtor in top_debtors %}
        <div id="top-debtor-{{ loop.index }}" data-rotate-div-timeout="5000" {% if loop.index == 1 %} class="rotate-divs" {% else %} style="display: none;"{% endif %}>
          <hr />
          <div class="alert">
            <h2>Do you know <strong>{{ debtor.name }}</strong> ({{ debtor.uniqname }})?</h2>
            <h3>They are number {{ loop.index }} on the Wall of Shame, with a balance of
              {{ debtor.balance|format_currency|safe }}.</h3>
            <h3>If you know {{ debtor.name }}, please encourage them to pay Betty back today.</h3>
          </div>
        </div>
        {% endfor %}

        <div id="cc-banner" style="text-align:center">
          <hr />
          <h2>{{ _('Betty now accepts credit cards!') }}</h2>
          <h4>
          {{ _('To deposit using a credit card, please visit') }}
          <span class="highlight">https://chezbetty.eecs.umich.edu/user</span>
          {{ _('on your own computer.') }}
          </h4>
        </div>

        {% if demo and request.has_permission("admin") %}
        <div id="front-demo" class="buttons">
          <div class="well">
            <h3>Demo Mode:</h3>
            {% for admin in admins %}
            <a class="btn btn-default btn-huge btn-bordered" href="/terminal/purchase/{{ admin.umid }}">Login as {{ admin.name }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}

      </div>
    </div>

  </div>


</div>





{% endblock %}

{% block footer %}
<div class="navbar navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <hr />
    <p>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-en">English</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-fr">français</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-tw">漢語</a>
      <a class="btn btn-default btn-lg btn-bordered" href="/lang-fa">فارسی</a>
      <strong>{{ _('Can you help translate Betty? Visit github.com/um-cseg/chez-betty to contribute.') }}</strong>
    </p>
    <hr />
  </div>
</div>
{% endblock %}

{% set timeout = 1000*60*60*4 %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-mcard.js'|static_url}}"></script>
{% endblock %}
