{% extends "base.jinja" %}
{% block title %}Home{% endblock %}


{% block top %}

<div class="container">
  <h1>Chez Betty</h1>
</div>

{% endblock %}



{% block content %}

<div class="btn-group btn-group-large">
  <a class="btn btn-default" href="/purchase.html">Purchase</a>
</div>

<div class="btn-group btn-group-large">
  <button type="button" class="btn btn-default">Deposit</button>
</div>

<div class="btn-group btn-group-large">
  <button type="button" class="btn btn-default">Account</button>
</div>

<div class="btn-group btn-group-large">
  <button type="button" class="btn btn-default">About</button>
</div>

{% endblock %}