<tr id="purchase-item-{{ item.id }}" class="purchase-item">
  <td class="item-actions"><button type="button" class="btn btn-danger btn-remove-item">X</button></td>
  <td class="item-index">{{ item.index }}</td>
  <td class="item-title">{{ item.title }}</td>
  <td class="item-quantity">{{ item.quantity }}</td>
  <td class="item-price">{{ item.price }}</td>
  <div class="hidden item-price-single">{{ item.price }}</div>
</tr>