{% extends "base.jinja2" %}
{% block title %}Items{% endblock %}
{% block header %}Items at Chez Betty{% endblock %}



{% block content %}

<div class="top-button">
  <a class="btn btn-default btn-lg" href="/">Home</a>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Items</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Item</th>
          <th class="item-stock" style="width: 15%">In Stock</th>
          <th class="item-cost" style="width: 15%">Wholesale Cost</th>
          <th class="item-price" style="width: 15%">Price</th>
        </tr>
      </thead>

      <tbody>
      {% for item in items %}
        <tr>
          <td class="item-name">{{ item.name }}</td>
          <td class="item-stock">{{ item.in_stock }}</td>
          <td class="item-cost">{{ item.wholesale|format_currency|safe }}</td>
          <td class="item-price">{{ item.price|format_currency|safe }}</td>
        </tr>
      {% endfor %}
      </tbody>

    </table>
  </div>
</div>

{% endblock %}
