<link rel="stylesheet" href="{{'chezbetty:static/css/keypad.css'|static_url}}" />

<div id="keypad">

  <div id="keypad-total" class="well well-sm keypad-full-width">$0.00</div>

  <container>
    <block><button type="button" id="btn-keypad-9" class="btn btn-default btn-keypad">9</button></block>
    <block><button type="button" id="btn-keypad-8" class="btn btn-default btn-keypad">8</button></block>
    <block><button type="button" id="btn-keypad-7" class="btn btn-default btn-keypad">7</button></block>
    <block><button type="button" id="btn-keypad-6" class="btn btn-default btn-keypad">6</button></block>
    <block><button type="button" id="btn-keypad-5" class="btn btn-default btn-keypad">5</button></block>
    <block><button type="button" id="btn-keypad-4" class="btn btn-default btn-keypad">4</button></block>
    <block><button type="button" id="btn-keypad-3" class="btn btn-default btn-keypad">3</button></block>
    <block><button type="button" id="btn-keypad-2" class="btn btn-default btn-keypad">2</button></block>
    <block><button type="button" id="btn-keypad-1" class="btn btn-default btn-keypad">1</button></block>
    <block><button type="button" id="btn-keypad-del" class="btn btn-default btn-keypad">&lt;&lt;</button></block>
    <block h2=""><button type="button" id="btn-keypad-0" class="btn btn-default btn-keypad-wide">0</button></block>
  </container>

</div>
