
<div id="keypad" class="col-md-6">

  <div class="row">
    <div class="panel panel-default">
      <div id="keypad-total" class="panel-body">
        $0.00
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <button type="button" id="btn-keypad-1" class="btn btn-default">1</button>
    </div>
    <div class="col-md-4">
      <button type="button" id="btn-keypad-2" class="btn btn-default">2</button>
    </div>
    <div class="col-md-4">
      <button type="button" id="btn-keypad-3" class="btn btn-default">3</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button type="button" id="btn-keypad-4" class="btn btn-default">4</button>
    </div>
    <div class="col-md-4">
      <button type="button" id="btn-keypad-5" class="btn btn-default">5</button>
    </div>
    <div class="col-md-4">
      <button type="button" id="btn-keypad-6" class="btn btn-default">6</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button type="button" id="btn-keypad-7" class="btn btn-default">7</button>
    </div>
    <div class="col-md-4">
      <button type="button" id="btn-keypad-8" class="btn btn-default">8</button>
    </div>
    <div class="col-md-4">
      <button type="button" id="btn-keypad-9" class="btn btn-default">9</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button type="button" id="btn-keypad-del" class="btn btn-default">&lt;&lt;</button>
    </div>
    <div class="col-md-4">
      <button type="button" id="btn-keypad-0" class="btn btn-default">0</button>
    </div>
    <div class="col-md-4">
      &nbsp;
    </div>
  </div>
</div>
