{% extends "admin/base.jinja2" %}
{% block title %}Chez Betty Admin Login{% endblock %}

{% block body %}

<style>
body {
  background-color: #eee;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

button {
  margin-top: 10px;
}
</style>

<script>
  {% if request.is_terminal %}
  onscreen_keyboard = true;
  {% else %}
  onscreen_keyboard = false;
  {% endif %}
</script>

<div class="container">

  <div class="col-md-12">
    <p><a class="btn btn-default btn-lg btn-block" href="/">Home</a></p>
  </div>


  <div class="col-md-6">

    <form class="form-signin" role="form" method="post" action="/login">
      <input type="hidden" name="came_from" value="{{ came_from }}"/>
      <h2 class="form-signin-heading">Please Sign In</h2>
      <p class="lead">This isn't kerberos, so if you
      don't have a Betty password, you need to use the other form.</p>
      {% for m in login_message %}
      <span class="label label-danger">{{ m }}</span>
      {% endfor %}
      <input name="login" type="login" id="login-uniqname" class="form-control" placeholder="uniqname" required autofocus value="{{ login }}">
      <input name="password" type="password" id="login-password" class="form-control" placeholder="password" required value = "{{ password }}">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

  </div>

  <div class="col-md-5 col-md-offset-1">

    <form class="form-signin" role="form" method="post" action="/login/reset_pw">
      <h2 class="form-signin-heading">Forgot Password?</h2>
      <p class="lead">Or never had one? Use this to get a password for your account.</p>
      {% for m in forgot_error %}
      <span class="label label-danger">{{ m }}</span>
      {% endfor %}
      {% for m in forgot_success %}
      <span class="label label-success">{{ m }}</span>
      {% endfor %}
      <input name="uniqname" type="login" id="forgot-uniqname" class="form-control" placeholder="uniqname" required />
      <input name="umid" type="number" id="forgot-umid" class="form-control" placeholder="umid" required />
      <button class="btn btn-lg btn-warning btn-block" type="submit">Reset My Password</button>
    </form>

  </div>


</div>

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-admin-keyboard.js'|static_url}}"></script>
{% endblock %}
