{% extends "admin/base.jinja2" %}
{% block title %}Chez Betty Admin Login{% endblock %}

{% block body %}

<style>
body {
  background-color: #eee;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

<script>
  {% if request.is_terminal %}
  onscreen_keyboard = true;
  {% else %}
  onscreen_keyboard = false;
  {% endif %}
</script>

<div class="container">

  <div class="col-md-4"></div>

  <div class="col-md-4">

    <p><a class="btn btn-default btn-lg" href="/">Home</a></p>

    <h4>If you are logging out on Chez Betty, you must login as the service account
    so that the terminal is functional.</h4>

    <form class="form-signin" role="form" method="post" action="/login">
      <input type="hidden" name="came_from" value="{{ came_from }}"/>
      <h2 class="form-signin-heading">Please sign in</h2>
      <span class="label label-danger">{{ message[0] }}</span>
      <input name="login" type="login" id="login-uniqname" class="form-control" placeholder="uniqname" required autofocus value="{{ login }}">
      <input name="password" type="password" id="login-password" class="form-control" placeholder="password" required value = "{{ password }}">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

  </div>

  <div class="col-md-4"></div>

</div>

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-admin-keyboard.js'|static_url}}"></script>
{% endblock %}
