{% macro alerts_container(request, nested=False) %}
<div id="alerts" {% if not nested %}class="container"{% endif %}>
  {% for msg in request.session.pop_flash('error') %}
  <div class="alert alert-danger" role="alert">
    {{ msg }}
  </div>
  {% endfor %}
  {% for msg in request.session.pop_flash('success') %}
  <div class="alert alert-success" role="alert">
    {{ msg }}
  </div>
  {% endfor %}
  {% for msg in request.session.pop_flash('info') %}
  <div class="alert alert-info" role="alert">
    {{ msg }}
  </div>
  {% endfor %}
</div>
{% endmacro %}

