{% extends "base.jinja2" %}
{% block title %}User Pools{% endblock %}
{% block header %}{{ user.name }} - Pools{% endblock %}

{% block content %}

{% set page = 'pools' %}
{% include "user_info.jinja2" %}

<p>
  Pools are shared Chez Betty accounts and allow multiple people to
  make purchases from the same pot of money.
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create New Pool</h3>
  </div>
  <div class="panel-body">
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pools You Own</h3>
  </div>
  <div class="panel-body">

    <table id="my-pools" class="table table-bordered">

      <thead>
        <tr>
          <th>Pool Name</th>
          <th>Balance</th>
        </tr>
      </thead>

      <tbody>
        {% for pool in my_pools %}
        <tr>
          <td>
            {{ pool.name }}
            <table id="my-pool-{{ pool.id }}-members" class="table table-bordered">
              <thead>
                <tr>
                  <th>Member</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                {% for pu in pool.users %}
                <tr> 
                  <td>{{ pu.user.name }}</td>
                  <td>
                    {{ buttons.onoff_switch('pool_users', 'enabled', pu.id, pu.enabled) }}
                    {{ buttons.delete('pool_users', 'deleted',  pu.id) }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {{ buttons.onoff_switch('pool', 'enabled', pool.id, pool.enabled) }}
          </td>
          <td>
            {{ pool.balance|format_currency|safe }}
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pools You Are In</h3>
  </div>
  <div class="panel-body">

    <table id="their-pools" class="table table-bordered">

      <thead>
        <tr>
          <th>Pool Name</th>
          <th>Balance</th>
        </tr>
      </thead>

      <tbody>
        {% for pool in their_pools %}
        <tr>
          <td>{{ pool.name }}</td>
          <td>{{ pool.balance|format_currency|safe }}</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
</div>

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-mcard.js'|static_url}}"></script>
{% endblock %}
