{% extends "base.jinja2" %}
{% block title %}Purchase{% endblock %}
{% block header %}Purchase{% endblock %}


{% block content %}

{% set page = 'purchase' %}
{% include "user_info.jinja2" %}

<div class="row">

  <div class="col-md-9">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Order</h3>
      </div>
      <div class="panel-body">

        {% if demo and request.has_permission("admin") %}
        <div class="well">
          <h4>Demo Mode</h4>
          {% for item in items %}
          <a class="btn btn-default btn-small btn-bordered" href="#" onclick='add_item("{{ item.barcode }}");'>{{ item.name }}</a>
          {% endfor %}
        </div>
        {% endif %}

        <table class="table table-bordered" id="purchase_table">
          <thead>
            <tr>
              <th style="width: 6%">&nbsp;</th>
              <th>Item</th>
              <th style="width: 10%">Quantity</th>
              <th style="width: 10%">Item Price</th>
              <th style="width: 10%">Total Price</th>
            </tr>
          </thead>

          <tbody>
            <tr id="purchase-empty">
              {% if existing_items %}
              {{ existing_items|safe }}
              {% else %}
              <td colspan="5">
                <h3>Order Empty</h3>
                Scan an item to begin
              </td>
              {% endif %}
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="4"><b>Total</b></td>
              <td id="purchase-total">$0.00</td>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>
  </div>

  <div class="col-md-3">
    <button type="button" id="btn-purchase-user" class="btn btn-success btn-lg btn-submit-purchase">Pay With Your User Account</button>
    {% for pool in pools %}
    <button type="button" id="btn-purchase-pool-{{ pool.id }}" class="btn btn-success btn-lg btn-submit-purchase">Pay With<br />{{ pool.name }}<br />Pool</button>
    {% endfor %}
  </div>

</div>

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-item.js'|static_url}}"></script>
{% endblock %}

{% block timeout %}60*1000*50{% endblock %}
