{% extends "base.jinja2" %}
{% block title %}Purchase Complete{% endblock %}

{% block alerts %}
<div class="alert alert-success" role="alert">Thank you! Your order is complete.</div>
{% endblock %}


{% block top %}

<div class="container">
  <h1>Purchase Complete</h1>
</div>

{% endblock %}



{% block content %}

<div class="row">
  <div class="col-md-6">
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Customer</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">Name</div>
          <div class="col-md-10">{{ user.name }}</div>
        </div>
        <div class="row">
          <div class="col-md-2">uniqname</div>
          <div class="col-md-10">{{ user.uniqname }}</div>
        </div>
        <div class="row">
          <div class="col-md-2">Account Balance</div>
          <div class="col-md-10">{{ user.balance }}</div>
        </div>
        <div id="user-umid" class="hidden">{{ user.umid }}</div>
      </div>
    </div>

  </div>
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Account Links</h3>
      </div>
      <div class="panel-body">
        <a class="btn btn-default" href="/user">Account</a>
        <a class="btn btn-default" href="/deposit">Deposit</a>
        <a class="btn btn-default" href="/">Logout</a>
      </div>
    </div>

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Order</h3>
  </div>
  <div class="panel-body">

    <table class="table table-bordered" id="purchase_table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>

      <tbody>
        {{ order.rows }}
      </tbody>

      <tfoot>
        <tr>
          <td colspan="2"><b>Total</b></td>
          <td id="purchase-total">{{ order.total }}</td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>

{% endblock %}
