{% extends "base.jinja2" %}
{% block title %}Purchase Complete{% endblock %}
{% block header %}Purchase Complete{% endblock %}

{% block content %}

{% set page = 'purchase' %}
{% include "user_info.jinja2" %}


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Order</h3>
  </div>
  <div class="panel-body">

    <table class="table table-bordered" id="purchase_table">
      <thead>
        <tr>
          <th class="item-title">Item</th>
          <th class="item-quantity" style="width: 15%;">Quantity</th>
          <th class="item-price" style="width: 15%;">Item Price</th>
          <th class="item-total" style="width: 15%;">Total Price</th>
        </tr>
      </thead>

      <tbody>
      {% for item in order['items'] %}
        <tr class="purchase-item">
          <td class="item-title">{{ item.name }}</td>
          <td class="item-quantity">{{ item.quantity }}</td>
          <td class="item-price">{{ item.price|format_currency|safe }}</td>
          <td class="item-total">{{ item.total_price|format_currency|safe }}</td>
        </tr>
      {% endfor %}
      </tbody>

      <tfoot>
        <tr>
          <td colspan="3"><b>Total</b></td>
          <td id="purchase-total">{{ order['total']|format_currency|safe }}</td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>

<a class="btn btn-danger" href="/event/undo/{{ user.umid }}/{{ event.id }}">If this was a mistake, touch here to undo this transaction.</a>

{% endblock %}

{% set timeout = 1000*15 %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-mcard.js'|static_url}}"></script>
{% endblock %}
