{% extends "base.jinja2" %}
{% block title %}{{ _('Purchase') }}{% endblock %}
{% block header %}{{ _('Purchase') }}{% endblock %}


{% block content %}

{% set page = 'purchase' %}
{% include "user_info.jinja2" %}

<div class="row">

  <div class="col-md-9">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ _('Order Summary') }}</h3>
      </div>
      <div class="panel-body">

        {% if demo and request.has_permission("admin") %}
        <div class="well">
          <h4>Demo Mode</h4>
          {% for item in items %}
          <a class="btn btn-default btn-small btn-bordered" href="#" onclick='add_item("{{ item.barcode }}");'>{{ item.name }}</a>
          {% endfor %}
        </div>
        {% endif %}

        <table class="table table-bordered" id="purchase_table">
          <thead>
            <tr>
              <th style="width: 6%">&nbsp;</th>
              <th>{{ _('Item') }}</th>
              <th style="width: 10%">{{ _('Quantity') }}</th>
              <th style="width: 10%">{{ _('Item Price') }}</th>
              <th style="width: 10%">{{ _('Total Price') }}</th>
            </tr>
          </thead>

          <tbody>
            <tr id="purchase-empty">
              {% if existing_items %}
              {{ existing_items|safe }}
              {% else %}
              <td colspan="5">
                <h3>{{ _('Order Empty') }}</h3>
                {{ _('Scan an item to begin') }}
              </td>
              {% endif %}
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="4"><b>{{ _('Total') }}</b></td>
              <td id="purchase-total">$0.00</td>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>
  </div>

  <div class="col-md-3">
    <button type="button" id="btn-purchase-user" class="btn btn-success btn-lg btn-submit-purchase">{{ _('Pay With Your User Account') }}</button>
    {% for pool in pools %}
    <button type="button" id="btn-purchase-pool-{{ pool.id }}" class="btn btn-success btn-lg btn-submit-purchase">{{ _('Pay With %(pool_name)s Pool')|format(pool_name=pool.name) }}</button>
    {% endfor %}
  </div>

</div>

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-item.js'|static_url}}"></script>
{% endblock %}

{% block timeout %}60*1000*50{% endblock %}
