{% extends "base.jinja2" %}
{% block title %}Purchase Complete{% endblock %}

{% block alerts %}
<div class="alert alert-success" role="alert">Thank you! Your order is complete.</div>
{% endblock %}


{% block top %}

<div class="container">
  <h1>Purchase Complete</h1>
</div>

{% endblock %}



{% block content %}

{{ purchase_info_block }}


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Order</h3>
  </div>
  <div class="panel-body">

    <table class="table table-bordered" id="purchase_table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>

      <tbody>
        {{ order.rows }}
      </tbody>

      <tfoot>
        <tr>
          <td colspan="2"><b>Total</b></td>
          <td id="purchase-total">{{ order.total }}</td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>

{% endblock %}
