<div class="row">
  <div class="col-md-5">
    
    <div class="panel {% if user.balance < -5 %}panel-superdanger{% else %}panel-default{% endif %}">
      <div class="panel-heading">
        <h3 class="panel-title">{{ _('Customer') }}</h3>
      </div>
      <div class="panel-body">

        <dl class="dl-horizontal">
          <dt>{{ _('Name') }}</dt>
          <dd>{{ user.name }}</dd>

          <dt class="user-info-balance">{{ _('Account Balance') }}</dt>
          <dd class="user-info-balance">{{ user.balance|format_currency|safe }}</dd>

          {% if account_type == "pool" %}
          <dt>{{ _('%(pool_name)s Balance')|format(pool_name=pool.name) }}</dt>
          <dd>{{ pool.balance|format_currency|safe }}</dd>
          {% endif %}
        </dl>

        <div id="account-total-start" class="hidden">
          {{ user.balance }}
        </div>
        <div id="user-umid" class="hidden">{{ user.umid }}</div>
      </div>
    </div>

  </div>
  <div class="col-md-7">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ _('Links') }}</h3>
      </div>
      <div class="panel-body buttons">
        {% if active_page != "purchase" %}
        <a class="btn btn-primary btn-lg" href="/purchase/{{ user.umid }}">{{ _('Purchase') }}</a>
        {% endif %}
        {% if active_page != "account" %}
        <a class="btn btn-primary btn-lg" href="/profile/{{ user.umid }}">{{ _('Account') }}</a>
        {% endif %}
        {% if active_page != "deposit" %}
        <a class="btn btn-primary btn-lg" href="/deposit/{{ user.umid }}">{{ _('Deposit') }}</a>
        {% endif %}
        <a class="btn btn-warning btn-lg" href="/">{{ _('Logout') }}</a>
        {% if user.role == "administrator" or user.role == "manager" %}
        <a class="btn btn-success btn-lg" href="/admin">{{ _('Admin') }}</a>
        {% endif %}
      </div>
    </div>

  </div>
</div>
