<div class="row">
  <div class="col-md-6">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Customer</h3>
      </div>
      <div class="panel-body">

        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{ user.name }}</dd>

          <dt>Account Balance</dt>
          <dd>{{ user.balance|format_currency|safe }}</dd>
        </dl>

        <div id="account-total-start" class="hidden">
          {{ user.balance }}
        </div>
        <div id="user-umid" class="hidden">{{ user.umid }}</div>
      </div>
    </div>

  </div>
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Links</h3>
      </div>
      <div class="panel-body buttons">
        {% if page != "purchase" %}
        <a class="btn btn-primary btn-lg" href="/purchase/{{ user.umid }}">Purchase</a>
        {% endif %}
        {% if page != "account" %}
        <a class="btn btn-primary btn-lg" href="/profile/{{ user.umid }}">Account</a>
        {% endif %}
        {% if page != "deposit" %}
        <a class="btn btn-primary btn-lg" href="/deposit/{{ user.umid }}">Deposit</a>
        {% endif %}
        <a class="btn btn-warning btn-lg" href="/">Logout</a>
        {% if user.role == "administrator" or user.role == "manager" %}
        <a class="btn btn-success btn-lg" href="/admin">Admin</a>
        {% endif %}
      </div>
    </div>

  </div>
</div>