<div class="row">
  <div class="col-md-4">Old Balance</div>
  <div class="col-md-4">{{ transaction.old_balance }}</div>
</div>
<div class="row">
  <div class="col-md-4">Deposit</div>
  <div class="col-md-4">{{ transaction.deposit_amount }}</div>
</div>
<div class="row">
  <div class="col-md-4">New Balance</div>
  <div class="col-md-4">{{ transaction.new_balance }}</div>
</div>
