<table class="table">

  <thead>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    {{ transaction.items_html }}
  </tbody>

  <tfoot>
    <td colspan="2">Total</td>
    <td>{{ transaction.total }}</td>
  </tfoot>

</table>
