{% extends "base.jinja2" %}
{% block title %}User Information{% endblock %}


{% block top %}

<div class="container">
  <h1>{{ user.name }}</h1>
</div>

{% endblock %}


{% block content %}

<div class="row">
  <div class="col-md-6">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Customer</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">Name</div>
          <div class="col-md-8">{{ user.name }}</div>
        </div>
        <div class="row">
          <div class="col-md-4">uniqname</div>
          <div class="col-md-8">{{ user.uniqname }}</div>
        </div>
        <div class="row">
          <div class="col-md-4">Account Balance</div>
          <div class="col-md-8">{{ user.balance }}</div>
        </div>
        <div id="account-total-start" class="hidden">
          {{ user.balance }}
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Links</h3>
      </div>
      <div class="panel-body">
        <a class="btn btn-default" href="/purchase/{{ user.umid }}">Purchase</a>
        <a class="btn btn-default" href="/deposit">Deposit</a>
        <a class="btn btn-default" href="/">Logout</a>
      </div>
    </div>

  </div>
</div>

{# Display the transaction history list
 #}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Transaction History</h3>
  </div>
  <div class="panel-body">

    <ul id="transaction-history" class="list-group">

      
      {# Iterate all of the transactions in the user's history.
       #}
      {% for transaction in transactions %}

      <li class="list-group-item">
        {{ transaction.type }} | {{ transaction.date }}
        <button type="button" class="btn btn-default">Show</button>

        {# Choose what content to display based on the type of transaction
         # it is.
         #}
        {% if transaction.type == "purchase" %}

        {# Show a purchase transaction
         #}
        <div id="transaction-{{ transaction.id }}" class="hidden">
          <table class="table">

            <thead>
              <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>

            <tbody>
              {{ transaction.items_html }}
            </tbody>

            <tfoot>
              <td colspan="2">Total</td>
              <td>{{ transaction.total }}</td>
            </tfoot>

          </table>
        </div>

        {% elif transaction.type == "deposit" %}

        {# Show a deposit transaction
         #}
        <div id="transaction-{{ transaction.id }}" class="hidden">
          <div class="row">
            <div class="col-md-4">Old Balance</div>
            <div class="col-md-4">{{ transaction.old_balance }}</div>
          </div>
          <div class="row">
            <div class="col-md-4">Deposit</div>
            <div class="col-md-4">{{ transaction.deposit_amount }}</div>
          </div>
          <div class="row">
            <div class="col-md-4">New Balance</div>
            <div class="col-md-4">{{ transaction.new_balance }}</div>
          </div>
        </div>

        {% endif %}

      </li>
      
      {% endfor %}

    </ul>

  </div>
</div>

{% endblock %}

