{% extends "base.jinja2" %}
{% block title %}User Information{% endblock %}
{% block header %}{{ user.name }}{% endblock %}

{% block content %}

{% set page = 'account' %}
{% include "user_info.jinja2" %}

{# Display the transaction history list
 #}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Transaction History</h3>
  </div>
  <div class="panel-body">

    <ul id="transaction-history" class="list-group">


      {# Iterate all of the transactions in the user's history.
       #}
      {% for transaction in user.transactions|reverse %}

      <li id="btn-trans-{{ transaction.id }}" class="list-group-item btn-trans-showhide">

        {# Choose what content to display based on the type of transaction
         # it is.
         #}
        {% if transaction.type == "purchase" %}

        Purchase totaling {{ transaction.amount|format_currency|safe }} <small id="transaction-small-{{ transaction.id }}">touch to show</small>

        <span class="pull-right">{{ transaction.event.timestamp|pretty_date|safe }}</span>

        {# Show a purchase transaction
         #}
        <div id="transaction-{{ transaction.id }}" class="user-transaction-detail" style="display:none;">
          <table class="table table-bordered">

            <thead>
              <tr>
                <th class="item-title">Item Name</th>
                <th class="item-quantity" style="width: 15%;">Quantity</th>
                <th class="item-price" style="width: 15%;">Item Price</th>
                <th class="item-total" style="width: 15%;">Total Price</th>
              </tr>
            </thead>

            <tbody>
              {% for line_item in transaction.subtransactions %}
              <tr class="purchase-item">
                <td class="item-title">{{ line_item.item.name }}</td>
                <td class="item-quantity">{{ line_item.quantity }}</td>
                <td class="item-price">{{ line_item.price|format_currency|safe }}</td>
                <td class="item-total">{{ line_item.amount|format_currency|safe }}</td>
              </tr>
              {% endfor %}
            </tbody>

            <tfoot>
              <td colspan="3"><b>Total</b></td>
              <td class="item-total"><b>{{ transaction.amount|format_currency|safe }}</b></td>
            </tfoot>

          </table>
        </div>


        {% elif transaction.type == "cashdeposit" %}

        Deposit of {{ transaction.amount|format_currency|safe }}

        <span class="pull-right">{{ transaction.event.timestamp|pretty_date|safe }}</span>


        {% elif transaction.type == "adjustment" %}

        Adjustment of {{ transaction.amount }} by {{ transaction.event.admin.name }} <small id="transaction-small-{{ transaction.id }}">touch to show</small>
        <span class="pull-right">{{ transaction.event.timestamp|pretty_date|safe }}</span>

        <div id="transaction-{{ transaction.id }}" class="user-transaction-detail" style="display:none;">
          Notes: {{ transaction.event.notes }}
        </div>

        {% elif transaction.type == "btcdeposit" %}

        BTC Deposit of {{ transaction.amount }} ({{ transaction.amount_btc|safe }} BTC) <small id="transaction-small-{{ transaction.id }}">touch to show</small>

        <span class="pull-right">{{ transaction.event.timestamp|pretty_date|safe }}</span>

        <div id="transaction-{{ transaction.id }}" class="user-transaction-detail" style="display:none;">
          {{ transaction.img|safe }}
        </div>

        {% endif %}

      </li>

      {% endfor %}

      {% if user.transactions|length == 0 %}
      <li class="list-group-item">
        No transactions.
      </li>
      {% endif %}

    </ul>

  </div>
</div>

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-mcard.js'|static_url}}"></script>
{% endblock %}

