<div class="row">
  <div class="col-md-6">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Customer</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">Name</div>
          <div class="col-md-8">{{ user.name }}</div>
        </div>
        <div class="row">
          <div class="col-md-4">uniqname</div>
          <div class="col-md-8">{{ user.uniqname }}</div>
        </div>
        <div class="row">
          <div class="col-md-4">Account Balance</div>
          <div class="col-md-8">{{ user.balance|format_currency|safe }}</div>
        </div>
        <div id="account-total-start" class="hidden">
          {{ user.balance }}
        </div>
        <div id="user-umid" class="hidden">{{ user.umid }}</div>
      </div>
    </div>

  </div>
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Links</h3>
      </div>
      <div class="panel-body buttons">
        {% if page != "purchase" %}
        <a class="btn btn-primary btn-lg" href="/purchase/{{ user.umid }}">Purchase</a>
        {% endif %}
        {% if page != "account" %}
        <a class="btn btn-primary btn-lg" href="/user/{{ user.umid }}">Account</a>
        {% endif %}
        {% if page != "deposit" %}
        <a class="btn btn-primary btn-lg" href="/deposit/{{ user.umid }}">Deposit</a>
        {% endif %}
        <a class="btn btn-warning btn-lg" href="/">Logout</a>
      </div>
    </div>

  </div>
</div>