{% extends "base.jinja2" %}
{% block title %}User Information{% endblock %}
{% block header %}{{ name }}{% endblock %}

{% block content %}

{% set page = 'account' %}
{% include "user_info.jinja2" %}

{# Display the transaction history list
 #}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ _('Transaction History') }}</h3>
  </div>
  <div class="panel-body">

    <ul id="transaction-history" class="list-group">


      {# Iterate all of the transactions in the user's history.
       #}
      {% for transaction in transactions %}

      <li id="btn-trans-{{ transaction.id }}" class="list-group-item btn-trans-showhide">

        {# Choose what content to display based on the type of transaction
         # it is.
         #}
        {% if transaction.type == "purchase" %}

        {{ _('Purchase totaling %(amount)s')|format(amount=transaction.amount|format_currency)|safe }}
        <small id="transaction-small-toshow-{{ transaction.id }}">{{ _('touch to show') }}</small>
        <small id="transaction-small-tohide-{{ transaction.id }}" style="display:none;">{{ _('touch to hide') }}</small>

        <span class="pull-right">{{ transaction.event.timestamp|pretty_date|safe }}</span>

        {# Show a purchase transaction
         #}
        <div id="transaction-{{ transaction.id }}" class="user-transaction-detail" style="display:none;">
          <table class="table table-bordered">

            <thead>
              <tr>
                <th class="item-title">{{ _('Item') }}</th>
                <th class="item-quantity" style="width: 15%;">{{ _('Quantity') }}</th>
                <th class="item-price" style="width: 15%;">{{ _('Item Price') }}</th>
                <th class="item-total" style="width: 15%;">{{ _('Total Price') }}</th>
              </tr>
            </thead>

            <tbody>
              {% for line_item in transaction.subtransactions %}
              <tr class="purchase-item">
                <td class="item-title">{{ line_item.item.name }}</td>
                <td class="item-quantity">{{ line_item.quantity }}</td>
                <td class="item-price">{{ line_item.price|format_currency|safe }}</td>
                <td class="item-total">{{ line_item.amount|format_currency|safe }}</td>
              </tr>
              {% endfor %}
            </tbody>

            <tfoot>
              {% if transaction.discount %}
              {% set subtotal = transaction.amount / (1-transaction.discount) %}
              <tr>
                <td colspan="3"><b>{{ _('Subtotal') }}</b></td>
                <td id="purchase-subtotal">{{ subtotal|format_currency|safe }}</td>
              </tr>
              <tr>
                <td><b>{{ _('Discounts') }}</b></td>
                <td id="purchase-discount-percent" colspan="2">({{ '{:.2}'.format(transaction.discount*100) }}%)</td>
                <td id="purchase-discount">({{ (subtotal * transaction.discount)|format_currency|safe }})</td>
              </tr>
              {% endif %}
              <td colspan="3"><b>{{ _('Total') }}</b></td>
              <td class="item-total"><b>{{ transaction.amount|format_currency|safe }}</b></td>
            </tfoot>

          </table>
        </div>


        {% elif transaction.type == "cashdeposit" %}

        {{ _('Deposit of %(amount)s')|format(amount=transaction.amount|format_currency)|safe }}

        <span class="pull-right">{{ transaction.event.timestamp|pretty_date|safe }}</span>


        {% elif transaction.type == "adjustment" %}

        {{ _('Adjustment of %(amount)s by %(admin_name)s ')|format(amount=transaction.amount|format_currency, admin_name=transaction.event.admin.name)|safe }} <small id="transaction-small-{{ transaction.id }}">{{ _('touch to show') }}</small>
        <span class="pull-right">{{ transaction.event.timestamp|pretty_date|safe }}</span>

        <div id="transaction-{{ transaction.id }}" class="user-transaction-detail" style="display:none;">
          Notes: {{ transaction.event.notes }}
        </div>

        {% elif transaction.type == "btcdeposit" %}

        {{ _('BTC Deposit of %(amount_in_usd)s (%(amount_in_btc)s) ')|format(amount_in_usd=transaction.amount, amount_in_btc=transaction.amount_btc)|safe }} <small id="transaction-small-{{ transaction.id }}">{{ _('touch to show') }}</small>

        <span class="pull-right">{{ transaction.event.timestamp|pretty_date|safe }}</span>

        <div id="transaction-{{ transaction.id }}" class="user-transaction-detail" style="display:none;">
          {{ transaction.img|safe }}
        </div>

        {% endif %}

      </li>

      {% endfor %}

      {% if transactions|length == 0 %}
      <li class="list-group-item">
        {{ _('No transactions.') }}
      </li>
      {% elif transactions|length < transactions_count %}
      <hr />
      <a class="btn btn-default btn-lg pull-right" href="/profile/{{ user.umid }}?limit=0">{{ _('Show All') }}</a>
      {% endif %}

    </ul>

  </div>
</div>

{% endblock %}

{% block onload %}
<script src="{{'chezbetty:static/js/chezbetty-mcard.js'|static_url}}"></script>
{% endblock %}

